/*
 Theme Name:     Pure Diamond
 Theme URI:      http://purediamond.ca
 Description:    Divi child theme
 Author:         Igor Barbashin
 Author URI:     http://fancycolors.ca
 Template:       Divi
 Version:        1.0.0
*/
 
@import url("../Divi/style.css");

//Brand Colors
@blue: #38bbcd;
@dark-purple: #3d406d;



//Helper mixins
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}

.clearfix { 
  *zoom: 1; 
  &:before,
  &:after {
    content: " ";
    display: table;
  } 
  &:after { clear: both; }
  
} 

.rounded(@px) {
  -moz-border-radius: @px;
  -webkit-border-radius: @px;
  border-radius: @px; /* future proofing */
}

h1, h2, h3, h4, h5 {
	margin: 0 0 15px;
	color: @blue;
	font-weight: normal !important;
	text-transform: uppercase;
}
h1 { font-size: 2.1em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.3em; }
h4 { margin-bottom: 1em; font-size: 1em; font-weight: bold; color: @dark-purple; }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.underline { line-height: .8em; border-bottom: 1px solid #d9dae0; }



