@import url("../Divi/style.css");
/*
 Theme Name:     Pure Diamond
 Theme URI:      http://purediamond.ca
 Description:    Divi child theme
 Author:         Igor Barbashin
 Author URI:     http://fancycolors.ca
 Template:       Divi
 Version:        1.0.0
*/
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 15px;
  color: #38bbcd;
  font-weight: normal !important;
  text-transform: uppercase;
}
h1 {
  font-size: 2.1em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  color: #3d406d;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.underline {
  line-height: .8em;
  border-bottom: 1px solid #d9dae0;
}
#content-area {
  margin-bottom: 10%;
}
#main-content #left-area {
  font-size: 1.2em;
}
#main-content #left-area h1,
#main-content #left-area h2,
#main-content #left-area h3 {
  color: #3d406d;
  font-weight: bold !important;
}
#main-content #left-area h2 {
  font-size: 1.2em;
}
#main-content #left-area a,
#main-content #sidebar a {
  color: #38bbcd !important;
  line-height: .8em;
  border-bottom: 1px solid #d9dae0;
}
#main-content #left-area a:hover,
#main-content #sidebar a:hover {
  color: #007d8e !important;
}
.et_pb_section {
  padding-top: 0;
}
#sidebar {
  width: 300px !important;
  border-left: 1px solid #38bbcd;
}
#sidebar h4 {
  padding: 0;
  font-size: 1.4em !important;
  color: inherit;
}
#sidebar a {
  font-size: 1.1em;
}
#sidebar .et_pb_widget {
  margin-bottom: 50px !important;
}
.et_right_sidebar #left-area {
  width: 735px;
}
