  <!-- Template for login modal window -->
  <link rel="stylesheet" href="css/file-upload.css" type="text/css">
  <div class="modal-header">
    <h3 ng-show="!isEdit" class="modal-title text-center">Add a New Designer</h3>
    <h3 ng-show="isEdit" class="modal-title text-center">Edit Designer</h3>
  </div>

  <div class="modal-body">
    <form class="form-horizontal" role="form">
    
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="input-title">Name</label>
          <input type="text" class="form-control" id="input-name" ng-model="designer.name" required ng-change="slugGen(designer.name)"><br/>
          <label for="input-slug">Slug</label>
          <input type="text" class="form-control" id="input-slug" ng-model="designer.slug" required><br/>
          <label for="input-description">Description</label>
          <textarea id="input-description" ng-model="designer.description" cols="20" rows="10" class="form-control"></textarea>
        </div>
      </div>


      <div class="modal-footer">
          <button class="btn btn-danger" ng-show="isEdit" ng-click="delete(designer)">Delete</button>
          <button class="btn btn-primary" ng-click="submit(selectedItems)">Submit</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>
  <!-- End of the template -->