  <!-- Template for login modal window -->
  <link rel="stylesheet" href="css/file-upload.css" type="text/css">
  <div class="modal-header">
    <h3 ng-show="!isEdit" class="modal-title text-center">Add a New Product</h3>
    <h3 ng-show="isEdit" class="modal-title text-center">Edit Product
    <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="previewRing(ring)"><i class="fa fa-eye" aria-hidden="true"></i></button></h3>
  </div>

  <div class="modal-body">
    <form class="form-horizontal" role="form">

      <div class="form-group row">
        <div class="col-sm-4">
          <label for="input-title">Title</label>
          <input type="text" class="form-control" id="input-title" ng-model="ring.title" required>
        </div>
        <div class="col-sm-4">
          <label for="input-lot">Lot#</label>
          <input type="text" class="form-control" id="input-lot" ng-model="ring.lot_number" required>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6">
            <label for="input-price">Price</label>
            <input type="text" class="form-control" id="input-price" ng-model="ring.price" required>
          </div>
          <div class="col-sm-6">
            <label for="input-discount">Discount</label>
            <input type="text" class="form-control" id="input-discount" ng-model="ring.discount">
          </div>
        </div>

      </div>

      <div class="form-group">

        <div class="col-sm-3">
          <label for="input-category">Category</label>
          <select class="form-control" id="input-category"
              ng-model="selectedItems.selectedCategory"
              ng-options="category.name for category in categories" required>
          </select>
        </div>

        <div class="col-sm-3">
          <label for="input-metal">Metals</label><span><small><em> ({{selectedItems.selectedMetals.length}} of {{ring.metals.length}} selected)</em></small></span>
            <select multiple class="form-control" id="input-metal"
              ng-model="selectedItems.selectedMetals"
              ng-options="metal.name for metal in ring.metals" required>
            </select>
        </div>

        <div class="col-sm-3">
          <label for="input-shapes">Shapes</label><span><small><em> ({{selectedItems.selectedShapes.length}} of {{ring.shapes.length}} selected)</em></small></span>
            <select multiple class="form-control" id="input-shapes"
              ng-model="selectedItems.selectedShapes"
              ng-options="shape.name for shape in ring.shapes" required>
          </select>
        </div>

        <div class="col-sm-3">
          <label for="input-collection">Collections</label><span><small><em> ({{selectedItems.selectedCollections.length}} of {{ring.collections.length}} selected)</em></small></span>
          <select multiple class="form-control" id="input-collection"
              ng-model="selectedItems.selectedCollections"
              ng-options="collection.name for collection in ring.collections" required>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-4">
          <label for="input-weight-min">Stone Weight</label>
          <div class="row">
            <div class="col-sm-6">
              <input type="text" class="form-control" id="input-weight-min" placeholder="Min" ng-model="ring.stone_weight_min" required>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="input-weight-max" placeholder="Max" ng-model="ring.stone_weight_max" required>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <label for="input-designer">Designer</label>
          <span>
            <select class="form-control" id="input-designer"
                ng-model="selectedItems.selectedDesigner"
                ng-options="designer.name for designer in ring.designers" required>                
            </select>
          </span>
        </div>

        <div class="col-sm-4 checkbox">
          <label>
            <input type="checkbox" id="published" ng-model="ring.published"> Published
          </label>
          <br>
          <label>
            <input type="checkbox" id="featured" ng-model="ring.featured"> Featured on homepage
          </label>
          <br>
          <label>
            <input type="checkbox" id="sale" ng-model="ring.sale"> Sale
          </label>
        </div>

      </div>

      <div class="form-group">
        <div class="col-sm-12">
          
          <div class="insta-box col-sm-6 nopadding">
            <label for="instagram">Instagram Picture</label>
            <input type="text" name="instagram" id="instagram" class="form-control" ng-model="ring.instagram"/>
          </div>

          <div class="youtube-box col-sm-6 nopadding">
            <label for="youtube">Youtube</label>
            <input type="text" name="youtube" id="youtube" class="form-control" ng-model="ring.youtube">
          </div>

        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-6">
          <label for="description">Description</label>
          <text-angular class="col-sm-12 nopadding" name="description" id="description" cols="30" rows="8" ng-model="ring.description"></text-angular>
        </div>

        <div class="col-sm-6">
          <label for="details">Details</label>
          <text-angular class="col-sm-12 nopadding" name="details" id="details" cols="30" rows="8" ng-model="ring.details"></text-angular>
        </div>
      </div>

      <div class="form-group noborder" ng-show="ring.images.length > 0">
          <div id="ring-images" class="col-sm-8 nopadding">
            <label for="ring-images" class="col-sm-12">Images</label>
            <br>
            <div ng-repeat="image in ring.images" class="ring-image col-sm-2 text-center">
              <img ng-show="image.favorite" ng-src="{{image.url}}" class="img-responsive img-thumbnail" title="Primary image">
              <img ng-show="!image.favorite" ng-src="{{image.url}}" class="img-responsive img-rounded">
              <p>
                <button ng-hide="image.favorite" class="btn btn-default btn-xs" ng-click="imageFavorite(image)" title="Make image primary"><span class="glyphicon glyphicon-star"></span></button>
                <button class="btn btn-default btn-xs" ng-click="imageDelete(image)" title="Delete image"><span class="glyphicon glyphicon-remove"></span></button>
              </p>
            </div>
            <!-- <p>
              <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">or drop new images here</div>
              <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
               <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
            </p> -->

          </div>
      </div>


      <div class="form-group noborder">
        <div class="col-sm-12">
            <input id="upload-new-images" type="file" ng-file-select="onFileSelect($files)" multiple ng-click="resetInputFile()">
            <button class="btn btn-default" ng-click="clearFiles()" ng-show="selectedFiles">Clear files</button>
        </div>
        <div class="col-sm-12 nopadding" ng-show="selectedFiles">
          <div ng-repeat="f in selectedFiles">
            <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}" class="col-sm-2 img-responsive">
          </div>
        </div>
      </div>


      <div class="modal-footer">
          <button class="btn btn-danger" ng-show="isEdit" ng-click="delete(ring)">Delete</button>
          <button class="btn btn-primary" ng-click="submit(selectedItems, selectedFiles, true)">Save and preview</button>
          <button class="btn btn-primary" ng-click="submit(selectedItems, selectedFiles)">Submit</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>
  <!-- End of the template -->
