  <!-- Template for login modal window -->
  <link rel="stylesheet" href="css/file-upload.css" type="text/css">
  <div class="modal-header">
    <h3 ng-show="!isEdit" class="modal-title text-center">Add a New Stone</h3>
    <h3 ng-show="isEdit" class="modal-title text-center">Edit Stone 
    <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="previewStone(stone)"><i class="fa fa-eye" aria-hidden="true"></i></button> 
    </h3>
  </div>

  <div class="modal-body">
    <form class="form-horizontal" role="form">

      <div class="form-group row">
        <div class="col-sm-2">
          <label for="input-stock">Stock#</label>
          <input type="text" class="form-control" id="input-stock" ng-model="stone.stock_number" required>
        </div>
        <div class="col-sm-2">
          <label for="input-lab">Lab</label>
          <select class="form-control" id="input-lab"
              ng-model="selectedItems.selectedLabs"
              ng-options="lab.name for lab in stone.labs" required>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="input-cert">Certificate#</label>
          <input type="text" class="form-control" id="input-cart" ng-model="stone.cert_number">
        </div>
        <div class="col-sm-1">
          <label for="input-carat">Carat</label>
          <input type="text" class="form-control" id="input-carat" ng-model="stone.weight" required>
        </div>
        <div class="col-sm-2">
          <label for="input-price">Price</label>
          <input type="text" class="form-control" id="input-price" ng-model="stone.price" required>
        </div>
        <div class="col-sm-2">
          <label for="input-discount">Discount</label>
          <input type="text" class="form-control" id="input-discount" ng-model="stone.discount">
        </div>
        

      </div>

      <div class="form-group">

        <div class="col-sm-3">
          <label for="input-shape">Shape</label>
          <select class="form-control" id="input-shape"
              ng-model="selectedItems.selectedShapes"
              ng-options="shape.name for shape in stone.shapes" required>
          </select>
        </div>

        <div class="col-sm-2">
          <label for="input-color">Color</label>
          <select class="form-control" id="input-color"
              ng-model="selectedItems.selectedColors"
              ng-options="color.name for color in stone.colors" required>
          </select>
        </div>

        <div class="col-sm-2">
          <label for="input-clarity">Clarity</label>
          <select class="form-control" id="input-clarity"
              ng-model="selectedItems.selectedClarities"
              ng-options="clarity.name for clarity in stone.clarities" required>
          </select>
        </div>

        <div class="col-sm-2">
          <label for="input-cut">Cut</label>
          <select class="form-control" id="input-cut"
              ng-model="selectedItems.selectedCuts"
              ng-options="cut.name for cut in stone.cuts" required>
          </select>
        </div>

        <div class="col-sm-3">
          <label for="input-measurements">Measurements</label>
          <input type="text" class="form-control" id="input-measurements" ng-model="stone.measurements" required>
        </div>

      </div>

      <div class="form-group">
        
        <div class="col-sm-2">
          <label for="input-depth">Depth</label>
          <input type="text" class="form-control" id="input-depth" ng-model="stone.depth">
        </div>
        <div class="col-sm-2">
          <label for="input-table">Table</label>
          <input type="text" class="form-control" id="input-table" ng-model="stone.table">
        </div>     
        <div class="col-sm-2">
          <label for="input-polish">Polish</label>
          <select class="form-control" id="input-polish"
              ng-model="selectedItems.selectedPolishes"
              ng-options="polish.name for polish in stone.polishes">
          </select>
        </div>
        <div class="col-sm-2">
          <label for="input-symmetry">Symmetry</label>
          <select class="form-control" id="input-symmetry"
              ng-model="selectedItems.selectedSymmetries"
              ng-options="symmetry.name for symmetry in stone.symmetries">
          </select>
        </div>
        <div class="col-sm-2">
          <label for="input-fluorescence">Fluorescence</label>
          <select class="form-control" id="input-fluorescence"
              ng-model="selectedItems.selectedFluorescences"
              ng-options="fluorescence.name for fluorescence in stone.fluorescences">
          </select>
        </div> 
        <div class="col-sm-2">
          <label>
            <input type="checkbox" id="specials" ng-model="stone.specials"> Specials
          </label>
        </div>

      </div>

      <div class="form-group">
        <div class="col-sm-6">
          <label for="input-youtube">Youtube</label>
          <input type="text" class="form-control" id="input-youtube" ng-model="stone.youtube">
        </div>
      </div>

      <div class="form-group noborder" ng-show="stone.images.length > 0">
          <div id="ring-images" class="col-sm-12 nopadding">
            <label for="stone-images" class="col-sm-12">Images</label>
            <br>
            <div ng-repeat="image in stone.images" class="ring-image col-sm-2 text-center">
              <img ng-show="image.favorite" ng-src="{{image.url}}" class="img-responsive img-thumbnail" title="Primary image">
              <img ng-show="!image.favorite" ng-src="{{image.url}}" class="img-responsive img-rounded">
              <p>
                <button ng-hide="image.favorite" class="btn btn-default btn-xs" ng-click="imageFavorite(image)" title="Make image primary"><span class="glyphicon glyphicon-star"></span></button>
                <button class="btn btn-default btn-xs" ng-click="imageDelete(image)" title="Delete image"><span class="glyphicon glyphicon-remove"></span></button>
              </p>
            </div>
            <!-- <p>
              <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">or drop new images here</div>
              <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
               <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
            </p> -->
          </div>
      </div>

      <div class="form-group noborder">
        <div class="col-sm-12">
            <input id="upload-new-images" type="file" ng-file-select="onFileSelect($files)" multiple ng-click="resetInputFile()">
            <button class="btn btn-default" ng-click="clearFiles()" ng-show="selectedFiles">Clear files</button>
        </div>
        <div class="col-sm-12 nopadding" ng-show="selectedFiles">
          <div ng-repeat="f in selectedFiles">
            <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}" class="col-sm-2 img-responsive">
          </div>
        </div>
      </div>

      


      <div class="modal-footer">
          <button class="btn btn-danger" ng-show="isEdit" ng-click="delete(stone)">Delete</button>
          <button class="btn btn-primary" ng-click="submit(selectedItems, selectedFiles, true)">Save and preview</button>
          <button class="btn btn-primary" ng-click="submit(selectedItems, selectedFiles)">Submit</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>
  <!-- End of the template -->
