@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?8l8uqx');
	src:url('fonts/icomoon.eot?#iefix8l8uqx') format('embedded-opentype'),
		url('fonts/icomoon.woff?8l8uqx') format('woff'),
		url('fonts/icomoon.ttf?8l8uqx') format('truetype'),
		url('fonts/icomoon.svg?8l8uqx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook-letter:before {
	content: "\75";
}
.icon-instagram:before {
	content: "\69";
}
.icon-appointment:before {
	content: "\31";
}
.icon-share:before {
	content: "\32";
}
.icon-wishlist.selected:before {
	content: "\57";
}
.icon-wishlist:before {
	content: "\77";
}
.icon-twitter:before {
	content: "\71";
}
.icon-facebook:before {
	content: "\74";
}
.icon-pinterest:before {
	content: "\79";
}
.icon-heart:before {
	content: "\68";
}
.icon-heart.selected:before {
	content: "\48";
}
.icon-pear:before {
	content: "\70";
}
.icon-pear.selected:before {
	content: "\50";
}
.icon-oval:before {
	content: "\6f";
}
.icon-oval.selected:before {
	content: "\4f";
}
.icon-cushion:before {
	content: "\63";
}
.icon-cushion.selected:before {
	content: "\43";
}
.icon-radiant:before {
	content: "\64";
}
.icon-radiant.selected:before {
	content: "\44";
}
.icon-marquise:before {
	content: "\6d";
}
.icon-marquise.selected:before {
	content: "\4d";
}
.icon-princess:before {
	content: "\73";
}
.icon-princess.selected:before {
	content: "\53";
}
.icon-emerald:before {
	content: "\65";
}
.icon-emerald.selected:before {
	content: "\45";
}
.icon-asscher:before {
	content: "\61";
}
.icon-asscher.selected:before {
	content: "\41";
}
.icon-round:before {
	content: "\72";
}
.icon-round.selected:before {
	content: "\52";
}
