<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="collection in collections">
        <td>{{collection.name}}</td>

        <td><button type="button" class="btn btn-primary btn-xs" ng-click="onEditCollectionClick(collection)">edit</button></td>



      </tr>     
    </tbody>
  </table>
  <div><button type="button" class="btn btn-primary pull-right" ng-click='onAddCollectionClick("lg", null, false)'>Add new collection</button></div>
</div>

