<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="designer in designers">
              <td>{{designer.name}}</td>

              <td><button type="button" class="btn btn-primary btn-xs" ng-click="onEditDesignerClick(designer)">edit</button></td>



          </tr>     
    </tbody>
  </table>
  <div><button type="button" class="btn btn-primary pull-right" ng-click='onAddDesignerClick("lg", null, false)'>Add new designer</button></div>
</div>

