<div class="table-responsive">
  <table class="table-condensed row-border hover" datatable="ng" dt-options="dtOptions">
    <thead>
      <tr>
        <th>Date</th>
        <th>Status</th>
        <th>User</th>
        <th>Sum</th>
        <th>Billing Address</th>
        <th>Shipping Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders">
              <td>{{order.date | date:'M.d.yyyy, HH:mm'}}</td>
              <td>{{order.status}}</td>
              <td>
                <div>{{order.user.userName}}</div>
                <div>{{order.user.firstName}} {{order.user.lastName}}</div>
              </td>
              <td>
                <div>Total: {{order.total}}</div>
                <div>Tax: {{order.tax}}</div>
                <div>Subtotal: {{order.subtotal}}</div>
              </td>
              <td>
                <div>First Name: {{order.billing_address.firstName}}</div>
                <div>Last Name: {{order.billing_address.lastName}}</div>
                <div>Address: {{order.billing_address.line1}}</div>
                <div>Address: {{order.billing_address.line2}}</div>
                <div>Country: {{order.billing_address.country}}</div>
                <div>Province: {{order.billing_address.province}}</div>
                <div>City: {{order.billing_address.city}}</div>
                <div>Postal: {{order.billing_address.postalCode}}</div>
                <div>Phone: {{order.billing_address.phone}}</div>
              </td>
              <td>
                <div>First Name: {{order.shipping_address.firstName}}</div>
                <div>Last Name: {{order.shipping_address.lastName}}</div>
                <div>Address: {{order.shipping_address.line1}}</div>
                <div>Address: {{order.shipping_address.line2}}</div>
                <div>Country: {{order.shipping_address.country}}</div>
                <div>Province: {{order.shipping_address.province}}</div>
                <div>City: {{order.shipping_address.city}}</div>
                <div>Postal: {{order.shipping_address.postalCode}}</div>
                <div>Phone: {{order.shipping_address.phone}}</div>
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" ng-click="onDeleteOrderClick(order)">delete</button>
              </td>
          </tr>     
    </tbody>
  </table>

</div>