<div id="page-edit">
  <form class="form-horizontal" role="form">

    <div class="form-group row">
      <div class="col-sm-4">
        <label for="sale-title">Page title</label>
        <input type="text" class="form-control" id="sale-title" ng-model="page.title" required><br/>
        <label for="sale-subtitle">Page subtitle</label>
        <input type="text" class="form-control" id="sale-subtitle" ng-model="page.subtitle">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <label for="sale-menutitle">Menu title</label>
        <input type="text" class="form-control" id="sale-menutitle" ng-model="page.menu_title" required value="Sale"><br/>
        <label>
          <input type="checkbox" id="sale-published" ng-model="page.published"> Page Published
        </label>
      </div>
    </div>



    <button class="btn btn-primary" ng-click="submit()">Save</button>

  </form>

</div>
