<!-- <button type="button" class="btn btn-primary" ng-click='rebuild_thumbs()'>Rebuild thumbs</button> -->
<div class="table-responsive products-list">
	<div><button type="button" class="btn btn-primary pull-right" ng-click='onAddRingClick("lg", null, false)'>Add new product</button></div>
	<table class="row-border hover" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"></table>
	<div><button type="button" class="btn btn-primary pull-right" ng-click='onAddRingClick("lg", null, false)'>Add new product</button></div>
</div>
