<div>
	<button class="btn btn-default" ng-click="uploadBoxShow = !uploadBoxShow">Upload inventory</button>
	<button type="button" class="btn btn-primary" ng-click='onAddStoneClick("lg", null, false)'>Add new stone</button>
</div>

<div id="inventory-upload-box" ng-show="uploadBoxShow">
	<link rel="stylesheet" href="css/file-upload.css" type="text/css">
	<p>Upload inventory</p>
	<div class="col-sm-2">
		<label for="input-markup">Markup</label>
		<input type="text" class="form-control" id="input-markup" ng-model="inventoryData.markup" required>
    </div>
    <div class="col-sm-2">
		<label for="input-exchange">Dollar exchange</label>
		<input type="text" class="form-control" id="input-exchange" ng-model="inventoryData.exchange" required>
    </div>
    <br>
    <div class="col-sm-2"><input type="file" class="files-upload" ng-file-select="onFileSelect($files)" multiple ng-click="resetInputFile()"></div>
	<!-- <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">or drop files here</div>
	<div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
	<br/> -->
	<div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
	<br/>
	<div ng-show="selectedFiles != null && !inventoryStartOver">
		<div ng-repeat="f in selectedFiles">
			<button class="btn btn-default" ng-click="start($index)" ng-show="progress[$index] < 0">Upload</button>
			<div class="progress" data-ng-show="progress[$index] < 100">
	 			<progressbar animate="false" value="progress[$index]" type="primary"><b>{{f.name}} ({{progress[$index]}}%)</b></progressbar>
			</div>				
		</div>
	</div>
	<div data-ng-show='inventoryUploadResponse && inventoryUploadResponse.files.length > 0'>
		<p data-ng-show='inventoryUploadResponse && inventoryUploadResponse.files.length == 1'>The file is uploaded and waiting for processing:</p>
		<p data-ng-show='inventoryUploadResponse && inventoryUploadResponse.files.length > 1'>These {{inventoryUploadResponse.files.length}} files are uploaded and waiting for processing:</p>
		<div class="progress" ng-repeat="file in inventoryUploadResponse.files">
			<div responsive-progress is-active="processProgessActive" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				{{file.filename}}
			</div>

		</div>				

		<div data-ng-show='!processProgessActive'>
			<button class="btn btn-success" ng-click="onProcessClick()"><span class="glyphicon glyphicon-cog"></span> Process files...</button>
			<button class="btn btn-default pull-right" ng-click="onStartOverClick()"><span class="glyphicon glyphicon-remove"></span> Clear files and start over</button>
		</div>
		<div data-ng-show='processProgessActive'>
			<p>Processing...</p>
		</div>

	</div>
 	<br>
	<div data-ng-show='inventoryProcessedResponse'>
		<div class="well well-lg">
			<h5><span class="glyphicon glyphicon-ok"></span>  Items Imported <span class="badge">{{inventoryProcessedResponse.itemsImported}}</span></h5>
			<h5><span class="glyphicon glyphicon-info-sign"></span>  Total items in CSV files <span class="badge">{{inventoryProcessedResponse.totalItems}}</span></h5>

			<div data-ng-show='inventoryProcessedResponse.noCertItems > 0'>
				<h5><span class="glyphicon glyphicon-warning-sign"></span>  Items without lot numbers <span class="badge">{{inventoryProcessedResponse.noCertItems}}</span></h5>
			</div>

			<div data-ng-show='inventoryProcessedResponse.lowQualityItems > 0'>
				<h5><span class="glyphicon glyphicon-warning-sign"></span>  Low quality items (I3) <span class="badge">{{inventoryProcessedResponse.lowQualityItems}}</span></h5>
			</div>


			
			<div data-ng-show='inventoryProcessedResponse.duplicateItems.length > 0'>
				<h5><span class="glyphicon glyphicon-warning-sign"></span>  Items with duplicate certificate numbers <span class="badge">{{inventoryProcessedResponse.duplicateItems.length}}</span><button class="btn btn-default btn-xs" ng-click="dupCertCollapsed = !dupCertCollapsed">{{dupCertCollapsed ? 'Show' : 'Hide'}}</button></h5>
				<div collapse="dupCertCollapsed">
					<div class="well">
						<p ng-repeat="item in inventoryProcessedResponse.duplicateItems track by $index">{{item}}</p>
					</div> 
				</div>
			</div>

			<div data-ng-show='inventoryProcessedResponse.errors.length > 0'>
				<h5><span class="glyphicon glyphicon-remove"></span>  Errors <span class="badge">{{inventoryProcessedResponse.errors.length}}</span><button class="btn btn-default btn-xs" ng-click="errorsCollapsed = !errorsCollapsed">{{errorsCollapsed ? 'Show' : 'Hide'}}</button></h5>
				<div collapse="errorsCollapsed">
					<div class="well">
						<p ng-repeat="error in inventoryProcessedResponse.errors">
							{{error.description}}. 
							{{error.message}}
						</p>
					</div> 
				</div>
			</div>
			<br>
			<button class="btn btn-primary btn-lg center-block" ng-click="onSubmitClick()">SUBMIT</button>
		</div> 
	</div>

	<div data-ng-show='submitResponse'>
		<h3 data-ng-show='!inventorySubmitFailed' class="bg-success text-center live-padding">Your data is now live</h3>
		<h3 data-ng-show='inventorySubmitFailed' class="bg-danger text-center live-padding">Something went wrong! Please try again.</h3>
	</div>

</div>



<div class="table-responsive products-list">
	<table class="row-border hover" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"></table>
</div>






