<div id="addresses" class="container">  
  <form name="billingAddressForm" class="form-horizontal" role="form">
    <div class="col-sm-6 left-col">
      <div class="col-sm-11">
        <h1>BILLING ADDRESS</h1>
        <div class="subtitle">Required fields marked with *</div>
        <div class="bordered-block">
          <!-- <form name="billingAddressForm" class="form-horizontal" role="form"> -->
            <div class="form-group">
              <label for="input-bill-fname" class="col-sm-4 control-label">First name*</label>
              <div class="col-sm-8">
                <input type="text" name="first-name" class="form-control" id="input-bill-fname" ng-model="address.billing.firstName" ng-change="shippingChange()" required>
              </div>
            </div>
            <div class="form-group">
              <label for="input-bill-lname" class="col-sm-4 control-label">Last name*</label>
              <div class="col-sm-8">
                <input type="text" name="last-name" class="form-control" id="input-bill-lname" ng-model="address.billing.lastName" ng-change="shippingChange()" required>
              </div>
            </div>
            <div class="form-group">
              <label for="input-bill-address1" class="col-sm-4 control-label">Address Line 1*</label>
              <div class="col-sm-8">
                <input type="text" name="address-1" class="form-control" id="input-bill-address1" ng-model="address.billing.addressLine1" ng-change="shippingChange()" required>
              </div>
            </div>
            <div class="form-group">
              <label for="input-bill-address2" class="col-sm-4 control-label">Address Line 2</label>
              <div class="col-sm-8">
                <input type="text" name="address-2" class="form-control" id="input-bill-address2" ng-model="address.billing.addressLine2" ng-change="shippingChange()">
              </div>
            </div>
            <div class="form-group">
              <label for="input-bill-country" class="col-sm-4 control-label">Country*</label>
              <div class="col-sm-8">
                <input type="text" name="country" class="form-control" id="input-bill-country" ng-model="address.billing.country" ng-change="shippingChange()">
              </div>
            </div>
            <div class="form-group">
              <label for="input-bill-state" class="col-sm-4 control-label">Province / State*</label>
              <div class="col-sm-8">
                <input type="text" name="province" class="form-control" id="input-bill-province" ng-model="address.billing.province" ng-change="shippingChange()">
              </div>
            </div>
            <div class="form-group">
              <label for="input-bill-city" class="col-sm-4 control-label">City / Town*</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="city" id="input-bill-city" ng-model="address.billing.city" ng-change="shippingChange()" required>
              </div>
            </div>            
            <div class="form-group">
              <label for="input-bill-zip" class="col-sm-4 control-label">Postal Code/Zip*</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="postal" id="input-bill-zip" ng-model="address.billing.postalCode" ng-change="shippingChange()" required>
              </div>
            </div>
            <div class="form-group">
              <label for="input-bill-phone" class="col-sm-4 control-label">Telephone*</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="phone" id="input-bill-phone" ng-model="address.billing.phone" ng-change="shippingChange()" required>
              </div>
            </div>
            <div class="form-group">
              <label for="input-bill-email" class="col-sm-4 control-label">Email Address*</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" name="email" id="input-bill-email" ng-model="address.billing.email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="input-bill-confemail" class="col-sm-4 control-label">Confirm Email Address*</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" name="confirm-email" id="input-bill-confemail" ng-model="address.billing.confirmEmail" required>
              </div>
              <div class="col-sm-8 text-danger" ng-show="address.billing.confirmEmail && address.billing.email != address.billing.confirmEmail">Email addresses don't match</div>
            </div>
            
            <div class="checkbox">
              <label>
                <input icheck type="checkbox" id="subscribe" ng-model="address.billing.subscribe"> Send me pure diamond news, updates &amp; offers.
              </label>
            </div>            

          <!-- </form>  -->
        </div>  
      </div>      
    </div>

    <div class="col-sm-6 right-col">
      <div class="col-sm-11 col-sm-offset-1">
        
        <h1>SHIPPING ADDRESS</h1>
        <!-- <div class="subtitle checkbox"><b></b><span>Same as billing address</span></div> -->
        <div class="subtitle">
          <label>
            <input icheck type="checkbox" ng-model="address.billing.shippingSameAsBilling" ng-change="shippingChange()">Same as billing address
          </label>
        </div>            

        <div class="bordered-block">
          <!-- <form class="form-horizontal" role="form"> -->
            <div class="form-group">
              <label for="input-ship-fname" class="col-sm-4 control-label">First name*</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input-ship-fname" ng-model="address.shipping.firstName" ng-disabled="address.billing.shippingSameAsBilling" required>
              </div>
            </div>
            <div class="form-group">
              <label for="input-ship-lname" class="col-sm-4 control-label">Last name*</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input-ship-lname" ng-model="address.shipping.lastName" ng-disabled="address.billing.shippingSameAsBilling" required>
              </div>
            </div>
            <div class="form-group">
              <label for="input-ship-address1" class="col-sm-4 control-label">Address Line 1*</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input-ship-address1" ng-model="address.shipping.addressLine1" ng-disabled="address.billing.shippingSameAsBilling" required>
              </div>
            </div>
            <div class="form-group">
              <label for="input-ship-address2" class="col-sm-4 control-label">Address Line 2*</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input-ship-address2" ng-model="address.shipping.addressLine2" ng-disabled="address.billing.shippingSameAsBilling">
              </div>
            </div>
            <div class="form-group">
              <label for="input-ship-country" class="col-sm-4 control-label">Country*</label>
              <div class="col-sm-8">
                
                <input type="text" class="form-control" id="input-ship-country" ng-model="address.shipping.country" ng-disabled="address.billing.shippingSameAsBilling">

              </div>
            </div>
            <div class="form-group">
              <label for="input-ship-state" class="col-sm-4 control-label">Province / State*</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" id="input-ship-state" ng-model="address.shipping.province" ng-disabled="address.billing.shippingSameAsBilling">
              </div>
            </div>
            <div class="form-group">
              <label for="input-ship-city" class="col-sm-4 control-label">City / Town*</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input-ship-city" ng-model="address.shipping.city" required ng-disabled="address.billing.shippingSameAsBilling">
              </div>
            </div>            
            <div class="form-group">
              <label for="input-bill-zip" class="col-sm-4 control-label">Postal Code/Zip*</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input-bill-zip" ng-model="address.shipping.postalCode" required ng-disabled="address.billing.shippingSameAsBilling">
              </div>
            </div>
            <div class="form-group">
              <label for="input-bill-phone" class="col-sm-4 control-label">Telephone*</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input-bill-phone" ng-model="address.shipping.phone" required ng-disabled="address.billing.shippingSameAsBilling">
              </div>
            </div>

          <!-- </form>  -->
        </div>
        <div class="col-sm-offset-7 col-sm-5 nopadding-right actions">
            <!-- <a ng-click="onShippingone(billingAddress, shippingAddress)" class="button full-width">Continue</a> -->
            <!-- <a ng-href="#payment-details" class="button full-width">Continue</a> -->
            <button class="button full-width" ng-click="submit()">Continue</button>
            <p>
              <a href="/customer-care/100-risk-free-shopping" target="blank">100% Risk-free shopping</a>
            </p>
        </div>
      </div>
    </div>
    </form>
</div>