<div class="page-head ng-scope">
    <div class="header-title">
      <h2>Placing an Order</h2>
    </div>
</div>
<div id="addresses" class="container"> 
  <div class="show-placed" ng-show="showPlaced">Thank you for your order! <br>We will contact you shortly!</div>
  <form name="orderForm" class="form-horizontal" role="form" ng-hide="showPlaced">
    <div class="col-sm-6 left-col">
      <div class="col-sm-11">
        
        <div class="contact-form">
          <!-- <form name="billingAddressForm" class="form-horizontal" role="form"> -->
            <div class="form-group">
              <label for="input-order-name" class="col-sm-4 control-label">Name</label>
              <div class="col-sm-8">
                <input type="text" name="name" class="form-control" id="input-order-name" ng-model="orderFormData.name" required>
              </div>
            </div>            
            <div class="form-group">
              <label for="input-order-phone" class="col-sm-4 control-label">Telephone</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="phone" id="input-order-phone" ng-model="orderFormData.phone" required>
              </div>
            </div>
            <div class="form-group">
              <label for="input-order-email" class="col-sm-4 control-label">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" name="email" id="input-order-email" ng-model="orderFormData.email" required>
              </div>
            </div>
            <div class="form-note pull-right">All fields are required</div>
        </div>  
      </div>      
    </div>

    <div class="col-sm-6 right-col">
      
        <div class="col-sm-12">
          <p class="info">After you place your order, a Pure Diamond specialist will contact you by phone or email within 24 hours.</p>
          <p class="no-card"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> No credit card required!</p>
          <div class="subscribe-checkbox">
              <label>
                <input icheck type="checkbox" id="subscribe" ng-model="orderFormData.subscribe"> Send me pure diamond news, updates &amp; offers.
              </label>
            </div> 
        </div>
         
        <div class="col-sm-5 nopadding-right actions">
            <!-- <a ng-click="onShippingone(billingAddress, shippingAddress)" class="button full-width">Continue</a> -->
            <!-- <a ng-href="#payment-details" class="button full-width">Continue</a> -->
            <button class="button full-width" ng-click="submit()">Place an Order</button>
            <p>
              <a href="/info/customer-care/100-risk-free-shopping" target="blank" class="risk-free">100% Risk-free shopping</a>
            </p>
        </div>
     
    </div>
    </form>
</div>