  <div id="checkout" class="order-content">
    <div ng-show="showEmpty" class="bag-empty">
      <h3>Your bag is empty.</h3>
      <p>Have a look at our collections, there are many beautiful things!</p>
      <div class="collections-cta section row">
        <div class="col-sm-4"><a href="#"><img src="/store-assets/img/cta-bridal.jpg" alt=""></a></div>
        <div class="col-sm-4"><a href="#"><img src="/store-assets/img/cta-pop-rings.jpg" alt=""></a></div>
        <div class="col-sm-4"><a href="#"><img src="/store-assets/img/cta-collections.jpg" alt=""></a></div>
      </div>
    </div>
  <form name="checkoutForm" class="form-horizontal" role="form" ng-show="products.length">
      <div class="section-content">
        <div class="shopping-list rows">

          <div class="shopping-item row" ng-repeat="product in products track by product.order_product_id">
            <div class="col-sm-3 pic">
              <a href="/store/products/{{product.category}}/{{product.stone ? product.stock_number : product.id}}">
                <img ng-hide="product.stone" ng-src="{{product.images[0].thumb_url}}" alt="">
                <img ng-show="product.stone" ng-src="/store-assets/pics/shapes/{{product.shape_class_name}}.jpg" alt="" class="stone-pic">
              </a>
            </div>
            <div class="col-sm-7 desc">
              <h3><a href="/store/products/{{product.category}}/{{product.stone ? product.stock_number : product.id}}">{{product.title}}</a></h3>
              <div class="description" ng-show="product.stone">
                <span>Carat: <b>{{product.weight}}</b></span>,
                <span>Cut: <b>{{product.cut}}</b></span>,
                <span>Color: <b>{{product.color}}</b></span>,
                <span>Clarity: <b>{{product.clarity}}</b></span>,
                <span>Polish: <b>{{product.polish}}</b></span>,
                <span>Symmetry: <b>{{product.symmetry}}</b></span>
              </div>
              <div class="options" ng-hide="product.stone || product.category != 'rings'">
                <div class="options-item">
                  <label for="input-product-metal">Metal:</label>
                  <select class="form-control" name="product-metal" id="input-product-metal"
                      ng-model="orderForCurrentSession.products[$index].metal_id"
                      ng-selected="orderForCurrentSession.products[$index].metal_id"
                      ng-change="onUpdateOrderItem(orderForCurrentSession.products[$index])"
                      ng-options="metal.id as metal.name for metal in product.metals" required>
                      <option value="">Select metal</option>
                  </select>
                </div>
                <div class="options-item">
                  <label for="input-product-size">Size:</label>
                  <select class="form-control" name="product-size" id="input-product-size"
                      ng-model="orderForCurrentSession.products[$index].size"
                      ng-selected="orderForCurrentSession.products[$index].size"
                      ng-change="onUpdateOrderItem(orderForCurrentSession.products[$index])"
                      ng-options="size for size in ringSizes" required>
                      <option value="">Select size</option>
                  </select>
                </div>
              </div>
              <div class="actions">
                <a href ng-click="onDeleteOrderItem(product, $index)" class="remove-btn"><i class="fa fa-times-circle" aria-hidden="true"></i>Remove</a>
              </div>
            </div>
            <div class="col-sm-2 price">
              <span class="price" ng-hide="product.discount">
                <span class="sign">C$</span><strong>{{product.price | number:2}}</strong>
              </span>
              <span class="price discounted" ng-show="product.discount">
                <span class="sign">C$</span><strong>{{product.price - product.discount | number:2}}</strong>
              </span>

            </div>
          </div>

          <div class="row" ng-show="orderForCurrentSession.stone">
            <div class="col-sm-4 pic">
              <img ng-src="/store-assets/pics/shapes/{{orderForCurrentSession.stone.shape_class_name}}.jpg" alt="">
              <div class="actions text-center">
                <a href ng-click="onDeleteOrderItem('stone')"><span class="underline">Remove</span></a>
              </div>
            </div>
            <div class="col-sm-6 desc">
              <div ng-show="orderForCurrentSession.stone.shape">Shape: <strong>{{orderForCurrentSession.stone.shape}}</strong></div>
              <div ng-show="orderForCurrentSession.stone.weight">Carat: <strong>{{orderForCurrentSession.stone.weight}}</strong></div>
              <div ng-show="orderForCurrentSession.stone.cut">Cut: <strong>{{orderForCurrentSession.stone.cut}}</strong></div>
              <div ng-show="orderForCurrentSession.stone.color">Color: <strong>{{orderForCurrentSession.stone.color}}</strong></div>
              <div ng-show="orderForCurrentSession.stone.clarity">Clarity: <strong>{{orderForCurrentSession.stone.clarity}}</strong></div>
              <div ng-show="orderForCurrentSession.stone.polish">Polish: <strong>{{orderForCurrentSession.stone.polish}}</strong></div>
              <div ng-show="orderForCurrentSession.stone.symmetry">Symmetry: <strong>{{orderForCurrentSession.stone.symmetry}}</strong></div>
              <div class="actions text-center">
                <a href ng-click="onDeleteOrderItem('ring')"><span>✕</span>Remove</a>
              </div>
            </div>
            <div class="col-sm-2 price">
              <strong>CAD {{orderForCurrentSession.stone.price | number:2}}</strong>
              <a href class="shopping-delete-item" ng-click="onDeleteOrderItem('stone')">✕</a>
            </div>
          </div>

        </div>

      </div>


      <div class="shipping section-content">
        <div class="row">
          <div class="col-sm-3"><a href="/customer-care/free-shipping"><i class="fa fa-globe" aria-hidden="true"></i>Shipping and Return Policy</a></div>
          <div class="col-sm-7">
            <div><strong>Shipping</strong></div>
            <div class="col-sm-3 text-gray">
              <div>Order by</div>
              <div>Receive by</div>
              <div>Via</div>
            </div>
            <div class="col-sm-8 text-gray">
              <div>{{orderDate}}</div>
              <div>{{receiveDate}}</div>
              <div>FEDEX</div>
            </div>

          </div>
          <div class="price col-sm-2"><strong>Free</strong></div>
        </div>
      </div>

      <!-- Totals -->
      <div class="total section-content">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-7">
            <strong>Total</strong>
            <div class="text-gray">Shipping FREE</div>
            <div class="text-gray">Sales TAX* &mdash; C$ {{orderForCurrentSession.tax | number:2}}</div>
            <div ng-show="orderForCurrentSession.stone && orderForCurrentSession.ring">DISCOUNT &mdash; CAD {{orderForCurrentSession.ring.discount | number:2}}</div>
          </div>
          <div class="price col-sm-2">
            <span class="sign">C$</span><strong>{{orderForCurrentSession.total | number:2}}</strong>
          </div>
        </div>
      </div>

      <div class="checkout-bottom">
        <div class="pull-left">
          <a href="/store/products/rings" class="continue"><i class="fa fa-arrow-left" aria-hidden="true"></i>Continue shopping</a><br/>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{shareURL}}" ng-show="shareURL"><span class="underline">Share this choice on facebook</span></a>
        </div>
        <div class="pull-right">
          <button class="button full-width" ng-click="submit()">Checkout</button>
        </div>

      </div>



      <div id="warranties" class="section row">
        <div class="col-sm-2 col-sm-offset-1">
            <span><a href="/info/customer-care/100-risk-free-shopping">Risk Free<br/>shopping</a></span>
        </div>
        <div class="col-sm-2">
            <span><a href="/info/customer-care/lifetime-warranty">Life time<br/>warranty</a></span>
        </div>
        <div class="col-sm-2">
            <span><a href="/info/customer-care/30-day-return-policy">30-day<br/>return policy</a></span>
        </div>
        <div class="col-sm-2">
            <span><a href="/info/customer-care/30-day-money-back-guarantee">100%<br/>full refund</a></span>
        </div>
        <div class="col-sm-2">
            <span><a href="/info/customer-care/wholesale-diamond-price">Whole sale<br/>Diamond price</a></span>
        </div>

      </div>



    </form>
  </div>
