
<div class="page-head">
  <div class="header-pic">
    <img src="../img/bridal-page-pic.jpg" alt=""/>
  </div>
  <div class="header-title">
    
    <h1><span>Bridal</span> collection</h1>
    <div class="colored-border two-colors"><span class="blue-line"></span></div>
  </div>
</div>

<div class="col-sm-offset-1 col-sm-10">
    <div class="product-list three-centered-col">
        <div class="col-md-10">
          <div class="col-sm-4 product-list-item">
            <a href="#">
              <div class="product-list-item-pic"><img src="../pics/rings/ring-1.jpg" alt=""/></div>
              <div class="product-list-item-desc">
                <div class="title"><span>The perfect ring</span></div>
                <div class="price"><span>CAD 3,655</span></div>
                <div><span>14k white gold</span></div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 product-list-item bottom-desc">
            <a href="#">
              <div class="product-list-item-pic"><img src="../pics/rings/ring-5.jpg" alt=""/></div>
              <div class="product-list-item-desc">
                <div class="title"><span>The perfect ring</span></div>
                <div class="price"><span>CAD 3,655</span></div>
                <div><span>14k white gold</span></div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 product-list-item">
            <a href="#">
              <div class="product-list-item-pic"><img src="../pics/rings/ring-3.jpg" alt=""/></div>
              <div class="product-list-item-desc">
                <div class="title"><span>The perfect ring</span></div>
                <div class="price"><span>CAD 3,655</span></div>
                <div><span>14k white gold</span></div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 product-list-item">
            <a href="#">
              <div class="product-list-item-pic"><img src="../pics/rings/ring-2.jpg" alt=""/></div>
              <div class="product-list-item-desc">
                <div class="title"><span>The perfect ring</span></div>
                <div class="price"><span>CAD 3,655</span></div>
                <div><span>14k white gold</span></div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 product-list-item">
            <a href="#">
              <div class="product-list-item-pic"><img src="../pics/rings/ring-3.jpg" alt=""/></div>
              <div class="product-list-item-desc">
                <div class="title"><span>The perfect ring</span></div>
                <div class="price"><span>CAD 3,655</span></div>
                <div><span>14k white gold</span></div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 product-list-item bottom-desc">
            <a href="#">
              <div class="product-list-item-pic"><img src="../pics/rings/ring-6.jpg" alt=""/></div>
              <div class="product-list-item-desc">
                <div class="title"><span>The perfect ring</span></div>
                <div class="price"><span>CAD 3,655</span></div>
                <div><span>14k white gold</span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="pagination-block">
          <div class="status">SHOWING <strong>1-9</strong> OF <strong>496</strong> RESULTS</div>
          <div class="control">
            <div class="display">
              DISPLAY
              <select>
                <option>9</option>
                <option>18</option>
                <option>27</option>
              </select>
              <div class="pages">
                <a href="#" class="arrow prev"></a>
                <span>1 OF 17</span>
                <a href="#" class="arrow next"></a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>