<div class="page-head">
    <div class="header-title">
      <h2>{{page.subtitle}}</h2>
    </div>
</div>

    <div class="product-list designer-collection">
        <div class="row items-block">
          <div class="col-sm-4 ring-item product-list-item" ng-repeat='ring in designerRings'>
            <a href="/store/products/{{ring.category}}/{{ring.id}}">
              <div class="product-list-item-pic" ><img ng-src="/static/images/products/{{ring.id}}/thumb/{{ring.image}}" alt=""/></div>
              <div class="product-list-item-desc">
                <div class="title"><span>{{ring.title}}</span></div>
                <div class="price">
                  <span style="color:#E01E06" ng-show="ring.discount == 0">C$ {{ring.price | number : 2}}</span>
                  <div ng-show="ring.discount > 0">                    
                    <div><span style="color:#E01E06">C$ {{ring.price - ring.discount | number:2}}</span></div>
                  </div>
                </div>
                <div><span></span></div>
              </div>
            </a>
          </div>
          <!-- 
          <div class="col-sm-4 product-list-item bottom-desc">
            <a href="#">
              <div class="product-list-item-pic"><img src="../pics/rings/ring-5.jpg" alt=""/></div>
              <div class="product-list-item-desc">
                <div class="title"><span>The perfect ring</span></div>
                <div class="price"><span>CAD 3,655</span></div>
                <div><span>14k white gold</span></div>
              </div>
            </a>
          </div>
          -->
        </div>
    </div>
