<div class="col-sm-12 nopadding">
    <div class="product-list three-centered-col designers">
        <div class="">
          <div class="col-sm-4 product-list-item" ng-repeat="designer in designers">
            <a href="/store/designers/{{designer.slug}}">
              <div class="product-list-item-pic"><img ng-src="/static/images/rings/{{designer.ring_id}}/{{designer.image}}" alt=""/></div>
              <div class="product-list-item-desc">
                <div class="title"><span>{{designer.name}}</span></div>
              </div>
            </a>
          </div>

        </div>
    </div>
</div>
