<div id="start" class="section row">
  <div class="col-xs-6 left-block">
    <div class="start-content">
      <a href="#/create-ring/diamond-search" class="start-label">Start with a diamond</a>
      <div class="start-pic">
        <img src="pics/stones/stone-1.jpg" alt=""/>
      </div>
      <div class="start-desc">
        <h3>4 C'S Redefined</h3>
        <p>
          You know the type if stone<br/>
          You are after. Find the diamond<br/>
          As pure as your intensions.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 right-block">
    <div class="start-content">
    <a href="#/create-ring/rings" class="start-label">Start with a setting</a>
      <div class="start-pic">
        <img src="pics/rings/ring-1.jpg" alt=""/>
      </div>
      <div class="start-desc">
        <h3>The perfect ring</h3>
        <p>
          You know the type if stone<br/>
          You are after. Find the diamond<br/>
          As pure as your intensions.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section-strip row"><div class="col-xs-6 left-strip"></div><div class="col-xs-6 right-strip"></div></div>
<div id="latest" class="section row product-list">
  <h3>Trending this season</h3>
  <!-- <p>Our customers, too, are part of our community.<br/>It is with our customers' help that we are cultivating</p> -->
  <wrap-owlcarousel class="owl-carousel featured-rings" id="carousel">  
      
      <div ng-repeat="ring in featuredRings" class="latest-item product-list-item">
        <a href="#/create-ring/ring/{{ring.id}}">
          <div class="latest-item-pic product-list-item-pic"><img ng-src="{{ring.images[0].url}}" alt=""/></div>
          <div class="latest-item-desc product-list-item-desc">
            <div class="title">{{ring.title}}</div>
            <div class="price">CAD {{ring.price}}</div>
            <div></div>
          </div>
        </a>
      </div>

  </wrap-owlcarousel> 


</div>
<div id="warranties" class="section row">
  <div class="col-sm-2 col-sm-offset-1">
    <span>Risk<br/>Free shopping</span>
  </div>
  <div class="col-sm-2">
    <span>Life time warranty</span>
  </div>
  <div class="col-sm-2">
    <span>30-day return policy</span>
  </div>
  <div class="col-sm-2">
    <span>100% full refund</span>
  </div>
  <div class="col-sm-2">
    <span>Whole sale<br/>Diamond price</span>
  </div>

</div>
<div id="bottom-cta" class="section row">
  <div class="col-sm-4 col-sm-offset-0"><a href="#"><img src="img/cta-bridal.jpg" alt=""></a></div>

  <div class="col-sm-4"><a href="#"><img src="img/cta-pop-rings.jpg" alt=""></a></div>

  <div class="col-sm-4"><a href="#"><img src="img/cta-search-diamonds.jpg" alt=""></a></div>

</div>