<div class="container">  
  <div class="col-sm-6 left-col">
    <div class="col-sm-11">
      <h1>PAYMENT DETAILS</h1>
      <div class="subtitle">We can only accept US, Canadian, and Australian credit cards online. For other cards, please contact us. If you would like to pay with more than one credit card, call 604 5678893</div>
      <div ng-hide="paymentComplete">
        <div class="bordered-block">
          <form stripe-form="handleStripe" name="paymentForm" class="form-horizontal" role="form" id="payment-details">
        
            <div class="form-group">
              <label for="input-cc-number" class="col-sm-4 control-label">Name on card</label>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
              <label for="input-cc-number" class="col-sm-4 control-label">Credit Card Number</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type" required>
              </div>
            </div>
        
            <div class="form-group">
              <label for="input-cc-number" class="col-sm-4 control-label">Expiry</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="expiry" payments-validate="expiry" payments-format="expiry" required>
              </div>
              <label for="input-cc-number" class="col-sm-2 control-label">CCV</label>
              <div class="col-sm-3">
                <input type="text" class="form-control"  ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type" required>
              </div>
            </div>
        
            <input type="submit" value="Pay" class="button">
        
          </form> 
        </div> 
        
        <div class="col-sm-offset-7 col-sm-5 nopadding-right actions">
            <!-- <a ng-click="onShippingDetailsDone(billingAddress, shippingAddress)" class="button full-width">Continue</a> -->
            <a ng-href="#payment-details" class="button full-width">Continue</a>
        </div>
      </div>


      <div ng-show="paymentComplete">
        <div class="bordered-block">
        Thank you. Your payment is now complete.<br>
        You should get an email soon.
        </div>
      </div>

    </div>      
  </div>
</div>