<div class="page-head">
    <div class="header-title">
      <h2>{{page.subtitle}}</h2>
    </div>
</div>

  <div class="rings-list product-list" style="padding-top:0">
    <div class="row items-block">
      <div ng-repeat='ring in saleRings' class="col-sm-4 ring-item product-list-item">
        <a ng-href="#/create-ring/ring/{{ring.id}}">
          <div class="product-list-item-pic">
            <img ng-src="{{ring.images[0].url}}" alt=""/>
          </div>
          <div class="product-list-item-desc">
            <div class="title">{{ring.title}}</div>
            <div class="price">
              <span style="color:#E01E06" ng-show="ring.discount == 0">C$ {{ring.price | number : 2}}</span>
              <div ng-show="ring.discount > 0">
                <div class="discount-label">
                  <span>
                    <span class="number">{{100-(((ring.price - ring.discount)/ring.price)*100) | number : 0}}</span>
                    <span class="perc">%</span>
                    <span class="off">OFF</span>
                  </span>
                </div>
                <div><span style="color:#E01E06">C$ {{ring.price - ring.discount | number:2}}</span></div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
