  <div id="review-order" class="order-content col-sm-offset-1 col-sm-10">   
      <div class="section-header">
        <h1>Review your order</h1>
        <span class="subtitle">
          By placing your order, you agree to pure 
          <a href="#">Diamond privacy</a> notice and <a href="#">conditions of use</a>.</span>
      </div>
      <div class="section-content bordered-block">
        <div class="row block-header">
        </div>
        
        <div class="rows">

          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <strong>Shipping address</strong>&nbsp;&nbsp;<a href="#">Change</a>
              <div>
                Boris Mandlis / Shawn Knaus<br/>
                856 SEMIASERT DR<br/>
                BLAINE, WA 98230-9355<br/>
                United States<br/>
                Phone: 1 367-371-0977
              </div>
            </div>
            <div class="col-sm-4">
              <div>
                <strong>Payment method</strong>&nbsp;&nbsp;<a href="#">Change</a>
                <p>Visa ending in 2621</p>
              </div>
              <div>
                <strong>Shipping address</strong>&nbsp;&nbsp;<a href="#">Change</a>
                <div>
                  1503-1438 Richards st<br/>
                  Boris Mandelis<br/>
                  1503-1438 Richards st<br/>
                  Vancouver, BC V6Z3B8<br/>
                  Canada
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 pic">
              <img ng-src="{{orderForCurrentSession.ring.images[0].url}}" alt="">              
            </div>
            <div class="col-sm-8 desc">
              <strong>PRODUCT DETAILS</strong>
              <p>{{orderForCurrentSession.ring.title}}</p>
              <p ng-show="orderForCurrentSession.stone">{{orderForCurrentSession.stone.shape}} Diamond</p>
            </div>

          </div>

          <div class="row">            
            <div class="col-sm-6 col-sm-offset-4">
              <div><strong>SHIPPING FREE</strong></div>
              <div class="col-sm-4 nopadding-left">
                <div>ORDER BY</div>
                <div>RECEIVE BY</div>
                <div>VIA</div>
              </div> 
              <div class="col-sm-8">
                <div>{{orderDate}}</div>
                <div>{{receiveDate}}</div>
                <div>FEDEX</div>
              </div>              
            </div>
          </div>

        </div>
        
      </div> 


      <!-- Totals -->
      <div class="section-header">
        <h1>Total</h1>
      </div>
      <div class="total section-content bordered-block">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-6">
            <strong>SUBTOTAL CAD {{orderForCurrentSession.subtotal | number:2}}</strong>
            <div>
              SHIPPING FREE<br/>
              SALES TAX*<br/>
              CAD {{orderForCurrentSession.tax | number:2}}
            </div>
          </div>
          <div class="col-sm-2">
            <strong>TOTAL AMOUNT</strong>
            <div><strong>CAD {{orderForCurrentSession.total | number:2}}</strong></div>
          </div>
        </div>
      </div>

      <div class="checkout-bottom">
        <div class="pull-left">
          View our <a href="/customer-care/free-shipping" target="blank"><span class="underline">shipping policies</span></a> <br/>
          <a href="/store/#!/create-ring/rings" class="continue"><span class="underline">Continue shopping</span></a>
        </div>
        <div class="pull-right">
          <button class="button full-width">Place your order</button>          
        </div>

      </div>  
  </div>