<div class="page-head" ng-show="page.subtitle">
    <div class="header-title">
      <h2>{{page.subtitle}}</h2>
    </div>
</div>
<!-- Ring collection section -->
<div id="ring-collection" class="buy-section">
	<div class="section col-sm-12 nopadding">

		<div class="section-content noborder-bottom">
			<!-- <div class="actions-top-block">
				<a href="" class="sort-price down">Sort by price:<span class="down">Low to high</span><span class="up">High to low</span></a>
				<a href="" class="close-tabs">Close tabs</a>
			</div> -->
			<div class="filters row" ng-hide="filterHide">
				<div class="col-sm-4">
					<h4>Price</h4>
					<ul>
						<li ng-repeat="priceRange in searchCriteria.priceRanges">
							<label>
								<input icheck type="checkbox" ng-model="priceRange.selected" ng-change='filterByObject(searchCriteria.priceRanges, userSelectedPriceRanges, priceRange)'>
								<span>{{priceRange.name}}</span>
							</label>
						</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h4>Designer</h4>
					<ul>
						<li ng-repeat="designer in searchCriteria.designers">
							<label>
								<input icheck type="checkbox" ng-model="filter['designers'][designer.name]">
								<span>{{designer.name}}</span>
							</label>
						</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h4>Collection</h4>
					<ul>
						<li ng-repeat="collection in searchCriteria.collections">
							<label>
								<input icheck type="checkbox" ng-model="filter['collections'][collection.name]">
								<span>{{collection.name}}</span>
							</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="rings-list product-list {{category=='specials' ? 'specials-list' : ''}}"  my-spinner is-loading="isLoading">
				<!-- <div class="status-bar">
					<div class="showing">SHOWING 1-30 OF 31 RESULTS</div>
					<div class="display">DISPLAY: 12</div>
					<div class="pager">1 OF 3</div>
				</div> -->
				<div class="row items-block">
					<div ng-repeat='ring in rings | filter:orderForCurrentSession.stone.shape | filter:ringsFilter' class="col-sm-4 ring-item product-list-item">
						<a ng-href="/store/products/{{ring.category}}/{{ring.id}}">
							<div class="product-list-item-pic">
								<img ng-src="{{ring.images[0].thumb_url}}" alt="" ng-hide="ring.primaryImage"/>
								<img ng-src="{{ring.primaryImage}}" alt="" ng-show="ring.primaryImage"/>
							</div>
							<div class="product-list-item-desc">
								<div class="title">{{ring.title}}</div>
								<div class="price" ng-hide="withLabel">
									<span ng-show="ring.discount == 0">C$ {{ring.price | number : 2}}</span>
				                  <span ng-show="ring.discount > 0">
				                    <s>C$ {{ring.price | number:2}}</s>
				                    <div><span class="sale-badge"><b>Sale</b>C$ {{ring.price - ring.discount | number:2}}</span></div>
				                  </span>
								</div>
								<div class="price" ng-show="withLabel">
					              <span ng-show="ring.discount == 0">C$ {{ring.price | number : 2}}</span>
					              <div ng-show="ring.discount > 0">
					                <div class="discount-label">
					                  <span>
					                    <span class="number">{{100-(((ring.price - ring.discount)/ring.price)*100) | number : 0}}</span>
					                    <span class="perc">%</span>
					                    <span class="off">OFF</span>
					                  </span>
					                </div>
					                <div><span style="color:#E01E06">C$ {{ring.price - ring.discount | number:2}}</span></div>
					              </div>
					            </div>
							</div>
						</a>
					</div>
				</div>

				<!-- <div class="status-bar noborder-top">
					<div class="showing">SHOWING 1-30 OF 31 RESULTS</div>
					<div class="display">DISPLAY: 12</div>
					<div class="pager">1 OF 3</div>
				</div> -->
			</div>

		</div>
	</div>
</div>

<!-- /Ring collection section -->
