            <!-- Ring details section -->
            <div id="ring-details" class="section product-details nopadding" itemscope itemtype="http://schema.org/Product">
              <div class="section-content">
                <div class="row noborder-bottom">

                  <div class="col-sm-5 left-col">
                    <div class="details-header visible-xs">
                      <h1 itemprop="name">{{ringDetails.title}}</h1>
                    </div>

                    <div class="pic">
                      <div ng-show="ringDetails.instagram" instagram class="insta-box"></div>
                      <a ng-show="!ringDetails.instagram" lightbox class="lightbox" rel="gallery" href="{{primaryRingImage.url}}" ><img ng-src="{{primaryRingImage.url}}" alt="" itemprop="image"/></a>
                    </div>

                    <div class="pics-more" ng-show="ringDetails.youtube || otherRingImages || primaryRingImage.url">
                      <a ng-show="primaryRingImage.url" lightbox class="pic lightbox" rel="gallery" href="{{primaryRingImage.url}}" ><img ng-src="{{primaryRingImage.thumb_url}}" alt=""/></a><a ng-show="otherRingImages" lightbox class="pic lightbox" rel="gallery" href="{{image.url}}" ng-repeat="image in otherRingImages" ><img ng-src="{{image.thumb_url}}" alt=""/></a>
                      <a ng-show="ringDetails.youtube" videopopup class="pic video" href="{{ringDetails.youtube}}"><i class="fa fa-youtube-play" aria-hidden="true"></i><span>video</span></a>
                    </div>

                  </div>


                  <div class="col-sm-6 col-sm-offset-1 right-col nopadding">
                    <h1 class="hidden-xs" itemprop="name">{{ringDetails.title}}</h1>
                    <div class="short-desc">
                      <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="CAD" />
                        <span ng-show="ringDetails.discount == 0">C$ <strong itemprop="price">{{ringDetails.price | number : 2}}</strong></span>
                        <span ng-show="ringDetails.discount > 0">
                          <s>C$ <strong>{{ringDetails.price | number:2}}</strong></s>
                          <span class="sale-badge"><b>Sale</b>C$ <strong>{{ringDetails.price - ringDetails.discount | number:2}}</strong></span>
                        </span>
                        <div class="ship-risk-links">
                          <a href="/info/customer-care/free-shipping" class="shipping-link">Free shipping</a>
                          <a href="/info/customer-care/100-risk-free-shopping" class="risk-link">100% Risk-Free Shopping</a>
                        </div>
                      </div>
                      <!-- <p>
                        <select class="form-control" name="ring-metal"
                            ng-model="ringDetails.metal"
                            ng-change="metalSelect()"
                            ng-options="metal.name for metal in metals" required>
                            <option value="" disabled>Select metal</option>
                        </select>
                      </p> -->

                      <ul class="metals-list">
                        <li ng-repeat="metal in metals" ng-class="{'selected':metal.id == ringDetails.metal_id}">
                          <label><input type="radio" ng-model="ringDetails.metal_id" ng-value="metal.id" ng-change="metalSelect()"><i class="fa fa-check"></i><span>{{metal.name}}</span></label>
                        </li>
                      </ul>


                      <div class="buttons">
                        <a href="" class="button to-bag" ng-click="orderAddProduct(ringDetails)">
                          <i class="fa fa-shopping-bag"></i>
                          Add to order
                        </a>
                        <a textpopup data-mfp-src="#appointment-popup" href="" class="appointment-btn button gray">Talk to a <br/>Gemologist</a>

                        <div class="socials">
                          <div>SHARE</div>
                          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{share.fb}}" id="share-fb" class="fa fa-facebook"></a>
                          <a target="_blank" href="http://twitter.com/intent/tweet?text={{share.text}}&url={{share.url}}" id="share-tw" class="fa fa-twitter"></a>
                          <a target="_blank" href="https://pinterest.com/pin/create/button/?url={{share.url}}&media={{share.media}}&description={{share.text}}" id="share-pin" class="fa fa-pinterest"></a>
                        </div>
                      </div>

                      <div class="full-desc" ng-bind-html="ringDetails.description" itemprop="description"></div>

                      <div class="technical-details">

                        <div><strong>Stock Number:</strong> <span itemprop="mpn">{{ringDetails.lot_number}}</span></div>
                        <div><strong>Designer:</strong> {{ringDetails.designers[0].name}}</div>
                        <div><strong>Suggested center stone:</strong> {{ringDetails.suggested_shapes}} from {{ringDetails.stone_weight_min}} to {{ringDetails.stone_weight_max}} ct
                        </div>
                        <div><strong>Collections:</strong> {{ringDetails.collections_list}}</div>
                        <div ng-bind-html="ringDetails.details"></div>

                      </div>

                    </div>

                  </div>


                  <div class="common-info col-sm-12">
                    <ul>
                      <li class="shipping">
                        <a href="/info/customer-care/free-shipping"><strong>Shipping and Return Policy</strong></a><span>Registered and insured delivery available worldwide.</span>
                      </li>
                      <li class="payments">
                        <a href="#"><strong>Payments and Financing</strong></a><span>Layaway and financing options available (financing subject to credit approval)</span>
                      </li>
                      <li class="guarantee">
                        <a href="/info/customer-care/lifetime-warranty"><strong>PureDiamond Guarantee</strong></a><span>100% customer satisfaction from our superior craftsmanship and knowledgeable experts.</span>
                      </li>
                      <li class="docs">
                        <a href="/info/education/documentation"><strong>Documentation</strong></a><span>Purchase comes with appraisal, manufacturer warranty, receipt and certification.</span>
                      </li>
                    </ul>
                  </div>

                </div>

              </div>
            </div>
          
            <!-- /Ring details section -->
