<div id="signin" class="col-sm-offset-1 col-sm-10">
	<div class="col-sm-5 left-col">
	    <h1>My Account</h1>
	    <div class="subtitle">Sign In</div>
	    <p>If you have a pure diamond customer account, please sign in.</p>
	    <form class="form-horizontal" role="form">
	      <div class="form-group">
	        <label for="input-email" class="col-sm-4 control-label">Email</label>
	        <div class="col-sm-8">
	          <input type="email" class="form-control" id="input-email" ng-model='userCredentials.username'>
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="input-pass" class="col-sm-4 control-label">Password</label>
	        <div class="col-sm-8">
	          <input type="password" class="form-control" id="input-pass" ng-model='userCredentials.password'>
	        </div>
	      </div>
	      <div class="form-group">
	        <div class="col-sm-offset-4 col-sm-8 forgot">
	          <a href="#">Forgot your password?</a>
	        </div>
	      </div>
	      <div class="form-group">
	        <div class="col-sm-offset-4 col-sm-8">
	          <button type="submit" class="button full-width" ng-click="onLoginClick()">Sign in</button>
	        </div>
	        <div class="error" ng-show="signInErr">{{signInErr}}</div>
	      </div>
	    </form>         
	</div>

	<div class="col-sm-5 col-sm-offset-2 right-col">
	  <h1>CREATE AN ACCOUNT</h1>
	    <div class="subtitle">Enjoy the benefits of a pure diamond account</div>
	    <form class="form-horizontal" role="form">
	      <div class="form-group">
	        <label for="input-fname" class="col-sm-4 control-label">First name*</label>
	        <div class="col-sm-8">
	          <input type="text" class="form-control" id="input-fname" ng-model='signupCredentials.firstName'>
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="input-lname" class="col-sm-4 control-label">Last name*</label>
	        <div class="col-sm-8">
	          <input type="text" class="form-control" id="input-lname" ng-model='signupCredentials.lastName'>
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="input-regemail" class="col-sm-4 control-label">Email Address*</label>
	        <div class="col-sm-8">
	          <input type="email" class="form-control" id="input-regemail" ng-model='signupCredentials.email'>
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="input-regpass" class="col-sm-4 control-label">Password*</label>
	        <div class="col-sm-8">
	          <input type="password" class="form-control" id="input-regpass" ng-model='signupCredentials.password'>
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="input-conf-regpass" class="col-sm-4 control-label">Confirm Password</label>
	        <div class="col-sm-8">
	          <input type="password" class="form-control" id="input-conf-regpass">
	        </div>
	      </div>
	      <div class="form-group">
	        <div class="col-sm-offset-4 col-sm-8">
	          <button type="submit" class="button full-width" ng-click="onSignUpClick()">Create an account</button>
	        </div>
	        <div class="error" ng-show="signUpErr">{{signUpErr}}</div>
	      </div>
	    </form>
	</div>
</div>