<div id="stones-collection" class="buy-section col-sm-12 nopadding">
    <!-- Stone search section -->
    <div class="section col-sm-12 nopadding">

        <div id="stone-search-advanced-params">
                <!-- new shapes -->

                <div class="section-content noborder-bottom noborder-top nopadding">
                  <div class="row">
                    <div class="shapes-title param-title col-sm-1 col-sm-offset-1">Shape</div>
                    <div class="param-control col-sm-10">
                      <ul class="shapes">
                        <li ng-repeat="shape in searchCriteria.shapes">
                          <a href ng-class="{selected: shape.selected}" class="icon-{{shape.class_name}}" ng-click="toggleSelectedShape(shape)">
                            <span class="shape-title">{{shape.friendly_name}}</span>
                          </a>
                        </li>

                      </ul>
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-sm-4 nopadding">
                    <div class="params-item">
                      <div class="param-title">Price</div>
                      <div class="param-control">
                        <slider
                          floor='{{priceRangeSlider.floor}}'
                          ceiling='{{priceRangeSlider.ceiling}}'
                          step='{{priceRangeSlider.step}}'
                          precision='{{priceRangeSlider.precision}}'

                          buffer='{{priceRangeSlider.buffer}}'
                          ng-model='priceRangeSlider.min'
                          ng-model-range='priceRangeSlider.max'>
                        </slider>
                        <div class="labels">
                          <span class="min-box pull-left" ng-hide="priceRangeMinEdit" ng-click="editPriceRangeMin()">C$ <span class="min-val int">{{priceRange.min | number}}</span></span>
                          <span class="max-box pull-right" ng-hide="priceRangeMaxEdit" ng-click="editPriceRangeMax()">C$ <span class="max-val int">{{priceRange.max | number}}</span></span>

                          <input numeric class="min-box pull-left" type="text" ng-model="priceRangeInput.min" ng-keyup="priceRangeMinSubmit($event)" ng-blur="priceRangeMinSubmit()" ng-focus="editPriceRangeMin()" focus-me="priceRangeMinEdit" ng-class="{'sr-only': !priceRangeMinEdit}">

                          <input numeric class="max-box pull-right" type="text" ng-model="priceRangeInput.max" ng-keyup="priceRangeMaxSubmit($event)" ng-blur="priceRangeMaxSubmit()" ng-focus="editPriceRangeMax()" focus-me="priceRangeMaxEdit" ng-class="{'sr-only': !priceRangeMaxEdit}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 nopadding">
                    <div class="params-item">
                      <div class="param-title">Carat</div>
                      <div class="param-control">
                        <slider
                          floor='{{caratRangeSlider.floor}}'
                          ceiling='{{caratRangeSlider.ceiling}}'
                          step='{{caratRangeSlider.step}}'
                          precision='{{caratRangeSlider.precision}}'
                          buffer='{{caratRangeSlider.buffer}}'
                          ng-model='caratRangeSlider.min'
                          ng-model-range='caratRangeSlider.max'>
                        </slider>
                        <div class="labels">
                          <span class="min-box pull-left" ng-hide="caratRangeMinEdit" ng-click="editCaratRangeMin()"><span class="min-val int">{{caratRange.min}}</span></span>
                          <span class="max-box pull-right" ng-hide="caratRangeMaxEdit" ng-click="editCaratRangeMax()"><span class="max-val int">{{caratRange.max}}</span></span>

                          <input numeric class="min-box pull-left" type="text" ng-model="caratRangeInput.min" ng-keyup="caratRangeMinSubmit($event)" ng-blur="caratRangeMinSubmit()" ng-focus="editCaratRangeMin()" focus-me="caratRangeMinEdit" ng-class="{'sr-only': !caratRangeMinEdit}">

                          <input numeric class="max-box pull-right" type="text" ng-model="caratRangeInput.max" ng-keyup="caratRangeMaxSubmit($event)" ng-blur="caratRangeMaxSubmit()" ng-focus="editCaratRangeMax()" focus-me="caratRangeMaxEdit" ng-class="{'sr-only': !caratRangeMaxEdit}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 nopadding">
                    <div class="params-item">
                      <div class="param-title">Cut</div>
                      <div class="param-control">
                        <slider
                          floor='{{cutSlider.floor}}'
                          ceiling='{{cutSlider.ceiling}}'
                          step='{{cutSlider.step}}'
                          precision='{{cutSlider.precision}}'
                          buffer='{{cutSlider.buffer}}'
                          stickiness='{{cutSlider.stickiness}}'
                          ng-model='cutSlider.min'
                          ng-model-range='cutSlider.max'>
                        </slider>
                        <div class="labels">
                          <!-- <div class="mark selected" style="width: 10%;" ng-repeat="cut in searchCriteria.cuts">{{cut.friendly_name}}</div> -->
                          <div class="mark" ng-class="$index + 1 >= cutSlider.min && $index + 1 < cutSlider.max ? 'selected' : 'no'" style="width: {{cutSlider.labelWidth}}%;" ng-repeat="cut in searchCriteria.cuts">{{cut.friendly_name}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6 nopadding">
                      <div class="params-item">
                      <div class="param-title">Clarity</div>
                      <div class="param-control">
                        <slider
                          floor='{{claritySlider.floor}}'
                          ceiling='{{claritySlider.ceiling}}'
                          step='{{claritySlider.step}}'
                          precision='{{claritySlider.precision}}'
                          buffer='{{claritySlider.buffer}}'
                          stickiness='{{claritySlider.stickiness}}'
                          ng-model='claritySlider.min'
                          ng-model-range='claritySlider.max'>
                        </slider>
                        <div class="labels">
                          <!-- <div class="mark selected" style="width: 10%;" ng-repeat="clarity in searchCriteria.clarities">{{clarity.name}}</div> -->
                          <div class="mark" ng-class="$index + 1 >= claritySlider.min && $index + 1 < claritySlider.max ? 'selected' : 'no'" style="width: {{claritySlider.labelWidth}}%;" ng-repeat="clarity in searchCriteria.clarities">{{clarity.name}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 nopadding">
                    <div class="params-item">
                      <div class="param-title">Color</div>
                      <div class="param-control">
                        <slider
                          floor='{{colorSlider.floor}}'
                          ceiling='{{colorSlider.ceiling}}'
                          step='{{colorSlider.step}}'
                          precision='{{colorSlider.precision}}'
                          buffer='{{colorSlider.buffer}}'
                          stickiness='{{colorSlider.stickiness}}'
                          ng-model='colorSlider.min'
                          ng-model-range='colorSlider.max'>
                        </slider>
                        <div class="labels">
                          <div class="mark" ng-class="$index + 1 >= colorSlider.min && $index + 1 < colorSlider.max ? 'selected' : 'no'"  style="width: {{colorSlider.labelWidth}}%;" ng-repeat="color in searchCriteria.colors">{{color.name}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="lab-result params-item row">
                    <div class="">
                      <div class="param-title col-sm-1">Lab</div>
                      <div class="param-control col-sm-4">
                        <ui-select multiple ng-model="$parent.userSelectedLabs" theme="bootstrap" style="max-width: 500px; width: 100%;">
                          <ui-select-match placeholder="All Labs">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="lab in searchCriteria.labs | propsFilter: {name: $select.search}">
                            <div ng-bind-html="lab.name | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                      </div>

                      <div class="results-count col-sm-7">
                          <p>Your search returned <span><strong>{{searchResultsCount}}</strong></span> Pure Diamonds</p>
                      </div>
                    </div>
                  </div>

                </div>
        </div>
        <!-- /Stone advanced params -->

        <!-- New table -->
        <div id="stones-results-table" class="section hidden-xs col-sm-9">

                  <div ng-show="stones">

                    <p><em><span><strong>{{showResultsCount}}</strong> of <strong>{{searchResultsCount}}</strong></span></em></p>
                    <div class="results-content">
                      <table class="table table-condensed table-striped table-hover" my-spinner is-loading="isLoading">
                        <thead>
                          <tr>
                            <th ng-repeat='header in tableHeaders'>
                              <a href ng-click="sortClick(header)">{{header}}</a>
                            </th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr showpopup ng-repeat="stone in stones" ng-mouseover="onStoneMouseOver(stone)">
                            <td>{{stone.shape}}</td>
                            <td>{{stone.weight}}</td>
                            <td>{{stone.color}}</td>
                            <td>{{stone.clarity}}</td>
                            <td>{{stone.cut}}</td>
                            <td>{{stone.lab}}</td>
                            <td>{{stone.polish}}</td>
                            <td>CAD {{stone.price | number : 0}}</td>
                            <td><a ng-href="/store/products/diamonds/{{stone.stock_number}}"><span class="underline">VIEW</span></a></td>
                          </tr>
                        </tbody>
                      </table>

                      <a href class="button" ng-click="onLoadMoreClick()" ng-show="searchResultsCount != showResultsCount">Load More</a>

                      <!-- Stone quick view popup -->
                      <div class="stone-popup" ng-show="stoneForDetailsPanel">
                        <div class="head">Diamond details</div>
                        <div class="main-info">
                          <div>
                          <div class="title">Depth:</div>
                          <div class="value">{{stoneForDetailsPanel.depth}}</div>
                        </div>
                        <div>
                          <div class="title">Table:</div>
                          <div class="value">{{stoneForDetailsPanel.table}}%</div>
                          </div>
                          <div>
                          <div class="title">Symmetry:</div>
                          <div class="value">{{stoneForDetailsPanel.symmetry}}</div>
                          </div>
                          <div>
                          <div class="title">Fluorescence:</div>
                          <div class="value">{{stoneForDetailsPanel.fluorescence}}</div>
                          </div>
                          <div>
                          <div class="title">Measurements:</div>
                          <div class="value">{{stoneForDetailsPanel.measurements}}</div>
                          </div>
                        </div>
                        <div class="shipping-info">
                          <div class="title"><p><strong>Shipping information</strong></p></div>
                          <div class="title">Order loose by:</div>
                          <div class="value">{{orderDate}}</div>
                          <div class="title">Receive loose by:</div>
                          <div class="value">{{receiveDate}}</div>
                        </div>
                      </div>
                      <!-- /Stone quick view popup -->

                    </div>
                  </div>
                  <div class="no-results-content" ng-hide="stones">
                    <p>No diamonds found matching your criteria. Try widening your search criteria or
                      <a href ng-click="onResetCriteriaClick()">Start Over</a></p>
                  </div>
        </div>
        <div class="mobile-stone-table visible-xs">
          <div ng-show="stones">
            <p class="results-count"><em><span>Showing <strong>{{showResultsCount}}</strong> of <strong>{{searchResultsCount}}</strong></span></em></p>
            <div class="results-content">
              <a ng-href="/store/products/diamonds/{{stone.stock_number}}" class="table-item row" ng-repeat="stone in stones">
                <div class="col-xs-3 td">
                  <img ng-hide="{{stone.stone_class_name}}" ng-src="{{'/store-assets/pics/shapes/' + stone.shape_class_name + '.jpg'}}" alt="">
                  <div>{{stone.weight}} CT</div>
                </div>
                <div class="col-xs-5 td">
                  <div><span>Shape</span> <strong>{{stone.shape}}</strong></div>
                  <div><span>{{stone.color}}</span> <strong>Color</strong></div>
                  <div><span>{{stone.clarity}}</span> <strong>Clarity</strong></div>
                  <div><span>{{stone.cut}}</span> <strong>Cut</strong></div>
                </div>
                <div class="col-xs-4 td">
                  <div>Price</div>
                  <div class="price">C$ {{stone.price | number:0}}</div>
                  <div class="view-btn">VIEW DETAILS&nbsp;<i class="fa fa-angle-right"></i></div>
                </div>
              </a>
              <div class="table-bottom">
                <a href class="load-more-btn button" ng-click="onLoadMoreClick()" ng-show="searchResultsCount != showResultsCount">Load More</a>
              </div>
            </div>
          </div>
          <div class="no-results-content" ng-hide="stones">
            <p>No diamonds found matching your criteria. Try widening your search criteria or
              <a href ng-click="onResetCriteriaClick()">Start Over</a></p>
          </div>
        </div>
    </div>
</div>
