
<!-- Stone details section -->

<div id="stone-details" class="section product-details nopadding">
  <div class="section-content">

    <div class="row">
      <div class="col-sm-5 left-col">
        <div class="details-header visible-xs">
          <h1>{{stoneDetails.weight}} Carat {{stoneDetails.color}}-{{stoneDetails.clarity}} {{stoneDetails.cut}} Cut {{stoneDetails.shape}} Diamond</h1>
        </div>
        <!-- <div class="pic">
          <img ng-hide="{{stoneDetails.image.length}}" ng-src="{{'/store-assets/pics/shapes/' + stoneDetails.shape_class_name + '.jpg'}}" alt="">
          <a lightbox ng-class="{lightbox: stoneDetails.image}" ng-show="{{stoneDetails.image.length}}" href="{{'/store-assets/pics/shapes/' + stoneDetails.shape_class_name + '.jpg'}}">
            <img ng-hide="{{stoneDetails.image.length}}" ng-src="{{'/store-assets/pics/shapes/' + stoneDetails.shape_class_name + '.jpg'}}" alt="">
          </a>
        </div> -->

        <div class="pic">
          <iframe ng-show="stoneDetails.youtubeEmbed" width="100%" height="272" src="{{stoneDetails.youtubeEmbed}}" frameborder="0" allowfullscreen></iframe>
          <img ng-show="!stoneDetails.primaryPic && !stoneDetails.youtubeEmbed" ng-src="{{'/store-assets/pics/shapes/' + stoneDetails.shape_class_name + '.jpg'}}" alt="">
          <a ng-show="stoneDetails.primaryPic && !stoneDetails.youtubeEmbed" lightbox class="lightbox" rel="gallery" href="{{stoneDetails.primaryPic.url}}" ><img ng-src="{{stoneDetails.primaryPic.url}}" alt="" itemprop="image"/></a>
        </div>

        <div class="pics-more" ng-show="stoneDetails.otherImages.length > 0 || (stoneDetails.primaryPic && stoneDetails.youtubeEmbed)">
          <a ng-show="stoneDetails.primaryPic && stoneDetails.youtubeEmbed" lightbox class="pic lightbox" rel="gallery" href="{{stoneDetails.primaryPic.url}}" ><img ng-src="{{stoneDetails.primaryPic.url}}" alt="" itemprop="image"/></a>
          <a ng-show="stoneDetails.otherImages" lightbox class="pic lightbox" rel="gallery" href="{{image.url}}" ng-repeat="image in stoneDetails.otherImages" ><img ng-src="{{image.thumb_url}}" alt=""/></a>
        </div>

        <div class="technical-details">
            <div class="report">
               
                <a href="{{stoneDetails.reportLink}}" class="stone-report-btn {{stoneDetails.lab=='GIA' ? 'gia-report' : ''}}" target="_blank" ng-show="stoneDetails.reportLink" ><span>{{stoneDetails.lab}} Report&nbsp;<i class="fa fa-angle-right"></i></span></a>

                <span ng-show="{{!stoneDetails.cert_file && !stoneDetails.reportLink}}">{{stoneDetails.lab}} Report available upon request</span>
            </div>
            <div>
              <strong>Stock Number:</strong>
              <span>{{stoneDetails.stock_number}}</span>
            </div>
            <div>
              <strong>Price:</strong>
                <span ng-show="stoneDetails.discount == 0">C$ {{stoneDetails.price | number : 2}}</span>
                <span ng-show="stoneDetails.discount > 0">C$ {{stoneDetails.price - stoneDetails.discount | number:2}}</span>
            </div>
            <div>
              <strong>Bank Wire Price:</strong>
              <span ng-show="stoneDetails.discount == 0">C$ {{stoneDetails.price * 0.97 | number : 2}}</span>
              <span ng-show="stoneDetails.discount > 0">C$ {{(stoneDetails.price - stoneDetails.discount) * 0.97 | number:2}}</span>              
            </div>
            <div>
              <strong>Carat Weight:</strong>
              <span>{{stoneDetails.weight | number : 2 }}</span>
            </div>
            <div>
              <strong>Measurements:</strong>
              <span>{{stoneDetails.measurements}}</span>
            </div>
            <div>
              <strong>Table:</strong>
              <span>{{stoneDetails.table}}%</span>
            </div>
            <div>
              <strong>Depth:</strong>
              <span>{{stoneDetails.depth}}</span>
            </div>
            <div>
              <strong>Symmetry:</strong>
              <span>{{stoneDetails.symmetry}}</span>
            </div>
            <div>
              <strong>Shape:</strong>
              <span>{{stoneDetails.shape}}</span>
            </div>
            <div>
              <strong>Cut:</strong>
              <span>{{stoneDetails.cut}}</span>
            </div>
            <div>
              <strong>Color:</strong>
              <span>{{stoneDetails.color}}</span>
            </div>
            <div>
              <strong>Clarity:</strong>
              <span>{{stoneDetails.clarity}}</span>
            </div>
            <div>
              <strong>Polish:</strong>
              <span>{{stoneDetails.polish}}</span>
            </div>
            <div>
              <strong>Fluorescence:</strong>
              <span>{{stoneDetails.fluorescence}}</span>
            </div>
        </div>
      </div>


      <div class="col-sm-6 col-sm-offset-1 right-col nopadding">
        <h1 class="hidden-xs">{{stoneDetails.weight | number : 2}} Carat {{stoneDetails.color}}-{{stoneDetails.clarity}} {{stoneDetails.cut}} Cut {{stoneDetails.shape}} Diamond</h1>
          <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="CAD" />
            <span ng-show="stoneDetails.discount == 0">C$ <strong itemprop="price">{{stoneDetails.price | number : 2}}</strong></span>
            <span ng-show="stoneDetails.discount > 0">
              <s>C$ <strong>{{stoneDetails.price | number:2}}</strong></s>
              <span class="sale-badge"><b>Sale</b>C$ <strong>{{stoneDetails.price - stoneDetails.discount | number:2}}</strong></span>
            </span>
            <div class="ship-risk-links">
              <a href="/info/customer-care/free-shipping" class="shipping-link">Free shipping</a>
              <a href="/info/customer-care/100-risk-free-shopping" class="risk-link">100% Risk-Free Shopping</a>
            </div>
          </div>
          <div class="buttons">
            <a href="" class="button to-bag" ng-click="orderAddProduct(stoneDetails)">
              <i class="fa fa-shopping-bag"></i>
              Add to order
            </a>
            <a textpopup data-mfp-src="#appointment-popup" href="" class="appointment-btn button gray">Talk to a <br/>Gemologist</a>
            <div class="socials">
              <div>SHARE</div>
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{share.fb}}" id="share-fb" class="fa fa-facebook"></a>
              <a target="_blank" href="http://twitter.com/intent/tweet?text={{share.text}}&url={{share.url}}" id="share-tw" class="fa fa-twitter"></a>
              <a target="_blank" href="https://pinterest.com/pin/create/button/?url={{share.url}}&media={{share.media}}&description={{share.text}}" id="share-pin" class="fa fa-pinterest"></a>
            </div>
          </div>

          <div class="full-desc">
            <h4>COLOR</h4>
            <div class="property">
              <span ng-repeat="color in searchCriteria.colors" ng-class="{'selected-true': color.name == stoneDetails.color}">{{color.name}}</span>
            </div>
            <p ng-repeat="color in searchCriteria.colors" ng-show="color.name == stoneDetails.color">{{color.description}}</p>

            <h4>CUT</h4>
            <div class="property">
              <span ng-repeat="cut in searchCriteria.cuts" ng-class="{'selected-true': cut.friendly_name == stoneDetails.cut}">{{cut.friendly_name}}</span>
            </div>
            <p ng-repeat="cut in searchCriteria.cuts" ng-show="cut.friendly_name == stoneDetails.cut">{{cut.description}}</p>

            <h4>CLARITY</h4>
            <div class="property">
              <span ng-repeat="clarity in searchCriteria.clarities" ng-class="{'selected-true': clarity.name == stoneDetails.clarity}">{{clarity.name}}</span>
            </div>
            <p ng-repeat="clarity in searchCriteria.clarities" ng-show="clarity.name == stoneDetails.clarity">{{clarity.description}}</p>
          </div>


      </div>


      <div class="common-info col-sm-12">
        <ul>
          <li class="shipping">
            <a href="/info/customer-care/free-shipping"><strong>Shipping and Return Policy</strong></a><span>Registered and insured delivery available worldwide.</span>
          </li>
          <li class="payments">
            <a href="#"><strong>Payments and Financing</strong></a><span>Layaway and financing options available (financing subject to credit approval)</span>
          </li>
          <li class="guarantee">
            <a href="/info/customer-care/lifetime-warranty"><strong>PureDiamond Guarantee</strong></a><span>100% customer satisfaction from our superior craftsmanship and knowledgeable experts.</span>
          </li>
          <li class="docs">
            <a href="/info/education/documentation"><strong>Documentation</strong></a><span>Purchase comes with appraisal, manufacturer warranty, receipt and certification.</span>
          </li>
        </ul>
      </div>


    </div>

  </div>
</div>

<!-- /Stone details section -->
