//Brand Colors
@blue: #0e92b3;
@dark-purple: #3d406d;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

//Helper mixins
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }

}

.rounded(@px) {
  -moz-border-radius: @px;
  -webkit-border-radius: @px;
  border-radius: @px; /* future proofing */
}

.centered {
  text-align: center;
}

.signin-btn {
  padding-left: 18px !important;
  font-size: 14px;
  font-weight: normal !important;
  .fa { top: 3px !important; }
}

// Globals

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.6;
  color: #616161;
  background: url('../img/header-bg.jpg') no-repeat top;
  background-size: 100%;
  @media only screen and (max-width: 767px) {
    background-position: 0 40px;
  }
  @media only screen and (min-width: 1500px) {
    background-position: 0 -5%;
  }
}

h1, h2, h3, h4 {
  margin: 0 0 15px;
  color: @blue;
  font-weight: normal;
  text-transform: none;
}

.container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.container-fluid { padding: 0; }


h1 { font-size: 2.5em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.3em; }
h4 { margin-bottom: 1em; font-size: 1em; font-weight: bold; color: @dark-purple; }

label {
  font-weight: inherit;
}

.top-menu {
  float: none;
  .inline-block;
  li {
    .inline-block;
    padding: 0;
    font-size: 14px;
    color: @dark-purple;
    a { padding-bottom: 13px; color: inherit; }
    a:hover { color: @blue; background-color: transparent; }
    &.current-menu-item > a { color: inherit; }
  }
}

#main-content {
	.container { padding: 0; }
}
#page-container {
  padding-top: 50px;
  overflow: hidden;
}

.icheck-item {
  position: absolute;
  top: 0;
  left: 0;
}

.icheck-label {
  position: relative;
  margin-bottom: 8px;
  padding-left: 28px;
  width: 100%;
  cursor: pointer;
  span { .inline-block; margin-top: 2px; line-height: 120%; }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
	&:link, &:visited { text-decoration: none; outline: none; }
	&:hover { text-decoration: none; color: #007d8e !important; }
}

table {
  font-size: 1em;
  thead { background: #efefef; }
  th { padding: 25px 0 10px 0 !important; }
  th, td { text-align: center; }
  th, tr:hover { color: @dark-purple; }
  a { color: @blue !important; }
}

select.form-control { width: auto; }
input.form-control { padding: 6px 12px; }

.row.nomargin { margin-left: 0; margin-right: 0; }

.noborder { border: none !important; }
.noborder-top { border-top: none !important; }
.noborder-bottom { border-bottom: none !important; }

.nomargin { margin: 0 !important; }
.nopadding { padding: 0 !important; }
.nopadding-left { padding-left: 0 !important; }
.nopadding-right { padding-right: 0 !important; }

.text-cross { text-decoration: line-through; }
.text-gray { color: #777 !important; }

.underline { line-height: .8em; border-bottom: 1px solid #d9dae0; }

.button {
  .inline-block;
  padding: 0.8em 3em;
  color: #fff !important;
  background: @blue;
  text-align: center;
  text-decoration: none !important;
  border: none;
  .rounded(3px);
  &:hover { background-color: #019FB5; color: #fff !important; }
  &.white {
    background: #fff;
    border: 1px solid @blue;
    color: @blue !important;
  }
  &.gray {
  	color: #555 !important;
  	background-color: #eee;
  	&:hover { background-color: #ddd; }
  }
  &.full-width { width: 100% !important; }
  &.disabled { background: #b7b7b7; color: #ebebeb !important; cursor: default; }
}

.colored-border {
	position: relative;
	width: 100%;
	height: 10px;
  &.two-colors {
    &:before {
    	content: "";
    	display: block;
    	position: absolute;
    	top: 0;
    	left: 0;
      width: 50%;
      height: 100%;
      background-color: @blue;

    }

    &:after {
    	content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
        background-color: @dark-purple;
    }
  }

}

.bordered-block {
  border: 2px solid @blue;
  padding: 28px;
  margin-bottom: 2em;
}

.checkbox {
  line-height: 1em;
  margin-bottom: 14px;
  padding-left: 0;
  cursor: pointer;
  b {
    .inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../img/check-box.png');
    background-position: top left;
    background-repeat: no-repeat;
  }
  span {
    .inline-block;
    padding-left: 18px;
  }
  &.checked { b { background-position: bottom left; } }
}

.section-strip {
  height: 8px;
  .left-strip { height: 8px; background: @blue; }
  .right-strip { height: 8px; background: #3d406d; }
}

.section-content {
  .clearfix;
  position: relative;
  .row { margin-left: 0; margin-right: 0; }
}
.section-header {
  .clearfix;
  h1 { color: @dark-purple; }
  .subtitle { float: left; width: 100%; }
}

#page-content {
	position: relative;
}


.text-popup {
  background: #FFF;
  padding: 30px 35px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
  .rounded(4px);
  .note {
  	padding: 0;
  	font-size: 12px;
  	font-weight: bold;
  }
  h2 {
  	text-align: center;
  	color: @dark-purple;
  }
  p { margin: 0; }
  textarea, input[type=text], input[type=email] { width: 100%; margin-bottom: 10px; }
  input[type=submit] {
  	.inline-block;
	padding: 15px 60px;
	color: #fff !important;
	font-weight: bold;
	background: @blue;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none !important;
	border: none;
	.rounded(3px);
	&:hover { opacity: 0.8; }
  }
  label span { color: red; font-size: 12px; }
}


.social-icons {
  .inline-block;
  margin-left: 45px;
  margin-top: 5px;

  a {
    width: 29px;
    .inline-block;
    color: #fff;
    background: #45a3ba;
    padding: 5px 0 2px 1px;
    margin-left: 8px;
    margin-bottom: 10px;
    text-align: center;
	.rounded(3px);

    &:hover {
      background: @blue;
    }

    .icon-instagram {
      margin-left: 2px;
    }
  }
}


.common-info {
	margin: 60px 0;
	padding: 20px 0;
	//background: url(../img/saw-border-gray.png) repeat-x left top;
  @media (max-width: 767px) { margin-bottom: 0; }
	li {
		padding: 17px 0 17px 45px;
    	font-size: 18px;
    	border-top: 1px solid #eee;
    	&:first-child { border: none; }
    	span {
    		position: relative;
    		margin-left: 10px;
    		padding-left: 15px;
    		font-size: 16px;
    		&:before {
    			content: "";
    			display: block;
    			position: absolute;
    			top: 7px;
    			left: 0;
    			width: 5px;
    			height: 5px;
    			background-color: #999;
    			.rounded(100%);
    		}
    	}
	}
	.shipping { background: url(../img/icon-globe.png) no-repeat left center; }
	.payments { background: url(../img/icon-cards.png) no-repeat left center; }
	.guarantee { background: url(../img/icon-guarantee.png) no-repeat left center; }
	.docs { background: url(../img/icon-cert.png) no-repeat left center; }
}

.sale-badge {
  .inline-block;
  position: relative;
  vertical-align: middle;
  margin-top: 5px;
  padding: 2px 9px 2px 32px;
  color: #E01E06;
  border: 1px solid #eee;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -9px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 8px solid #eee;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -8px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 8px solid #fff;
  }
  b {
    .inline-block;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 3px;
    left: 3px;
    color: #aaa;
  }
}

#bottom-cta {
  margin: 0 6%;
}
.collections-cta {
  img { width: 90%; }
  .col-sm-4 { padding: 30px; text-align: center; }
  .col-sm-4:first-child, .col-sm-4:last-child { img { width: 83%; } }
  .et_pb_section { padding: 0; }
  .et_pb_row { padding: 0; width: 100%; }
  .et_pb_image_sticky { margin-bottom: 0 !important; }
  .et_pb_column_1_3 {
    width: 33.3333%;
    margin: 0;
  }
  .section-strip { display: none; }
}

article.post {
  margin-bottom: 4em;
}

.form-success { text-align: center; }


@media only screen and (max-width: 479px) {
  #page-content {
    width: 86% !important;
  }
  .header-title h1 { max-width: 100% !important; }
}
