#main-footer {
  margin-top: 80px;
  background-color: transparent;
  .footer-top {
    .clearfix;
    margin-bottom: 45px;
    text-transform: uppercase;
    text-align: center;

    .designers-link {
      width: 60%;
      margin: 0 auto 45px;
      text-align: center;
      border-bottom: 1px solid #d4d4d4;
      a { display: block; div>span { text-transform: uppercase; color: #555; } }
      h1 {
        margin: 0.2em 0 1em 0;
        font-weight: 400;
        font-size: 2.2em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: @blue; span { color: @dark-purple; }
      }
    }
    .testimonial {
      .inline-block;
      width: 80%;
      text-align: left;
      img { float: left; margin-right: 4%; }
    }
    .diamonds-shapes {
      text-align: center;
      li { .inline-block; }
      h4 {
        margin-bottom: 10px;
        text-transform: uppercase;
        color: inherit;
        font-weight: 400;
      }
    }

  }
  .footer-bottom {
    .clearfix;
    padding: 40px 0;
    background: @dark-purple;
    color: #fff;
    .copyright {
      text-align: center;
      text-transform: uppercase;
      line-height: 1.5em;
      >div { margin-top: 5%; text-align: center;  }
    }
    .fancy-link { .inline-block; margin-top: 1em; text-transform: none; text-align: center; padding-bottom: 2.5em; font-size: 1em; background: url('../img/fancy-logo.png') no-repeat bottom center; }
    .site-logo {
      display: block;
      width: 100%;
      height: auto;
      vertical-align: middle;
      img { width: 100%; }
    }
    .social-icons {
      margin: 0 0 20px 0;
      a {
        color: #fff;
        background: #575ba8;
        &:hover {
          color: #fff;
          opacity: 0.9;
        }
      }
      .fa { position: relative; top: -1px; }
      .fa-youtube { font-size: 19px; }
    }
    a { color: #fff; &:hover { color: #7E82DC !important; } }
  }

  .actions-col {
    text-align: right;
  }

  #footer-menu {
    margin-bottom: 32px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    //background: url(../img/saw-border-white.png) repeat-x left bottom;

    li {
      .inline-block;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
    }
    a:hover { background-color: transparent; }
  }

  .contacts {
    font-size: 14px;
    .fa {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 16px;
    }
    .phone {
      position: relative;
      margin: 20px 0 5px;
      padding-left: 22px;
      line-height: 18px;
      .fa { top: 4px; font-size: 19px; }
      a { color: inherit; }
    }
    .email {
      position: relative;
      margin-bottom: 20px;
      padding-left: 22px;
      .fa { top: 2px; }
    }
    .address { margin-bottom: 20px; font-size: 18px; }
  }

  .appointment-btn {
    .inline-block;
    padding: 16px 20px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    .rounded(3px);
    &:hover { border-color: #7E82DC; }
  }

  .services {
    padding: 80px 0 40px;
    text-align: center;
    img { width: 100%; }
    .logo {
      .inline-block;
      width: 80px;
      margin: 0 7px;
      vertical-align: middle;
      &.visa { width: 60px; }
      &.mastercard { width: 60px; }
      &.ags { width: 60px; }
      &.canrocks { width: 100px; }
      &.lights { width: 110px; }
    }
  }

  .footer-widget {
      width: 100%;
      margin: 0;
   li {
     margin-bottom: 0.3em;
      padding: 0 0 0 16px;
      font-weight: 400;
      font-size: 14px;
      text-align: left;
      background: url(../img/list-mark.png) no-repeat 0 6px;
   }
  }
  .widget_nav_menu {
    .inline-block;
    width: 45%;
    margin-left: 8%;
    &:first-child { margin-left: 0; }
  }



  @media (max-width: 767px) {
    margin-top: 50px;
    .footer-top { h4 { height: 2em !important; } }
    .footer-bottom {
      padding-top: 12%;
      padding-bottom: 12%;
      text-align: center;

    }

    #footer-menu { display: none; }

    .contacts {
      margin-bottom: 25px;
      padding-bottom: 10px;
      text-align: center;
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .address { color: #fff; }
    .phone, .email {
      width: 150px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .info-links {
      padding: 12% 5% 6% !important;
    }

    .widget_nav_menu { margin-left: 0; margin-bottom: 30px; }

    .actions-col { text-align: center; }

    .services .logo {
      width: 65px;
      margin: 7px;
    }

    .designers-link { margin-top: 30px !important; width: auto !important; }
    .diamonds-shapes { margin: 16% 0 10%; }


    a { color: inherit; }

    .copyright { line-height: 1.4em; margin-bottom: 2em; color: #fff; }

    .fwidget { margin-left: 0 !important; padding-bottom: 2em; }


  }

}
