#main-header {

  height: 225px;
  text-align: center;
  color: #83808b;
  z-index: 10;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: transparent !important;
  .container {
    padding-top: 0;
  }

  h1 {
    font-size: 1.2em;
    color: @dark-purple;
  }

  .site-logo {
    margin-bottom: 10px;
    a {
      .inline-block;
      width: 410px;
      height: 41px;
      background-image: url('../img/logo.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .header-subtitle { margin-bottom: 5%; text-transform: uppercase; color: @dark-purple; font-size: 1.3em; }

  #top-menu-nav {
    padding: 0 !important;
    .social-icons { display: none; }
  }

  .nav-btn { display: none; }

  .has-subnav { position: relative; }
  .main-nav-subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: -38px;
    width: 165px;
    z-index: 10;
    li { 
      display: block; 
      a {
        display: block;
        padding: 5px 30px;
        margin: 2px 0;
        background-color: rgba(237, 239, 251, 0.5);
      }
    }
    &.active { display: block; }
  }

  .et_header_style_centered #logo {
    max-width: 480px;
  }

  .info-block {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;

    .fa {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 16px;
    }

    .phone {
      position: relative;
      margin: 20px 0 5px;
      padding-left: 22px;
      line-height: 18px;
      .fa { top: 2px; font-size: 18px; }
      a { color: inherit; }
    }
    .email {
      position: relative;
      margin-bottom: 25px;
      padding-left: 22px;
      .fa { top: 2px; }
      a { color: inherit; }
    }
    .shopping-bag-status {
      .fa { top: 2px; }
      a {
        .inline-block;
        position: relative;
        padding-left: 22px;
        color: @blue;
        font-weight: 600;
      }
      .signin-btn {
        float: right;
        color: #83808B;
      }
    }
  }

  .social-icons {
    margin-left: -8px;
    .fa { position: relative; top: -2px; }
    .fa-youtube { font-size: 19px; }
  }



  @media (max-width: 767px) {
    padding-top: 25px !important;
    height: auto;

    #top-menu-nav {
      display: none;
      &.active {
        display: block;
        padding: 20px 0 !important;
        .top-menu, li { display: block; }
      }
      .social-icons { display: block; margin-top: 20px; }
    }

    .navi-box {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 10px;
      background-color: #fff;
      z-index: 10;
      -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.5);
    }
    .site-logo {
      padding: 4px 0 0 20px;
      text-align: left;
      a {
        width: 190px;
        height: 20px;
        background-size: contain;
      }
    }
    .nav-btn {
      display: inline-block;
      position: absolute;
      top: 4px;
      right: 70px;
      font-size: 27px;
      color: @blue;
      // &:before {
      //   content: "\61";
      //   font-size: 34px;
      //   left: 0;
      //   position: relative;
      //   top: 0;
      //   color: @blue;
      //   font-family: 'ETmodules';
      //   speak: none;
      //   font-style: normal;
      //   font-weight: normal;
      //   font-variant: normal;
      //   text-transform: none;
      //   line-height: 1;
      //   -webkit-font-smoothing: antialiased;
      //   -moz-osx-font-smoothing: grayscale;
      // }
    }
    .shopping-bag-status {
      position: absolute;
      top: 11px;
      right: 15px;
      font-size: 18px;
      a { color: @blue; }
      .fa { position: relative; top: -1px; margin-right: 4px; }
    }
    .info-block {
      position: relative;
      right: auto;
      width: 144px;
      margin: 0 auto;
    }
    .phone {
      margin-bottom: 10px !important;
    }
  }

}

.header-pic {
  margin-bottom: 8%;
  img { width: 100%; height: auto; }
}

.header-title {
  position: relative;
  margin: 0 0 70px;
  min-height: 27px;
  font-size: 1.8em;
  letter-spacing: 0.2em;
  text-align: center;
  .colored-border {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    z-index: 0;
  }

  h1 {
    position: relative;
    max-width: 60%;
    .inline-block;
    padding: 0 50px;
    font-weight: 400;
    background-color: #fff;
    z-index: 2;
    font-size: 1.6em;

  }
  h2 {
    font-size: 0.9em !important;
    color: #999 !important;
    letter-spacing: 1pt;
  }
  span { color: @dark-purple; text-transform: capitalize; }
}
