.buy-section {
  .section {

  }
  .section-header {
    text-align: center;
    h1 { .inline-block; }
    a { float: right; }
  }
  .section-content {
    padding: 35px 0 0;
    border-top: 1px solid #eee;
  }
}

.filters {
  h4 {
    margin-bottom: 0.8em;
    font-weight: bold !important;
    font-size: 16px;
  }
  .icheck-label {
    margin-bottom: 6px;
  }
  .icheck-item {
    top: -1px;
  }
}

.product-list {
  padding: 4em 0 5em;
  text-align: center;

  .status-bar {
    .clearfix;
    padding: 2.6% 0;
    text-align: left;
    font-size: 14px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    .showing { float: left; }
    .display { float: right; }
    .pager {
      float: right;
      margin: 0;
      text-align: left;

    }
  }
  &.specials-list {
    .price {
      font-size: 1em !important;
      font-weight: 400 !important;
    }
  }

  // &.designer-collection {
  //   .product-list-item {
  //     height: 300px !important;
  //     margin-bottom: 40px;
  //     .title { text-decoration: none; }
  //   }
  //   .product-list-item-desc {
  //     bottom: 5%;
  //   }
  // }

  &.designers {
    .title {
      font-size: 1.4em;
      font-weight: normal;
      letter-spacing: 1px;
      color: #fff;
      span {
        padding: 0.4em 0;
        background-color: @blue;
        line-height: 1.7em;
        -moz-box-shadow:    15px 0 0 @blue, -15px 0 0 @blue;
        -webkit-box-shadow: 15px 0 0 @blue, -15px 0 0 @blue;
        box-shadow:         15px 0 0 @blue, -15px 0 0 @blue;
      }
    }
    .subtitle { font-size: 1.2em; font-weight: bold;  color: @dark-purple; }
    .product-list-item-desc {
      bottom: 0;
    }
    .product-list-item {
      height: auto !important;
      padding-bottom: 70px;
      margin-bottom: 40px;
      .title { text-decoration: none; }
    }
    .product-list-item:nth-child(odd) {
      .title {
        span {
          background-color: @dark-purple;
          -moz-box-shadow:    15px 0 0 @dark-purple, -15px 0 0 @dark-purple;
          -webkit-box-shadow: 15px 0 0 @dark-purple, -15px 0 0 @dark-purple;
          box-shadow:         15px 0 0 @dark-purple, -15px 0 0 @dark-purple;
        }
      }
      .subtitle { color: @blue; }
    }
  }

}
.product-list-item {
  margin-bottom: 60px;
  padding-top: 0;
  max-width: 286px;
  height: 300px;
  img {
    width: auto !important;
    max-height: 100%;
    max-width: 90%;
  }

  .product-list-item-pic {
    position: relative;
    margin-bottom: 10px;
    height: 200px;
    line-height: 200px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
  }
  .title {
    margin-bottom: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
  }
  .price {
    margin-bottom: 0.4em;
    font-size: 1.2em;
    font-weight: bold;
    color: @blue;
    s { color: #999; }
  }
  .discount-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    color: #fff;
    background: url(../img/discount-label.png) no-repeat;
    background-size: contain;
    text-shadow: 0px 1px 0px rgba(115, 0, 13, 0.5);
    -webkit-text-shadow: 0px 1px 0px rgba(115, 0, 13, 0.5);
    -moz-text-shadow: 0px 1px 0px rgba(115, 0, 13, 0.5);
    .number {
      position: absolute;
      top: 28px;
      right: 31px;
      font-size: 30px;
      letter-spacing: -2px;
      font-weight: normal;
    }
    .perc {
      position: absolute;
      top: 24px;
      right: 14px;
      font-size: 17px;
      font-weight: 400;
    }
    .off {
      position: absolute;
      top: 36px;
      right: 12px;
      font-size: 9px;
      font-weight: 400;
    }
  }

  >a { display: block; color: inherit; }

  &.bottom-desc { padding-bottom: 4%; .product-list-item-desc { bottom: 0; } }

  @media (max-width: 767px) {
    &.ring-item {
      float: none;
      padding: 0;
      max-width: 100%;
      height: auto;

    }
    .product-list-item-pic {
      margin-bottom: 0 !important;
      img { width: 80%; }
    }
  }

}

#stones-collection {

  @media (max-width: 767px) {

    #stone-search-advanced-params {
      padding: 0;
      .row { margin-bottom: 2em; }
      .param-title { margin-bottom: 2em; }
      .mark { font-size: 0.8em; }
      .shapes li { font-size: 48px; }
      .shape-title {
        top: -12px;
        font-size: 11px;
        font-weight: bold;
      }
    }

    .mobile-stone-table {
      .table-item {
        display: block;
        color: inherit;
        .col-xs-3 { padding-left: 2.4%; }

      }
      .price { font-size: 1.6em; height: auto; margin-bottom: 8px; }
      .fa {
        font-size: 1.1em;
        font-weight: bold;
      }
      .button {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

.featured-border {
  margin: 0 8%;
  border-color: #dfdfdf;
}

#latest {
  padding: 50px 0;

  .product-list-item {
    display: none;
    position: relative;
    margin: 30px 0;
    text-align: center;
    height: 200px !important;
    img {
      vertical-align: middle !important;
      -webkit-transition: all 0.7s ease-in;
              transition: all 0.7s ease-out;
      -webkit-transform: scale(0.6);
              transform: scale(0.6);
    }
    &:hover {
      img {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-transition: all 0.2s ease-in;
                transition: all 0.2s ease-out;
      }
      .product-list-item-desc { color: @dark-purple; }
    }
    .title { text-transform: none; }
    .product-list-item-pic {
      width: 100%;
      left: 0;
      top: 12%;
      margin-bottom: 10%;
    }
    .product-list-item-desc {
      position: absolute;
      padding: 8px 20px;
      width: 100%;
      height: 4em;
      bottom: 0;
      z-index: 3;
      line-height: 1.5em;
      color: #999;
      background: rgba(255,255,255,0.8);
      -webkit-transition: color 0.4s ease-out;
              transition: color 0.4s ease-out;
      // -webkit-transform: translatey(0px);
      //   transform: translatey(0px);
    }

    .price {
      position: absolute;
      top: -15px;
      right: 0;
      color: #cd384a;
      z-index: 9;
      width: 100px;
      height: 100px;
      line-height: 100px;
      background: rgba(255,255,255,0.8);
      border-radius: 100px;
      -webkit-border-radius: 100px;
      span {
        font-size: 0.8em;
        font-weight: normal;
      }
      @media screen and (max-width: 767px) {
        height: 50px; line-height: 50px;
      }

    }
  }


  .featured-rings {
    margin: 0 auto;

    .owl-item {
      opacity: 0;

      @media screen and (max-width: 480px) {
        opacity: 0.6;
        .price {
          opacity: 0;
          font-size: 1.4em;
          -webkit-transition: opacity 0.7s ease-in-out;
          -o-transition: opacity 0.7s ease-in-out;
          transition: opacity 0.7s ease-in-out;
        }
        &.center {
          .price { opacity: 1; }
          .product-list-item-desc { padding: 8px 0; }
          .title {
            font-size: 1.2em;
          }
        }
      }

      @media screen and (max-width: 767px) {
        img { width: 100%;}
      }

      -webkit-transition: opacity 0.7s ease-in-out;
      -o-transition: opacity 0.7s ease-in-out;
      transition: opacity 0.7s ease-in-out;

      &.center, &.active {
        opacity: 1;
      }
      img { .inline-block; }
    }

    .center {
      .product-list-item {
        img {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }

        .product-list-item-desc {
          -webkit-transform: translatey(0);
            transform: translatey(0);
        }

      }
    }
    s { display: block; }
  }
}
