.product-details {
  .left-col {
    padding: 0;
  }
  .right-col {
    h1 {
      margin-bottom: 10px;
      color: @dark-purple;
      font-size: 1.8em;
    }
  }
  .pic {
    margin-bottom: 2em;
    img { width: 100%; }
    iframe {
      padding: 6px 10px;
      border: 1px solid #eee !important;
      .rounded(4px);
      body { height: auto; }
    }
  }
  .pics-more {
    .inline-block;
    padding: 15px 0 0 15px;
    background: #eee;
    .rounded(4px);
    .pic {
      .inline-block;
      width: 73px;
      height: 73px;
      line-height: 73px !important;
      text-align: center;
      margin: 0 15px 15px 0 !important;
      padding: 15px;
      background-color: #fff;
      box-sizing: content-box;
      .rounded(4px);
    }
    .video {
      color: #cc181e !important;
      line-height: 2.4em !important;
      i { font-size: 64px; }
      span {
        position: relative;
        top: -15px;
        font-size: 12px;
        font-weight: bold;
      }
    }
    img { 
      width: auto !important;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .price {
    margin-bottom: 15px;
    font-size: 22px;
    color: @blue;
    border-bottom: 1px solid #eee;
    padding: 0;
    s { .inline-block; margin-right: 18px; vertical-align: middle; }
    .sale-badge {
      margin: 0;
      &:before {
        left: -9px;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-right: 8px solid #eee;
      }
      &:after {
        left: -8px;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-right: 8px solid #fff;
      }
      b {
        .inline-block;
        position: absolute;
        font-size: 12px;
        font-weight: 500;
        top: 9px;
        left: 0;
        color: #A5A5A5;
      }
    }
  }

  .buttons {
    margin-bottom: 30px;
  }
  .to-bag {
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: middle;
    color: #fff !important;
    i {
      position: relative;
      top: -1px;
      left: -8px;
    }
  }

  .appointment-btn {
    .inline-block;
    margin: 0 20px;
    padding: 10px 18px;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
  }

  .metals-list {
    margin-bottom: 20px;
    li {
      .inline-block;
      margin-right: 15px;
      font-size: 12px;
      line-height: 14px;
      &.selected { font-weight: bold; .fa { .inline-block; } }
      .fa {
        display: none;
        position: relative;
        top: 1px;
        margin-right: 2px;
      }
    }
    label { cursor: pointer; }
    input { display: none; }
    span {
      border-bottom: 1px dotted;
      border-color: inherit;
    }
  }

  .socials {
    .inline-block;
    width: 150px;
    vertical-align: middle;
    font-size: 26px;
    text-align: center;
    color: #888;
    >div { font-size: 11px; }
    a { padding: 0 5px; color: inherit; }
  }

  .technical-details {
    position: relative;
    margin: 30px 0;
    padding: 30px 35px;
    border: 1px solid #eee;
    line-height: 1.8em;
    background: url(../img/decor-details.png) no-repeat right bottom;
    p { margin: 0; }
  }

  .full-desc {
    padding-top: 35px;
    text-transform: none;
    border-top: 1px solid #eee;
  }


  .ship-risk-links { margin-top: 30px; }
  .shipping-link {
    .inline-block;
    margin-right: 25px;
    padding-left: 23px;
    background: url('../img/icon-shipping.png') no-repeat;
    background-size: 17px;
    background-position: 0 1px;
    font-size: 14px;
    line-height: 14px !important;
    vertical-align: top;
    color: #888 !important;
  }
  .risk-link {
    .inline-block;
    padding-left: 18px;
    font-size: 14px;
    line-height: 14px !important;
    vertical-align: top;
    color: #888 !important;
    background: url('../img/icon-risk-free.png') no-repeat;
    background-size: 12px;
  }


  @media (max-width: 767px) {

    .details-header {
      h1 { margin-bottom: 30px; text-align: center; font-size: 2em; color: @dark-purple; }
    }
    .left-col { margin-bottom: 30px; padding: 0; }
    .pics-more .pic {
      width: 72px;
      height: 72px;
      line-height: 73px;
      margin: 0 10px 25px 10px !important;
    }
    .metals-list li {
      font-size: 14px;
      margin: 6px 8px;
    }
    .buttons {
      .button { margin-bottom: 30px; br { display: none; } }
      .appointment-btn { font-size: 14px; }
    }
    .socials { font-size: 30px; }
    .full-desc, .technical-details { text-align: left; }
    .technical-details { padding: 25px; }
    .common-info {
      li {
        background-position: 0 20px;
        a { display: block; font-size: 16px; }
        span { margin-left: 0; padding-left: 0; &:before { display: none; } }
      }
    }
  }


}

.instagram-media {
  width: 100%;
  box-shadow: none !important;
  border: 1px solid #eee !important;
}

#stone-details {
  .pic {
    text-align: center;
    img { width: 60%; }
  }
  .price { margin-bottom: 26px; }
  .full-desc {
    text-transform: none;
    p { margin: 0.8em 0 2.4em; }
    h4 {
      .inline-block;
      margin: 0 30px 0 0;
      padding: 0;
      vertical-align: baseline;
      font-weight: bold !important;
    }
    line-height: 1.6em; color: inherit;
    span { .inline-block; vertical-align: middle; }
    .property {
      color: #999;
      .inline-block;
      position: relative;
      top: -1px;
      .selected, .selected-true {
        padding: 0 5px;
        color: @dark-purple;
        font-weight: bold;
        border: 1px solid #B8BAD2;
        .rounded(2px);
      }
      span { margin-right: 10px; }
    }
  }
  .technical-details {
    line-height: 1.6em;
  }
  .report {
    .inline-block;
    position: absolute;
    max-width: 16%;
    top: 35px;
    right: 35px;
    font-size: 11px;
    line-height: 1.5em;
  }
  .stone-report-btn {
    display: block;
    width: 72px;
    height: 72px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    background-image: url('../img/icon-stone-report2.png');
    background-repeat: no-repeat;
    background-size: contain;
    span { display: block; padding-top: 72px; color: #555; }
    &:hover { opacity: 0.8; }

    &.gia-report {
      background-image: url('../img/gia-report.png'); 
      border: 1px solid #cdc0aa;
    }
  }


  @media (max-width: 767px) {
    .report { position: relative; top: auto; right: auto; }
    .stone-report-btn {
      .inline-block;
      width: 100%;
      height: 65px;
      padding-left: 60px;
      text-align: left;
      font-size: 14px;
      background-size: 50px;
      span { padding-top: 13px; }
      .fa { font-weight: bold; margin-left: 4px; }
    }
  }

}
