.order-content {
  h1 { color: @dark-purple; }
  h3 { padding: 0; }
  .subtitle {
    .inline-block;
    margin-bottom: 2em;
    color: @blue;
    text-transform: uppercase;
    a { text-decoration: underline; color: @blue; }
  }
  hr {
    border-color: #d9dae0;
  }
  .bag-empty {
    margin: 2em 0 3em;
    text-align: center;
    font-size: 1.4em;
    h3 { margin-bottom: 2em; }
    p { margin-bottom: 3em; }
  }
  .block-header {
    margin: 0 !important;
    padding: 2% 3% !important;
    min-height: 60px;
    background: #e3f7fa;
    text-transform: uppercase;
    font-weight: bold;
    color: @dark-purple;
    >div { padding: 0; }
  }
  .section-content {
    .clearfix;
    margin-bottom: 2em;
    padding: 0;
    color: @dark-purple;
    .shopping-item { padding: 2em 0; border-top: 1px solid #efefef; }
    .pic { 
      text-align: center; 
      img { 
        margin-bottom: 1em;
        max-width: 200px;
        width: auto;
        max-height: 200px;
        height: auto; 
      } 
    }
    .stone-pic { width: 60% !important; }
    .desc {
      padding-left: 40px !important;
      a, a:hover { color: @dark-purple; text-transform: none; }
    }
    .description { color: #777; }
    .options {
      margin-bottom: 2em;
      .options-item {
        margin-right: 20px;
        .inline-block;
      }
      label {
        text-transform: none;
        font-weight: bold;
        font-size: 14px;
        color: #777;
      }
    }
    .price {
      text-align: right;
      .sign { line-height: 2em; margin-right: 5px; }
      strong { font-size: 1.3em; }
    }
    a { color: @blue; text-decoration: underline; }

    .row {
      padding: 2.4em 0;
      >div { padding: 0; }
    }
    strong { .inline-block; margin-bottom: 0.6em; text-transform: uppercase; }
  }
  .rows {
    .actions {
      margin-top: 2em;
      margin-bottom: 0;
      a { .inline-block; margin-bottom: 1em; }
    }
  }
  .shipping {
    border-top: 3px solid #d7f1f5;
    .col-sm-7 {
      padding-left: 40px !important;
      >div { padding: 0; }
    }
  }
  .total {
    border-top: 1px solid #efefef;
    .col-sm-7 {
      padding-left: 40px !important;
    }
  }
  .fa { margin-right: 5px; }
  .remove-btn { color: #cd3851 !important; }
  .form-control { width: auto !important; }
  .checkout-bottom {
    .clearfix;
    border-top: 1px solid #efefef;
    padding: 2.4em 0;
    a {
      color: @blue;
      &.continue { .inline-block; text-transform: uppercase; font-weight: bold; }
    }
  }
  &#checkout {
    .subtitle {
      a { margin-left: 0.5em; }
    }
    a { text-decoration: none; }
  }

  #warranties {
    margin: 40px 0 60px;
    background-color: #F3F3F3;
  }
}
