@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.centered {
  text-align: center;
}
.signin-btn {
  padding-left: 18px !important;
  font-size: 14px;
  font-weight: normal !important;
}
.signin-btn .fa {
  top: 3px !important;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #616161;
  background: url('../img/header-bg.jpg') no-repeat top;
  background-size: 100%;
}
@media only screen and (max-width: 767px) {
  body {
    background-position: 0 40px;
  }
}
@media only screen and (min-width: 1500px) {
  body {
    background-position: 0 -5%;
  }
}
h1,
h2,
h3,
h4 {
  margin: 0 0 15px;
  color: #0e92b3;
  font-weight: normal;
  text-transform: none;
}
.container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.container-fluid {
  padding: 0;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  color: #3d406d;
}
label {
  font-weight: inherit;
}
.top-menu {
  float: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.top-menu li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 0;
  font-size: 14px;
  color: #3d406d;
}
.top-menu li a {
  padding-bottom: 13px;
  color: inherit;
}
.top-menu li a:hover {
  color: #0e92b3;
  background-color: transparent;
}
.top-menu li.current-menu-item > a {
  color: inherit;
}
#main-content .container {
  padding: 0;
}
#page-container {
  padding-top: 50px;
  overflow: hidden;
}
.icheck-item {
  position: absolute;
  top: 0;
  left: 0;
}
.icheck-label {
  position: relative;
  margin-bottom: 8px;
  padding-left: 28px;
  width: 100%;
  cursor: pointer;
}
.icheck-label span {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-top: 2px;
  line-height: 120%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
  color: #007d8e !important;
}
table {
  font-size: 1em;
}
table thead {
  background: #efefef;
}
table th {
  padding: 25px 0 10px 0 !important;
}
table th,
table td {
  text-align: center;
}
table th,
table tr:hover {
  color: #3d406d;
}
table a {
  color: #0e92b3 !important;
}
select.form-control {
  width: auto;
}
input.form-control {
  padding: 6px 12px;
}
.row.nomargin {
  margin-left: 0;
  margin-right: 0;
}
.noborder {
  border: none !important;
}
.noborder-top {
  border-top: none !important;
}
.noborder-bottom {
  border-bottom: none !important;
}
.nomargin {
  margin: 0 !important;
}
.nopadding {
  padding: 0 !important;
}
.nopadding-left {
  padding-left: 0 !important;
}
.nopadding-right {
  padding-right: 0 !important;
}
.text-cross {
  text-decoration: line-through;
}
.text-gray {
  color: #777 !important;
}
.underline {
  line-height: .8em;
  border-bottom: 1px solid #d9dae0;
}
.button {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 0.8em 3em;
  color: #fff !important;
  background: #0e92b3;
  text-align: center;
  text-decoration: none !important;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* future proofing */

}
.button:hover {
  background-color: #019FB5;
  color: #fff !important;
}
.button.white {
  background: #fff;
  border: 1px solid #0e92b3;
  color: #0e92b3 !important;
}
.button.gray {
  color: #555 !important;
  background-color: #eee;
}
.button.gray:hover {
  background-color: #ddd;
}
.button.full-width {
  width: 100% !important;
}
.button.disabled {
  background: #b7b7b7;
  color: #ebebeb !important;
  cursor: default;
}
.colored-border {
  position: relative;
  width: 100%;
  height: 10px;
}
.colored-border.two-colors:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #0e92b3;
}
.colored-border.two-colors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #3d406d;
}
.bordered-block {
  border: 2px solid #0e92b3;
  padding: 28px;
  margin-bottom: 2em;
}
.checkbox {
  line-height: 1em;
  margin-bottom: 14px;
  padding-left: 0;
  cursor: pointer;
}
.checkbox b {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 12px;
  height: 12px;
  background-image: url('../img/check-box.png');
  background-position: top left;
  background-repeat: no-repeat;
}
.checkbox span {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding-left: 18px;
}
.checkbox.checked b {
  background-position: bottom left;
}
.section-strip {
  height: 8px;
}
.section-strip .left-strip {
  height: 8px;
  background: #0e92b3;
}
.section-strip .right-strip {
  height: 8px;
  background: #3d406d;
}
.section-content {
  *zoom: 1;
  position: relative;
}
.section-content:before,
.section-content:after {
  content: " ";
  display: table;
}
.section-content:after {
  clear: both;
}
.section-content .row {
  margin-left: 0;
  margin-right: 0;
}
.section-header {
  *zoom: 1;
}
.section-header:before,
.section-header:after {
  content: " ";
  display: table;
}
.section-header:after {
  clear: both;
}
.section-header h1 {
  color: #3d406d;
}
.section-header .subtitle {
  float: left;
  width: 100%;
}
#page-content {
  position: relative;
}
.text-popup {
  background: #FFF;
  padding: 30px 35px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* future proofing */

}
.text-popup .note {
  padding: 0;
  font-size: 12px;
  font-weight: bold;
}
.text-popup h2 {
  text-align: center;
  color: #3d406d;
}
.text-popup p {
  margin: 0;
}
.text-popup textarea,
.text-popup input[type=text],
.text-popup input[type=email] {
  width: 100%;
  margin-bottom: 10px;
}
.text-popup input[type=submit] {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 15px 60px;
  color: #fff !important;
  font-weight: bold;
  background: #0e92b3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* future proofing */

}
.text-popup input[type=submit]:hover {
  opacity: 0.8;
}
.text-popup label span {
  color: red;
  font-size: 12px;
}
.social-icons {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-left: 45px;
  margin-top: 5px;
}
.social-icons a {
  width: 29px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  color: #fff;
  background: #45a3ba;
  padding: 5px 0 2px 1px;
  margin-left: 8px;
  margin-bottom: 10px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* future proofing */

}
.social-icons a:hover {
  background: #0e92b3;
}
.social-icons a .icon-instagram {
  margin-left: 2px;
}
.common-info {
  margin: 60px 0;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .common-info {
    margin-bottom: 0;
  }
}
.common-info li {
  padding: 17px 0 17px 45px;
  font-size: 18px;
  border-top: 1px solid #eee;
}
.common-info li:first-child {
  border: none;
}
.common-info li span {
  position: relative;
  margin-left: 10px;
  padding-left: 15px;
  font-size: 16px;
}
.common-info li span:before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #999;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  /* future proofing */

}
.common-info .shipping {
  background: url(../img/icon-globe.png) no-repeat left center;
}
.common-info .payments {
  background: url(../img/icon-cards.png) no-repeat left center;
}
.common-info .guarantee {
  background: url(../img/icon-guarantee.png) no-repeat left center;
}
.common-info .docs {
  background: url(../img/icon-cert.png) no-repeat left center;
}
.sale-badge {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  position: relative;
  vertical-align: middle;
  margin-top: 5px;
  padding: 2px 9px 2px 32px;
  color: #E01E06;
  border: 1px solid #eee;
}
.sale-badge:before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -9px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 8px solid #eee;
}
.sale-badge:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 8px solid #fff;
}
.sale-badge b {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 3px;
  left: 3px;
  color: #aaa;
}
#bottom-cta {
  margin: 0 6%;
}
.collections-cta img {
  width: 90%;
}
.collections-cta .col-sm-4 {
  padding: 30px;
  text-align: center;
}
.collections-cta .col-sm-4:first-child img,
.collections-cta .col-sm-4:last-child img {
  width: 83%;
}
.collections-cta .et_pb_section {
  padding: 0;
}
.collections-cta .et_pb_row {
  padding: 0;
  width: 100%;
}
.collections-cta .et_pb_image_sticky {
  margin-bottom: 0 !important;
}
.collections-cta .et_pb_column_1_3 {
  width: 33.3333%;
  margin: 0;
}
.collections-cta .section-strip {
  display: none;
}
article.post {
  margin-bottom: 4em;
}
@media only screen and (max-width: 479px) {
  #page-content {
    width: 86% !important;
  }
  .header-title h1 {
    max-width: 100% !important;
  }
}
