#content-area {
  margin-bottom: 10%;
  font-size: 14px;
  img { max-width: 100% !important; height: auto; }
}

#main-content { 
  #left-area { 
    font-size: 1em; 
    h1, h2, h3 { color: @dark-purple; }
    h2 { font-size: 1.2em; }
  }
  #left-area, #sidebar { a { color: @blue !important; &:hover { color: #007d8e !important; } } }
  
}

.et_pb_section { padding-top: 0; }

#sidebar {
  width: 300px !important;
  border-left: 1px solid @blue;
  h4 { padding: 0; font-size: 1.4em !important; color: inherit; }
  a { font-size: 1.1em; }
  .et_pb_widget { margin-bottom: 50px !important; }
  li { margin-bottom: 2px; }
}

.et_right_sidebar #left-area {
  width: 735px; 
}