.textBlock{
        		text-align: center;
        		width: auto;
        		background-color: lightyellow;
        		background-size: 50px;
        		border: 1px solid rgba(0,0,0,0.3);
        		border-radius: 5px;
			margin-left:auto;
			margin-right:auto;
        		padding: 3px;
        	}
.fontSize8{
		font-size:8pt; 
	}
.fontSize9{
		font-size:9pt; 
	}
.fontSize12{
		font-size:12pt; 
	}
.fontSize16{
		font-size:16pt; 
	}
.fontSize18{
		font-size:18pt; 
	}

.fontSize22{
		font-size:22pt; 
	}

.hoursBlock{
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 3px;
	padding: 3px;
}

.text-center {
    text-align: center;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

