@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.centered {
  text-align: center;
}
.signin-btn {
  padding-left: 18px !important;
  font-size: 14px;
  font-weight: normal !important;
}
.signin-btn .fa {
  top: 3px !important;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.6;
  color: #616161;
  background: url('../img/header-bg.jpg') no-repeat top;
  background-size: 100%;
}
@media only screen and (max-width: 767px) {
  body {
    background-position: 0 40px;
  }
}
@media only screen and (min-width: 1500px) {
  body {
    background-position: 0 -5%;
  }
}
h1,
h2,
h3,
h4 {
  margin: 0 0 15px;
  color: #0e92b3;
  font-weight: normal;
  text-transform: none;
}
.container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.container-fluid {
  padding: 0;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  color: #3d406d;
}
label {
  font-weight: inherit;
}
.top-menu {
  float: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.top-menu li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 0;
  font-size: 14px;
  color: #3d406d;
}
.top-menu li a {
  padding-bottom: 13px;
  color: inherit;
}
.top-menu li a:hover {
  color: #0e92b3;
  background-color: transparent;
}
.top-menu li.current-menu-item > a {
  color: inherit;
}
#main-content .container {
  padding: 0;
}
#page-container {
  padding-top: 50px;
  overflow: hidden;
}
.icheck-item {
  position: absolute;
  top: 0;
  left: 0;
}
.icheck-label {
  position: relative;
  margin-bottom: 8px;
  padding-left: 28px;
  width: 100%;
  cursor: pointer;
}
.icheck-label span {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-top: 2px;
  line-height: 120%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
  color: #007d8e !important;
}
table {
  font-size: 1em;
}
table thead {
  background: #efefef;
}
table th {
  padding: 25px 0 10px 0 !important;
}
table th,
table td {
  text-align: center;
}
table th,
table tr:hover {
  color: #3d406d;
}
table a {
  color: #0e92b3 !important;
}
select.form-control {
  width: auto;
}
input.form-control {
  padding: 6px 12px;
}
.row.nomargin {
  margin-left: 0;
  margin-right: 0;
}
.noborder {
  border: none !important;
}
.noborder-top {
  border-top: none !important;
}
.noborder-bottom {
  border-bottom: none !important;
}
.nomargin {
  margin: 0 !important;
}
.nopadding {
  padding: 0 !important;
}
.nopadding-left {
  padding-left: 0 !important;
}
.nopadding-right {
  padding-right: 0 !important;
}
.text-cross {
  text-decoration: line-through;
}
.text-gray {
  color: #777 !important;
}
.underline {
  line-height: .8em;
  border-bottom: 1px solid #d9dae0;
}
.button {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 0.8em 3em;
  color: #fff !important;
  background: #0e92b3;
  text-align: center;
  text-decoration: none !important;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* future proofing */

}
.button:hover {
  background-color: #019FB5;
  color: #fff !important;
}
.button.white {
  background: #fff;
  border: 1px solid #0e92b3;
  color: #0e92b3 !important;
}
.button.gray {
  color: #555 !important;
  background-color: #eee;
}
.button.gray:hover {
  background-color: #ddd;
}
.button.full-width {
  width: 100% !important;
}
.button.disabled {
  background: #b7b7b7;
  color: #ebebeb !important;
  cursor: default;
}
.colored-border {
  position: relative;
  width: 100%;
  height: 10px;
}
.colored-border.two-colors:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #0e92b3;
}
.colored-border.two-colors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #3d406d;
}
.bordered-block {
  border: 2px solid #0e92b3;
  padding: 28px;
  margin-bottom: 2em;
}
.checkbox {
  line-height: 1em;
  margin-bottom: 14px;
  padding-left: 0;
  cursor: pointer;
}
.checkbox b {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 12px;
  height: 12px;
  background-image: url('../img/check-box.png');
  background-position: top left;
  background-repeat: no-repeat;
}
.checkbox span {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding-left: 18px;
}
.checkbox.checked b {
  background-position: bottom left;
}
.section-strip {
  height: 8px;
}
.section-strip .left-strip {
  height: 8px;
  background: #0e92b3;
}
.section-strip .right-strip {
  height: 8px;
  background: #3d406d;
}
.section-content {
  *zoom: 1;
  position: relative;
}
.section-content:before,
.section-content:after {
  content: " ";
  display: table;
}
.section-content:after {
  clear: both;
}
.section-content .row {
  margin-left: 0;
  margin-right: 0;
}
.section-header {
  *zoom: 1;
}
.section-header:before,
.section-header:after {
  content: " ";
  display: table;
}
.section-header:after {
  clear: both;
}
.section-header h1 {
  color: #3d406d;
}
.section-header .subtitle {
  float: left;
  width: 100%;
}
#page-content {
  position: relative;
}
.text-popup {
  background: #FFF;
  padding: 30px 35px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* future proofing */

}
.text-popup .note {
  padding: 0;
  font-size: 12px;
  font-weight: bold;
}
.text-popup h2 {
  text-align: center;
  color: #3d406d;
}
.text-popup p {
  margin: 0;
}
.text-popup textarea,
.text-popup input[type=text],
.text-popup input[type=email] {
  width: 100%;
  margin-bottom: 10px;
}
.text-popup input[type=submit] {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 15px 60px;
  color: #fff !important;
  font-weight: bold;
  background: #0e92b3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* future proofing */

}
.text-popup input[type=submit]:hover {
  opacity: 0.8;
}
.text-popup label span {
  color: red;
  font-size: 12px;
}
.social-icons {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-left: 45px;
  margin-top: 5px;
}
.social-icons a {
  width: 29px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  color: #fff;
  background: #45a3ba;
  padding: 5px 0 2px 1px;
  margin-left: 8px;
  margin-bottom: 10px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* future proofing */

}
.social-icons a:hover {
  background: #0e92b3;
}
.social-icons a .icon-instagram {
  margin-left: 2px;
}
.common-info {
  margin: 60px 0;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .common-info {
    margin-bottom: 0;
  }
}
.common-info li {
  padding: 17px 0 17px 45px;
  font-size: 18px;
  border-top: 1px solid #eee;
}
.common-info li:first-child {
  border: none;
}
.common-info li span {
  position: relative;
  margin-left: 10px;
  padding-left: 15px;
  font-size: 16px;
}
.common-info li span:before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #999;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  /* future proofing */

}
.common-info .shipping {
  background: url(../img/icon-globe.png) no-repeat left center;
}
.common-info .payments {
  background: url(../img/icon-cards.png) no-repeat left center;
}
.common-info .guarantee {
  background: url(../img/icon-guarantee.png) no-repeat left center;
}
.common-info .docs {
  background: url(../img/icon-cert.png) no-repeat left center;
}
.sale-badge {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  position: relative;
  vertical-align: middle;
  margin-top: 5px;
  padding: 2px 9px 2px 32px;
  color: #E01E06;
  border: 1px solid #eee;
}
.sale-badge:before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -9px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 8px solid #eee;
}
.sale-badge:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 8px solid #fff;
}
.sale-badge b {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 3px;
  left: 3px;
  color: #aaa;
}
#bottom-cta {
  margin: 0 6%;
}
.collections-cta img {
  width: 90%;
}
.collections-cta .col-sm-4 {
  padding: 30px;
  text-align: center;
}
.collections-cta .col-sm-4:first-child img,
.collections-cta .col-sm-4:last-child img {
  width: 83%;
}
.collections-cta .et_pb_section {
  padding: 0;
}
.collections-cta .et_pb_row {
  padding: 0;
  width: 100%;
}
.collections-cta .et_pb_image_sticky {
  margin-bottom: 0 !important;
}
.collections-cta .et_pb_column_1_3 {
  width: 33.3333%;
  margin: 0;
}
.collections-cta .section-strip {
  display: none;
}
article.post {
  margin-bottom: 4em;
}
.form-success {
  text-align: center;
}
@media only screen and (max-width: 479px) {
  #page-content {
    width: 86% !important;
  }
  .header-title h1 {
    max-width: 100% !important;
  }
}
#main-header {
  height: 225px;
  text-align: center;
  color: #83808b;
  z-index: 10;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: transparent !important;
}
#main-header .container {
  padding-top: 0;
}
#main-header h1 {
  font-size: 1.2em;
  color: #3d406d;
}
#main-header .site-logo {
  margin-bottom: 10px;
}
#main-header .site-logo a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 410px;
  height: 41px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
#main-header .header-subtitle {
  margin-bottom: 5%;
  text-transform: uppercase;
  color: #3d406d;
  font-size: 1.3em;
}
#main-header #top-menu-nav {
  padding: 0 !important;
}
#main-header #top-menu-nav .social-icons {
  display: none;
}
#main-header .nav-btn {
  display: none;
}
#main-header .has-subnav {
  position: relative;
}
#main-header .main-nav-subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: -38px;
  width: 165px;
  z-index: 10;
}
#main-header .main-nav-subnav li {
  display: block;
}
#main-header .main-nav-subnav li a {
  display: block;
  padding: 5px 30px;
  margin: 2px 0;
  background-color: rgba(237, 239, 251, 0.5);
}
#main-header .main-nav-subnav.active {
  display: block;
}
#main-header .et_header_style_centered #logo {
  max-width: 480px;
}
#main-header .info-block {
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
}
#main-header .info-block .fa {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
}
#main-header .info-block .phone {
  position: relative;
  margin: 20px 0 5px;
  padding-left: 22px;
  line-height: 18px;
}
#main-header .info-block .phone .fa {
  top: 2px;
  font-size: 18px;
}
#main-header .info-block .phone a {
  color: inherit;
}
#main-header .info-block .email {
  position: relative;
  margin-bottom: 25px;
  padding-left: 22px;
}
#main-header .info-block .email .fa {
  top: 2px;
}
#main-header .info-block .email a {
  color: inherit;
}
#main-header .info-block .shopping-bag-status .fa {
  top: 2px;
}
#main-header .info-block .shopping-bag-status a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  position: relative;
  padding-left: 22px;
  color: #0e92b3;
  font-weight: 600;
}
#main-header .info-block .shopping-bag-status .signin-btn {
  float: right;
  color: #83808B;
}
#main-header .social-icons {
  margin-left: -8px;
}
#main-header .social-icons .fa {
  position: relative;
  top: -2px;
}
#main-header .social-icons .fa-youtube {
  font-size: 19px;
}
@media (max-width: 767px) {
  #main-header {
    padding-top: 25px !important;
    height: auto;
  }
  #main-header #top-menu-nav {
    display: none;
  }
  #main-header #top-menu-nav.active {
    display: block;
    padding: 20px 0 !important;
  }
  #main-header #top-menu-nav.active .top-menu,
  #main-header #top-menu-nav.active li {
    display: block;
  }
  #main-header #top-menu-nav .social-icons {
    display: block;
    margin-top: 20px;
  }
  #main-header .navi-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    background-color: #fff;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.5);
  }
  #main-header .site-logo {
    padding: 4px 0 0 20px;
    text-align: left;
  }
  #main-header .site-logo a {
    width: 190px;
    height: 20px;
    background-size: contain;
  }
  #main-header .nav-btn {
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 70px;
    font-size: 27px;
    color: #0e92b3;
  }
  #main-header .shopping-bag-status {
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 18px;
  }
  #main-header .shopping-bag-status a {
    color: #0e92b3;
  }
  #main-header .shopping-bag-status .fa {
    position: relative;
    top: -1px;
    margin-right: 4px;
  }
  #main-header .info-block {
    position: relative;
    right: auto;
    width: 144px;
    margin: 0 auto;
  }
  #main-header .phone {
    margin-bottom: 10px !important;
  }
}
.header-pic {
  margin-bottom: 8%;
}
.header-pic img {
  width: 100%;
  height: auto;
}
.header-title {
  position: relative;
  margin: 0 0 70px;
  min-height: 27px;
  font-size: 1.8em;
  letter-spacing: 0.2em;
  text-align: center;
}
.header-title .colored-border {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  z-index: 0;
}
.header-title h1 {
  position: relative;
  max-width: 60%;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 0 50px;
  font-weight: 400;
  background-color: #fff;
  z-index: 2;
  font-size: 1.6em;
}
.header-title h2 {
  font-size: 0.9em !important;
  color: #999 !important;
  letter-spacing: 1pt;
}
.header-title span {
  color: #3d406d;
  text-transform: capitalize;
}
#main-footer {
  margin-top: 80px;
  background-color: transparent;
}
#main-footer .footer-top {
  *zoom: 1;
  margin-bottom: 45px;
  text-transform: uppercase;
  text-align: center;
}
#main-footer .footer-top:before,
#main-footer .footer-top:after {
  content: " ";
  display: table;
}
#main-footer .footer-top:after {
  clear: both;
}
#main-footer .footer-top .designers-link {
  width: 60%;
  margin: 0 auto 45px;
  text-align: center;
  border-bottom: 1px solid #d4d4d4;
}
#main-footer .footer-top .designers-link a {
  display: block;
}
#main-footer .footer-top .designers-link a div > span {
  text-transform: uppercase;
  color: #555;
}
#main-footer .footer-top .designers-link h1 {
  margin: 0.2em 0 1em 0;
  font-weight: 400;
  font-size: 2.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #0e92b3;
}
#main-footer .footer-top .designers-link h1 span {
  color: #3d406d;
}
#main-footer .footer-top .testimonial {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 80%;
  text-align: left;
}
#main-footer .footer-top .testimonial img {
  float: left;
  margin-right: 4%;
}
#main-footer .footer-top .diamonds-shapes {
  text-align: center;
}
#main-footer .footer-top .diamonds-shapes li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
#main-footer .footer-top .diamonds-shapes h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: inherit;
  font-weight: 400;
}
#main-footer .footer-bottom {
  *zoom: 1;
  padding: 40px 0;
  background: #3d406d;
  color: #fff;
}
#main-footer .footer-bottom:before,
#main-footer .footer-bottom:after {
  content: " ";
  display: table;
}
#main-footer .footer-bottom:after {
  clear: both;
}
#main-footer .footer-bottom .copyright {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5em;
}
#main-footer .footer-bottom .copyright > div {
  margin-top: 5%;
  text-align: center;
}
#main-footer .footer-bottom .fancy-link {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-top: 1em;
  text-transform: none;
  text-align: center;
  padding-bottom: 2.5em;
  font-size: 1em;
  background: url('../img/fancy-logo.png') no-repeat bottom center;
}
#main-footer .footer-bottom .site-logo {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}
#main-footer .footer-bottom .site-logo img {
  width: 100%;
}
#main-footer .footer-bottom .social-icons {
  margin: 0 0 20px 0;
}
#main-footer .footer-bottom .social-icons a {
  color: #fff;
  background: #575ba8;
}
#main-footer .footer-bottom .social-icons a:hover {
  color: #fff;
  opacity: 0.9;
}
#main-footer .footer-bottom .social-icons .fa {
  position: relative;
  top: -1px;
}
#main-footer .footer-bottom .social-icons .fa-youtube {
  font-size: 19px;
}
#main-footer .footer-bottom a {
  color: #fff;
}
#main-footer .footer-bottom a:hover {
  color: #7E82DC !important;
}
#main-footer .actions-col {
  text-align: right;
}
#main-footer #footer-menu {
  margin-bottom: 32px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#main-footer #footer-menu li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
#main-footer #footer-menu a:hover {
  background-color: transparent;
}
#main-footer .contacts {
  font-size: 14px;
}
#main-footer .contacts .fa {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
}
#main-footer .contacts .phone {
  position: relative;
  margin: 20px 0 5px;
  padding-left: 22px;
  line-height: 18px;
}
#main-footer .contacts .phone .fa {
  top: 4px;
  font-size: 19px;
}
#main-footer .contacts .phone a {
  color: inherit;
}
#main-footer .contacts .email {
  position: relative;
  margin-bottom: 20px;
  padding-left: 22px;
}
#main-footer .contacts .email .fa {
  top: 2px;
}
#main-footer .contacts .address {
  margin-bottom: 20px;
  font-size: 18px;
}
#main-footer .appointment-btn {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 16px 20px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* future proofing */

}
#main-footer .appointment-btn:hover {
  border-color: #7E82DC;
}
#main-footer .services {
  padding: 80px 0 40px;
  text-align: center;
}
#main-footer .services img {
  width: 100%;
}
#main-footer .services .logo {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 80px;
  margin: 0 7px;
  vertical-align: middle;
}
#main-footer .services .logo.visa {
  width: 60px;
}
#main-footer .services .logo.mastercard {
  width: 60px;
}
#main-footer .services .logo.ags {
  width: 60px;
}
#main-footer .services .logo.canrocks {
  width: 100px;
}
#main-footer .services .logo.lights {
  width: 110px;
}
#main-footer .footer-widget {
  width: 100%;
  margin: 0;
}
#main-footer .footer-widget li {
  margin-bottom: 0.3em;
  padding: 0 0 0 16px;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  background: url(../img/list-mark.png) no-repeat 0 6px;
}
#main-footer .widget_nav_menu {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 45%;
  margin-left: 8%;
}
#main-footer .widget_nav_menu:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  #main-footer {
    margin-top: 50px;
  }
  #main-footer .footer-top h4 {
    height: 2em !important;
  }
  #main-footer .footer-bottom {
    padding-top: 12%;
    padding-bottom: 12%;
    text-align: center;
  }
  #main-footer #footer-menu {
    display: none;
  }
  #main-footer .contacts {
    margin-bottom: 25px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  #main-footer .address {
    color: #fff;
  }
  #main-footer .phone,
  #main-footer .email {
    width: 150px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #main-footer .info-links {
    padding: 12% 5% 6% !important;
  }
  #main-footer .widget_nav_menu {
    margin-left: 0;
    margin-bottom: 30px;
  }
  #main-footer .actions-col {
    text-align: center;
  }
  #main-footer .services .logo {
    width: 65px;
    margin: 7px;
  }
  #main-footer .designers-link {
    margin-top: 30px !important;
    width: auto !important;
  }
  #main-footer .diamonds-shapes {
    margin: 16% 0 10%;
  }
  #main-footer a {
    color: inherit;
  }
  #main-footer .copyright {
    line-height: 1.4em;
    margin-bottom: 2em;
    color: #fff;
  }
  #main-footer .fwidget {
    margin-left: 0 !important;
    padding-bottom: 2em;
  }
}
.product-details .left-col {
  padding: 0;
}
.product-details .right-col h1 {
  margin-bottom: 10px;
  color: #3d406d;
  font-size: 1.8em;
}
.product-details .pic {
  margin-bottom: 2em;
}
.product-details .pic img {
  width: 100%;
}
.product-details .pic iframe {
  padding: 6px 10px;
  border: 1px solid #eee !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* future proofing */

}
.product-details .pic iframe body {
  height: auto;
}
.product-details .pics-more {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding: 15px 0 0 15px;
  background: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* future proofing */

}
.product-details .pics-more .pic {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 73px;
  height: 73px;
  line-height: 73px !important;
  text-align: center;
  margin: 0 15px 15px 0 !important;
  padding: 15px;
  background-color: #fff;
  box-sizing: content-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* future proofing */

}
.product-details .pics-more .video {
  color: #cc181e !important;
  line-height: 2.4em !important;
}
.product-details .pics-more .video i {
  font-size: 64px;
}
.product-details .pics-more .video span {
  position: relative;
  top: -15px;
  font-size: 12px;
  font-weight: bold;
}
.product-details .pics-more img {
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
}
.product-details .price {
  margin-bottom: 15px;
  font-size: 22px;
  color: #0e92b3;
  border-bottom: 1px solid #eee;
  padding: 0;
}
.product-details .price s {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-right: 18px;
  vertical-align: middle;
}
.product-details .price .sale-badge {
  margin: 0;
}
.product-details .price .sale-badge:before {
  left: -9px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 8px solid #eee;
}
.product-details .price .sale-badge:after {
  left: -8px;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 8px solid #fff;
}
.product-details .price .sale-badge b {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 9px;
  left: 0;
  color: #A5A5A5;
}
.product-details .buttons {
  margin-bottom: 30px;
}
.product-details .to-bag {
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff !important;
}
.product-details .to-bag i {
  position: relative;
  top: -1px;
  left: -8px;
}
.product-details .appointment-btn {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 0 20px;
  padding: 10px 18px;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
}
.product-details .metals-list {
  margin-bottom: 20px;
}
.product-details .metals-list li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-right: 15px;
  font-size: 12px;
  line-height: 14px;
}
.product-details .metals-list li.selected {
  font-weight: bold;
}
.product-details .metals-list li.selected .fa {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.product-details .metals-list li .fa {
  display: none;
  position: relative;
  top: 1px;
  margin-right: 2px;
}
.product-details .metals-list label {
  cursor: pointer;
}
.product-details .metals-list input {
  display: none;
}
.product-details .metals-list span {
  border-bottom: 1px dotted;
  border-color: inherit;
}
.product-details .socials {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 150px;
  vertical-align: middle;
  font-size: 26px;
  text-align: center;
  color: #888;
}
.product-details .socials > div {
  font-size: 11px;
}
.product-details .socials a {
  padding: 0 5px;
  color: inherit;
}
.product-details .technical-details {
  position: relative;
  margin: 30px 0;
  padding: 30px 35px;
  border: 1px solid #eee;
  line-height: 1.8em;
  background: url(../img/decor-details.png) no-repeat right bottom;
}
.product-details .technical-details p {
  margin: 0;
}
.product-details .full-desc {
  padding-top: 35px;
  text-transform: none;
  border-top: 1px solid #eee;
}
.product-details .ship-risk-links {
  margin-top: 30px;
}
.product-details .shipping-link {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 25px;
  padding-left: 23px;
  background: url('../img/icon-shipping.png') no-repeat;
  background-size: 17px;
  background-position: 0 1px;
  font-size: 14px;
  line-height: 14px !important;
  vertical-align: top;
  color: #888 !important;
}
.product-details .risk-link {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding-left: 18px;
  font-size: 14px;
  line-height: 14px !important;
  vertical-align: top;
  color: #888 !important;
  background: url('../img/icon-risk-free.png') no-repeat;
  background-size: 12px;
}
@media (max-width: 767px) {
  .product-details .details-header h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2em;
    color: #3d406d;
  }
  .product-details .left-col {
    margin-bottom: 30px;
    padding: 0;
  }
  .product-details .pics-more .pic {
    width: 72px;
    height: 72px;
    line-height: 73px;
    margin: 0 10px 25px 10px !important;
  }
  .product-details .metals-list li {
    font-size: 14px;
    margin: 6px 8px;
  }
  .product-details .buttons .button {
    margin-bottom: 30px;
  }
  .product-details .buttons .button br {
    display: none;
  }
  .product-details .buttons .appointment-btn {
    font-size: 14px;
  }
  .product-details .socials {
    font-size: 30px;
  }
  .product-details .full-desc,
  .product-details .technical-details {
    text-align: left;
  }
  .product-details .technical-details {
    padding: 25px;
  }
  .product-details .common-info li {
    background-position: 0 20px;
  }
  .product-details .common-info li a {
    display: block;
    font-size: 16px;
  }
  .product-details .common-info li span {
    margin-left: 0;
    padding-left: 0;
  }
  .product-details .common-info li span:before {
    display: none;
  }
}
.instagram-media {
  width: 100%;
  box-shadow: none !important;
  border: 1px solid #eee !important;
}
#stone-details .pic {
  text-align: center;
}
#stone-details .pic img {
  width: 60%;
}
#stone-details .price {
  margin-bottom: 26px;
}
#stone-details .full-desc {
  text-transform: none;
  line-height: 1.6em;
  color: inherit;
}
#stone-details .full-desc p {
  margin: 0.8em 0 2.4em;
}
#stone-details .full-desc h4 {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 0 30px 0 0;
  padding: 0;
  vertical-align: baseline;
  font-weight: bold !important;
}
#stone-details .full-desc span {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  vertical-align: middle;
}
#stone-details .full-desc .property {
  color: #999;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  position: relative;
  top: -1px;
}
#stone-details .full-desc .property .selected,
#stone-details .full-desc .property .selected-true {
  padding: 0 5px;
  color: #3d406d;
  font-weight: bold;
  border: 1px solid #B8BAD2;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* future proofing */

}
#stone-details .full-desc .property span {
  margin-right: 10px;
}
#stone-details .technical-details {
  line-height: 1.6em;
}
#stone-details .report {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  position: absolute;
  max-width: 16%;
  top: 35px;
  right: 35px;
  font-size: 11px;
  line-height: 1.5em;
}
#stone-details .stone-report-btn {
  display: block;
  width: 72px;
  height: 72px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  background-image: url('../img/icon-stone-report2.png');
  background-repeat: no-repeat;
  background-size: contain;
}
#stone-details .stone-report-btn span {
  display: block;
  padding-top: 72px;
  color: #555;
}
#stone-details .stone-report-btn:hover {
  opacity: 0.8;
}
#stone-details .stone-report-btn.gia-report {
  background-image: url('../img/gia-report.png');
  border: 1px solid #cdc0aa;
}
@media (max-width: 767px) {
  #stone-details .report {
    position: relative;
    top: auto;
    right: auto;
  }
  #stone-details .stone-report-btn {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    width: 100%;
    height: 65px;
    padding-left: 60px;
    text-align: left;
    font-size: 14px;
    background-size: 50px;
  }
  #stone-details .stone-report-btn span {
    padding-top: 13px;
  }
  #stone-details .stone-report-btn .fa {
    font-weight: bold;
    margin-left: 4px;
  }
}
.buy-section .section-header {
  text-align: center;
}
.buy-section .section-header h1 {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.buy-section .section-header a {
  float: right;
}
.buy-section .section-content {
  padding: 35px 0 0;
  border-top: 1px solid #eee;
}
.filters h4 {
  margin-bottom: 0.8em;
  font-weight: bold !important;
  font-size: 16px;
}
.filters .icheck-label {
  margin-bottom: 6px;
}
.filters .icheck-item {
  top: -1px;
}
.product-list {
  padding: 4em 0 5em;
  text-align: center;
}
.product-list .status-bar {
  *zoom: 1;
  padding: 2.6% 0;
  text-align: left;
  font-size: 14px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.product-list .status-bar:before,
.product-list .status-bar:after {
  content: " ";
  display: table;
}
.product-list .status-bar:after {
  clear: both;
}
.product-list .status-bar .showing {
  float: left;
}
.product-list .status-bar .display {
  float: right;
}
.product-list .status-bar .pager {
  float: right;
  margin: 0;
  text-align: left;
}
.product-list.specials-list .price {
  font-size: 1em !important;
  font-weight: 400 !important;
}
.product-list.designers .title {
  font-size: 1.4em;
  font-weight: normal;
  letter-spacing: 1px;
  color: #fff;
}
.product-list.designers .title span {
  padding: 0.4em 0;
  background-color: #0e92b3;
  line-height: 1.7em;
  -moz-box-shadow: 15px 0 0 #0e92b3, -15px 0 0 #0e92b3;
  -webkit-box-shadow: 15px 0 0 #0e92b3, -15px 0 0 #0e92b3;
  box-shadow: 15px 0 0 #0e92b3, -15px 0 0 #0e92b3;
}
.product-list.designers .subtitle {
  font-size: 1.2em;
  font-weight: bold;
  color: #3d406d;
}
.product-list.designers .product-list-item-desc {
  bottom: 0;
}
.product-list.designers .product-list-item {
  height: auto !important;
  padding-bottom: 70px;
  margin-bottom: 40px;
}
.product-list.designers .product-list-item .title {
  text-decoration: none;
}
.product-list.designers .product-list-item:nth-child(odd) .title span {
  background-color: #3d406d;
  -moz-box-shadow: 15px 0 0 #3d406d, -15px 0 0 #3d406d;
  -webkit-box-shadow: 15px 0 0 #3d406d, -15px 0 0 #3d406d;
  box-shadow: 15px 0 0 #3d406d, -15px 0 0 #3d406d;
}
.product-list.designers .product-list-item:nth-child(odd) .subtitle {
  color: #0e92b3;
}
.product-list-item {
  margin-bottom: 60px;
  padding-top: 0;
  max-width: 286px;
  height: 300px;
}
.product-list-item img {
  width: auto !important;
  max-height: 100%;
  max-width: 90%;
}
.product-list-item .product-list-item-pic {
  position: relative;
  margin-bottom: 10px;
  height: 200px;
  line-height: 200px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.product-list-item .title {
  margin-bottom: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}
.product-list-item .price {
  margin-bottom: 0.4em;
  font-size: 1.2em;
  font-weight: bold;
  color: #0e92b3;
}
.product-list-item .price s {
  color: #999;
}
.product-list-item .discount-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
  color: #fff;
  background: url(../img/discount-label.png) no-repeat;
  background-size: contain;
  text-shadow: 0px 1px 0px rgba(115, 0, 13, 0.5);
  -webkit-text-shadow: 0px 1px 0px rgba(115, 0, 13, 0.5);
  -moz-text-shadow: 0px 1px 0px rgba(115, 0, 13, 0.5);
}
.product-list-item .discount-label .number {
  position: absolute;
  top: 28px;
  right: 31px;
  font-size: 30px;
  letter-spacing: -2px;
  font-weight: normal;
}
.product-list-item .discount-label .perc {
  position: absolute;
  top: 24px;
  right: 14px;
  font-size: 17px;
  font-weight: 400;
}
.product-list-item .discount-label .off {
  position: absolute;
  top: 36px;
  right: 12px;
  font-size: 9px;
  font-weight: 400;
}
.product-list-item > a {
  display: block;
  color: inherit;
}
.product-list-item.bottom-desc {
  padding-bottom: 4%;
}
.product-list-item.bottom-desc .product-list-item-desc {
  bottom: 0;
}
@media (max-width: 767px) {
  .product-list-item.ring-item {
    float: none;
    padding: 0;
    max-width: 100%;
    height: auto;
  }
  .product-list-item .product-list-item-pic {
    margin-bottom: 0 !important;
  }
  .product-list-item .product-list-item-pic img {
    width: 80%;
  }
}
@media (max-width: 767px) {
  #stones-collection #stone-search-advanced-params {
    padding: 0;
  }
  #stones-collection #stone-search-advanced-params .row {
    margin-bottom: 2em;
  }
  #stones-collection #stone-search-advanced-params .param-title {
    margin-bottom: 2em;
  }
  #stones-collection #stone-search-advanced-params .mark {
    font-size: 0.8em;
  }
  #stones-collection #stone-search-advanced-params .shapes li {
    font-size: 48px;
  }
  #stones-collection #stone-search-advanced-params .shape-title {
    top: -12px;
    font-size: 11px;
    font-weight: bold;
  }
  #stones-collection .mobile-stone-table .table-item {
    display: block;
    color: inherit;
  }
  #stones-collection .mobile-stone-table .table-item .col-xs-3 {
    padding-left: 2.4%;
  }
  #stones-collection .mobile-stone-table .price {
    font-size: 1.6em;
    height: auto;
    margin-bottom: 8px;
  }
  #stones-collection .mobile-stone-table .fa {
    font-size: 1.1em;
    font-weight: bold;
  }
  #stones-collection .mobile-stone-table .button {
    text-transform: uppercase;
    font-weight: bold;
  }
}
.featured-border {
  margin: 0 8%;
  border-color: #dfdfdf;
}
#latest {
  padding: 50px 0;
}
#latest .product-list-item {
  display: none;
  position: relative;
  margin: 30px 0;
  text-align: center;
  height: 200px !important;
}
#latest .product-list-item img {
  vertical-align: middle !important;
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-out;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}
#latest .product-list-item:hover img {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-out;
}
#latest .product-list-item:hover .product-list-item-desc {
  color: #3d406d;
}
#latest .product-list-item .title {
  text-transform: none;
}
#latest .product-list-item .product-list-item-pic {
  width: 100%;
  left: 0;
  top: 12%;
  margin-bottom: 10%;
}
#latest .product-list-item .product-list-item-desc {
  position: absolute;
  padding: 8px 20px;
  width: 100%;
  height: 4em;
  bottom: 0;
  z-index: 3;
  line-height: 1.5em;
  color: #999;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}
#latest .product-list-item .price {
  position: absolute;
  top: -15px;
  right: 0;
  color: #cd384a;
  z-index: 9;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  -webkit-border-radius: 100px;
}
#latest .product-list-item .price span {
  font-size: 0.8em;
  font-weight: normal;
}
@media screen and (max-width: 767px) {
  #latest .product-list-item .price {
    height: 50px;
    line-height: 50px;
  }
}
#latest .featured-rings {
  margin: 0 auto;
}
#latest .featured-rings .owl-item {
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}
@media screen and (max-width: 480px) {
  #latest .featured-rings .owl-item {
    opacity: 0.6;
  }
  #latest .featured-rings .owl-item .price {
    opacity: 0;
    font-size: 1.4em;
    -webkit-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
  }
  #latest .featured-rings .owl-item.center .price {
    opacity: 1;
  }
  #latest .featured-rings .owl-item.center .product-list-item-desc {
    padding: 8px 0;
  }
  #latest .featured-rings .owl-item.center .title {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 767px) {
  #latest .featured-rings .owl-item img {
    width: 100%;
  }
}
#latest .featured-rings .owl-item.center,
#latest .featured-rings .owl-item.active {
  opacity: 1;
}
#latest .featured-rings .owl-item img {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
#latest .featured-rings .center .product-list-item img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
#latest .featured-rings .center .product-list-item .product-list-item-desc {
  -webkit-transform: translatey(0);
  transform: translatey(0);
}
#latest .featured-rings s {
  display: block;
}
.order-content h1 {
  color: #3d406d;
}
.order-content h3 {
  padding: 0;
}
.order-content .subtitle {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-bottom: 2em;
  color: #0e92b3;
  text-transform: uppercase;
}
.order-content .subtitle a {
  text-decoration: underline;
  color: #0e92b3;
}
.order-content hr {
  border-color: #d9dae0;
}
.order-content .bag-empty {
  margin: 2em 0 3em;
  text-align: center;
  font-size: 1.4em;
}
.order-content .bag-empty h3 {
  margin-bottom: 2em;
}
.order-content .bag-empty p {
  margin-bottom: 3em;
}
.order-content .block-header {
  margin: 0 !important;
  padding: 2% 3% !important;
  min-height: 60px;
  background: #e3f7fa;
  text-transform: uppercase;
  font-weight: bold;
  color: #3d406d;
}
.order-content .block-header > div {
  padding: 0;
}
.order-content .section-content {
  *zoom: 1;
  margin-bottom: 2em;
  padding: 0;
  color: #3d406d;
}
.order-content .section-content:before,
.order-content .section-content:after {
  content: " ";
  display: table;
}
.order-content .section-content:after {
  clear: both;
}
.order-content .section-content .shopping-item {
  padding: 2em 0;
  border-top: 1px solid #efefef;
}
.order-content .section-content .pic {
  text-align: center;
}
.order-content .section-content .pic img {
  margin-bottom: 1em;
  max-width: 200px;
  width: auto;
  max-height: 200px;
  height: auto;
}
.order-content .section-content .stone-pic {
  width: 60% !important;
}
.order-content .section-content .desc {
  padding-left: 40px !important;
}
.order-content .section-content .desc a,
.order-content .section-content .desc a:hover {
  color: #3d406d;
  text-transform: none;
}
.order-content .section-content .description {
  color: #777;
}
.order-content .section-content .options {
  margin-bottom: 2em;
}
.order-content .section-content .options .options-item {
  margin-right: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.order-content .section-content .options label {
  text-transform: none;
  font-weight: bold;
  font-size: 14px;
  color: #777;
}
.order-content .section-content .price {
  text-align: right;
}
.order-content .section-content .price .sign {
  line-height: 2em;
  margin-right: 5px;
}
.order-content .section-content .price strong {
  font-size: 1.3em;
}
.order-content .section-content a {
  color: #0e92b3;
  text-decoration: underline;
}
.order-content .section-content .row {
  padding: 2.4em 0;
}
.order-content .section-content .row > div {
  padding: 0;
}
.order-content .section-content strong {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-bottom: 0.6em;
  text-transform: uppercase;
}
.order-content .rows .actions {
  margin-top: 2em;
  margin-bottom: 0;
}
.order-content .rows .actions a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-bottom: 1em;
}
.order-content .shipping {
  border-top: 3px solid #d7f1f5;
}
.order-content .shipping .col-sm-7 {
  padding-left: 40px !important;
}
.order-content .shipping .col-sm-7 > div {
  padding: 0;
}
.order-content .total {
  border-top: 1px solid #efefef;
}
.order-content .total .col-sm-7 {
  padding-left: 40px !important;
}
.order-content .fa {
  margin-right: 5px;
}
.order-content .remove-btn {
  color: #cd3851 !important;
}
.order-content .form-control {
  width: auto !important;
}
.order-content .checkout-bottom {
  *zoom: 1;
  border-top: 1px solid #efefef;
  padding: 2.4em 0;
}
.order-content .checkout-bottom:before,
.order-content .checkout-bottom:after {
  content: " ";
  display: table;
}
.order-content .checkout-bottom:after {
  clear: both;
}
.order-content .checkout-bottom a {
  color: #0e92b3;
}
.order-content .checkout-bottom a.continue {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: bold;
}
.order-content#checkout .subtitle a {
  margin-left: 0.5em;
}
.order-content#checkout a {
  text-decoration: none;
}
.order-content #warranties {
  margin: 40px 0 60px;
  background-color: #F3F3F3;
}
#content-area {
  margin-bottom: 10%;
  font-size: 14px;
}
#content-area img {
  max-width: 100% !important;
  height: auto;
}
#main-content #left-area {
  font-size: 1em;
}
#main-content #left-area h1,
#main-content #left-area h2,
#main-content #left-area h3 {
  color: #3d406d;
}
#main-content #left-area h2 {
  font-size: 1.2em;
}
#main-content #left-area a,
#main-content #sidebar a {
  color: #0e92b3 !important;
}
#main-content #left-area a:hover,
#main-content #sidebar a:hover {
  color: #007d8e !important;
}
.et_pb_section {
  padding-top: 0;
}
#sidebar {
  width: 300px !important;
  border-left: 1px solid #0e92b3;
}
#sidebar h4 {
  padding: 0;
  font-size: 1.4em !important;
  color: inherit;
}
#sidebar a {
  font-size: 1.1em;
}
#sidebar .et_pb_widget {
  margin-bottom: 50px !important;
}
#sidebar li {
  margin-bottom: 2px;
}
.et_right_sidebar #left-area {
  width: 735px;
}
.order-panel {
  position: absolute;
  right: 50px;
  z-index: 2;
}
.home #main-content h2 {
  color: #0e92b3;
  font-weight: normal !important;
  font-size: 1.7em;
}
.home #main-content a {
  color: inherit;
  line-height: 1.5em;
  border: none;
}
.et_right_sidebar #left-area {
  float: left;
  width: 68%;
  margin: 0;
}
.et_right_sidebar #sidebar {
  float: right;
  width: 28% !important;
  margin-left: 3%;
}
.et_right_sidebar #sidebar .et_pb_widget {
  margin: 0 0 30px 30px;
}
.nav > li > a:focus {
  background-color: transparent;
}
#start {
  margin: 75px 0 0 0;
}
#start .left-block {
  padding-right: 0;
  text-transform: uppercase;
}
#start .left-block .start-content {
  float: right;
}
#start .left-block .start-pic img {
  right: 0;
}
#start .left-block .start-label {
  right: 0;
  background: #3d406d;
}
#start .left-block .start-desc {
  float: right;
  z-index: 2;
  width: 80%;
  text-align: center;
  color: #3d406d;
  padding: 0 10%;
}
#start .left-block .start-desc h2 {
  color: #3d406d;
  font-size: 1.7em;
  font-weight: normal;
}
#start a:hover {
  color: #fff !important;
}
#start .right-block {
  padding-left: 0;
  text-transform: uppercase;
}
#start .right-block .start-content {
  float: left;
  padding-left: 5%;
  padding-right: 0 !important;
}
#start .right-block .start-label {
  left: 0;
  background: #0e92b3;
}
#start .right-block .start-pic img {
  left: 0;
}
#start .right-block .start-desc {
  float: left;
  z-index: 2;
  width: 80%;
  text-align: center;
  color: #0e92b3;
  padding: 0 10%;
}
#start .start-label {
  position: absolute;
  margin-top: -18%;
  padding: 20px 0;
  top: 50%;
  width: 52%;
  color: #fff;
  z-index: 2;
  font-size: 1.3em;
  opacity: 0.9;
}
#start .start-label:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  #start .start-label {
    font-size: 0.9em;
  }
}
#start .start-pic {
  position: relative;
  height: auto;
  padding-top: 80%;
  z-index: 0;
}
#start .start-pic img {
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0;
  max-width: none;
  -webkit-transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  /* custom */

}
#start .start-pic img.active {
  opacity: 1;
}
@media (max-width: 767px) {
  #start .start-pic img {
    height: 100%;
    width: auto;
  }
}
@media (max-width: 767px) {
  #start .start-pic {
    padding-top: 100%;
  }
}
#start .start-content {
  position: relative;
  padding-right: 5%;
  padding-bottom: 15%;
  color: #fff;
  width: 80%;
  text-align: center;
}
#warranties {
  margin: 40px 0 60px;
  font-weight: bold;
  font-size: 0.8em;
  color: #3d406d;
  text-transform: uppercase;
}
#warranties .col-sm-2 {
  height: 140px;
  line-height: 140px;
  text-align: center;
  display: table;
}
#warranties .col-sm-2:before {
  content: "";
  display: block;
  position: absolute;
  left: -3px;
  top: 46%;
  width: 6px;
  height: 6px;
  background: rgba(61, 64, 109, 0.2);
  border-radius: 100px;
}
#warranties .col-sm-2:first-child:before {
  display: none;
}
#warranties a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
#warranties a:hover {
  color: #0e92b3;
}
#warranties span {
  display: table-cell;
  line-height: 140%;
  vertical-align: middle;
}
.shapes li {
  font-size: 50px;
}
.shapes li a {
  position: relative;
}
.shapes li a:hover {
  color: #0e92b3;
}
.shapes li a:hover:after {
  color: #0e92b3;
}
.shapes li a .shape-title {
  display: none;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  color: #0e92b3;
}
.stones-results {
  *zoom: 1;
  font-size: 13px;
}
.stones-results:before,
.stones-results:after {
  content: " ";
  display: table;
}
.stones-results:after {
  clear: both;
}
.stones-results .prop-titles {
  display: none;
  float: left;
  width: 30%;
  text-align: left;
  color: #3d406d;
}
.stones-results .prop-titles > div {
  padding: 6px 0 0;
  border-bottom: 1px solid #d4d4d4;
}
.stones-results .prop-values {
  float: left;
  width: 100%;
  text-align: left;
}
.stones-results .prop-values > div {
  padding-left: 30%;
  padding-top: 6px;
  border-bottom: 1px solid #d4d4d4;
}
.stones-results .prop-values .price {
  font-size: 20px;
  color: #0e92b3;
}
.stones-results .col1 {
  float: left;
  width: 30%;
  text-align: center;
}
.stones-results .col1 .stone-pic {
  float: right;
  width: 75%;
  text-align: right;
}
.stones-results .col1 .stone-pic a {
  width: 61%;
  margin-right: 14%;
}
.stones-results .col1 .prop-values {
  width: 70%;
}
.stones-results .col1 .prop-titles {
  display: block;
}
.stones-results .col2 {
  float: left;
  width: 23%;
  text-align: center;
}
.stones-results .col3 {
  float: left;
  width: 23%;
  text-align: center;
}
.stones-results .col4 {
  float: left;
  width: 23%;
  text-align: center;
}
.stones-results .stone-pic {
  margin-bottom: 20px;
}
.stones-results .stone-pic a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 60%;
}
.stones-results .stone-pic a img {
  width: 100%;
}
.stones-results .stone-item.selected {
  color: #0e92b3;
}
.stones-results .stone-item.selected .stone-pic {
  margin-bottom: 21px;
}
.stones-results .stone-item.selected .stone-pic a {
  padding: 10px;
  background: #0e92b3;
  -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
}
.stones-results-info {
  margin-top: 8%;
}
.stones-results-info a {
  margin-left: 1em;
  color: #0e92b3;
}
a {
  color: #3d406d;
}
#stone-details .pic {
  margin-bottom: 8%;
  text-align: center;
}
#stone-details .pic img {
  width: auto;
  max-width: 100%;
}
#stone-details .stone-details-btn {
  float: left;
  width: 61px;
  height: 60px;
  padding-top: 70px;
  font-size: 10px;
  background: url('../img/icon-stone-details.png') no-repeat;
}
#stones-collection.basic #stone-search-basic-params {
  display: block;
}
#stones-collection.basic #stones-best-deal {
  display: block;
}
#stones-collection.basic #stone-search-advanced-params {
  display: none;
}
#stones-collection.basic #stones-results-table {
  display: none;
}
#stones-collection.advanced #stone-search-advanced-params {
  display: block;
}
#stones-collection.advanced #stone-search-basic-params {
  display: none;
}
#stones-collection.advanced #stones-best-deal {
  display: none;
}
#stones-collection.advanced #stones-results-table {
  display: block;
}
#stone-search-advanced-params .section-content > .row {
  margin-bottom: 10px;
}
#stone-search-advanced-params .slider {
  margin-bottom: 0;
}
#stone-search-advanced-params .labels {
  margin-bottom: 8%;
}
#stone-search-advanced-params .params-item {
  margin: 0 5px;
  background-color: #F9F9F9;
  padding: 10px 15px 20px 15px;
  border-radius: 6px;
  border: 1px solid #EFEFEF;
}
#stone-search-advanced-params .param-title {
  margin-bottom: 20px;
  padding: 0;
  color: #83808B;
  font-weight: bold;
}
#stone-search-advanced-params .param-control {
  padding: 0;
}
#stone-search-advanced-params .min-box,
#stone-search-advanced-params .max-box {
  margin-top: 1%;
  padding: 3px 14px;
  color: #3d406d;
  font-size: 14px;
  text-align: center;
  border: 1px solid #d4d4d4;
  width: 120px;
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */

}
#stone-search-advanced-params .mark {
  float: left;
  padding: 0;
  text-align: center;
  color: #868484;
  font-size: 14px;
  background-color: inherit;
}
#stone-search-advanced-params .mark.selected {
  color: #0e92b3;
  font-weight: bold;
}
#stone-search-advanced-params .cut-slider .mark {
  width: 20%;
}
#stone-search-advanced-params .clarity-slider .mark {
  width: 12.5%;
}
#stone-search-advanced-params .color-slider .mark {
  width: 14.2%;
}
#stone-search-advanced-params .shapes-title {
  text-align: center;
  line-height: 4em;
}
#stone-search-advanced-params .shapes {
  margin: -22px 0 25px;
}
#stone-search-advanced-params .shapes li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  text-align: center;
  font-size: 70px;
}
#stone-search-advanced-params .shapes li.selected .shape-title {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
#stone-search-advanced-params .shapes li.selected a {
  background-position: bottom;
}
#stone-search-advanced-params .shapes a {
  display: block;
  height: 71px;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  padding: 0 10px;
  margin: 0 -6px;
}
#stone-search-advanced-params .shapes a.icon-marquise {
  margin-right: -17px;
  margin-left: -10px;
}
#stone-search-advanced-params .shapes a.selected {
  color: #0e92b3;
}
#stone-search-advanced-params .shapes a:hover .shape-title {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
#stone-search-advanced-params .shapes .shape-title {
  display: none;
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#stone-search-advanced-params .lab-result {
  padding-bottom: 3px;
}
#stone-search-advanced-params .lab-result .results-count {
  padding-right: 0;
  text-align: right;
}
#stones-results-table {
  position: relative;
}
#stones-results-table th {
  padding-top: 12px !important;
}
#stones-results-table th a {
  color: #333 !important;
}
.results-content {
  position: relative;
}
.stone-popup {
  position: absolute;
  z-index: 8;
  top: 0;
  right: -280px;
  width: 280px;
  background: #fff;
  border: 2px solid #0e92b3;
}
.stone-popup .head {
  padding: 20px 0 15px;
  background: #efefef;
  text-align: center;
  font-weight: bold;
  color: #3d406d;
}
.stone-popup .main-info,
.stone-popup .shipping-info {
  padding: 20px;
}
.stone-popup .shipping-info {
  padding-top: 0;
}
.stone-popup .title {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  line-height: 1.2em;
  color: #898989;
}
.stone-popup .value {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 0 0 8px;
  line-height: 1.2em;
  font-weight: bold;
  color: #3d406d;
}
.actions-top-block a {
  text-decoration: none !important;
}
.actions-top-block .sort-price {
  position: absolute;
  padding: 5px 10px;
  top: -1px;
  left: 0;
  border: 1px solid #d4d4d4;
}
.actions-top-block .sort-price .down,
.actions-top-block .sort-price .up {
  display: none;
  height: 12px;
  margin: 4px 0 0 10px;
  padding-right: 30px;
  line-height: 1em;
  color: #0e92b3;
  background-image: url('../img/icon-order-arr.png');
  background-position: top right;
  background-repeat: no-repeat;
}
.actions-top-block .sort-price.down .down {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  background-position: top right;
}
.actions-top-block .sort-price.up .up {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  background-position: bottom right;
}
.actions-top-block .close-tabs {
  position: absolute;
  padding: 5px 30px;
  top: -1px;
  right: 0;
  background: #959595;
  color: #fff !important;
}
.filters .col-sm-4 {
  padding-left: 0;
}
.rings-list,
.recently-list {
  font-size: 12px;
}
.recently-list {
  padding: 0;
}
.recently-list .row {
  border-bottom: none;
}
.order-panel {
  width: 262px;
  padding-top: 110px;
  background: url('../img/bg-order.png') no-repeat;
  text-transform: uppercase;
  color: #3d406d;
}
.order-panel img {
  width: 100%;
}
.order-panel #order-block {
  padding: 40px 23px 80px;
  border-right: 2px solid #0e92b3;
  border-bottom: 2px solid #0e92b3;
  border-left: 2px solid #0e92b3;
  background: #fff;
}
.order-panel .item {
  *zoom: 1;
  margin-bottom: 30px;
}
.order-panel .item:before,
.order-panel .item:after {
  content: " ";
  display: table;
}
.order-panel .item:after {
  clear: both;
}
.order-panel .item h4 {
  margin-bottom: 0.5em;
}
.order-panel .item .pic {
  float: left;
  width: 22%;
}
.order-panel .item .desc {
  float: right;
  width: 78%;
  padding-left: 10px;
  text-align: right;
}
.order-panel .item .price {
  color: #0e92b3;
}
.order-panel .item .button {
  margin: 15px 0 0 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
}
.order-panel .step1,
.order-panel .step2 {
  margin-bottom: 26px;
  text-align: center;
}
.order-panel .step1 > span,
.order-panel .step2 > span {
  display: block;
  margin-bottom: 6px;
  font-size: 10px;
  font-weight: bold;
}
.order-panel .sum {
  margin-top: -10px;
}
.order-panel .sum .before,
.order-panel .sum .subtotal,
.order-panel .sum .tax,
.order-panel .sum .total {
  *zoom: 1;
  margin: 0.8em 0;
}
.order-panel .sum .before:before,
.order-panel .sum .subtotal:before,
.order-panel .sum .tax:before,
.order-panel .sum .total:before,
.order-panel .sum .before:after,
.order-panel .sum .subtotal:after,
.order-panel .sum .tax:after,
.order-panel .sum .total:after {
  content: " ";
  display: table;
}
.order-panel .sum .before:after,
.order-panel .sum .subtotal:after,
.order-panel .sum .tax:after,
.order-panel .sum .total:after {
  clear: both;
}
.order-panel .sum .left {
  float: left;
  width: 65%;
  line-height: 1em;
}
.order-panel .sum .right {
  float: right;
  width: 35%;
  text-align: right;
  line-height: 1em;
}
.order-panel .sum .before {
  color: #7e7e7e;
}
.order-panel .sum .total {
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
  color: #0e92b3;
}
.order-panel .place-order-btn {
  position: absolute;
  bottom: 23px;
  left: 23px;
  width: 218px;
  text-transform: uppercase;
}
#signin {
  color: #3d406d;
}
#signin .subtitle {
  margin: 2em 0 1em;
  text-transform: uppercase;
  font-weight: bold;
}
#signin .right-col .subtitle {
  margin-bottom: 4em;
}
#signin h1 {
  color: #3d406d;
}
#signin form {
  margin: 2em 0 6em;
}
#signin .forgot {
  text-transform: none;
  text-align: right;
}
#addresses h1 {
  color: #3d406d;
}
#addresses .col-sm-11 {
  padding: 0;
}
#addresses .subtitle {
  margin: 1em 0 2em;
}
#addresses .contact-form {
  background-color: #F9F9F9;
  padding: 23px 20px;
  border-radius: 6px;
  border: 1px solid #EFEFEF;
}
#addresses .subscribe-checkbox {
  margin-bottom: 1em;
  line-height: 1.6em;
}
#addresses .form-note {
  font-size: 11px;
}
#addresses .info {
  font-size: 16px;
}
#addresses .risk-free {
  padding-left: 20px;
  background: url(../img/icon-guarantee.png) no-repeat left center;
  background-size: 16px;
}
#addresses .no-card {
  margin-bottom: 3em;
}
#addresses .no-card .fa {
  opacity: 0.6;
}
#addresses .show-placed {
  text-align: center;
  font-size: 22px;
}
.actions {
  margin-bottom: 4em;
}
.actions p {
  margin-top: 1em;
}
.actions p a {
  display: block;
  text-decoration: underline;
  color: #0e92b3;
}
/* Sliders */
slider {
  width: 100%;
}
slider span.bar {
  height: 3px;
  top: 27%;
}
slider span.bar.selection {
  background-color: #0e92b3;
  opacity: 1;
}
slider span.bar.unselected {
  background-color: #808384;
  opacity: 1;
}
slider span.bubble {
  display: none !important;
}
slider span.pointer {
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 5px solid #0e92b3;
  cursor: pointer;
}
.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100% !important;
  margin-bottom: 30px;
}
.slider.slider-horizontal {
  width: 100% !important;
  height: 20px;
}
.slider.slider-horizontal .slider-track {
  height: 3px;
  width: 100% !important;
  margin-top: -5px;
  top: 50%;
  left: 0;
}
.slider.slider-horizontal .slider-selection {
  height: 100%;
  top: 0;
  bottom: 0;
}
.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -8px;
}
.slider input {
  display: none;
}
.slider .tooltip-inner {
  white-space: nowrap;
}
.slider-track {
  position: absolute;
  cursor: pointer;
  background-color: #808384;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.slider-selection {
  position: absolute;
  background-color: #0e92b3;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border: 5px solid #0e92b3;
}
.slider-handle.round {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.basic-page .content {
  margin-bottom: 8%;
  padding-right: 8%;
  border-right: 1px solid #0e92b3;
}
.basic-page .content h3 {
  margin: 0;
  color: #3d406d;
}
.basic-page .content p {
  margin: 2em 0;
}
.sidebar {
  padding-left: 2%;
}
.sidebar h2 {
  color: inherit;
  font-size: 1.4em;
}
.sidebar a {
  text-decoration: underline;
  color: #0e92b3;
}
.sidebar ul {
  margin-bottom: 3em;
}
.sidebar ul li {
  margin-bottom: 3px;
}
.three-centered-col {
  padding-top: 0;
}
.three-centered-col .col-md-10 {
  float: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.three-centered-col .product-list-item {
  position: relative;
  margin-top: 0;
  font-size: 0.8em;
}
.three-centered-col .product-list-item a {
  *zoom: 1;
}
.three-centered-col .product-list-item a:before,
.three-centered-col .product-list-item a:after {
  content: " ";
  display: table;
}
.three-centered-col .product-list-item a:after {
  clear: both;
}
.three-centered-col .product-list-item-desc {
  position: absolute;
  bottom: 40%;
  left: 0;
  width: 100%;
}
.three-centered-col .product-list-item-desc > div span {
  background: #fff;
}
.pagination-block .status {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  color: grey;
}
.pagination-block .control {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-left: 10%;
}
.pagination-block .pages {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.arrow {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 16px;
  height: 19px;
  margin: 0 5px;
  background-image: url('../img/arrows.png');
  background-repeat: no-repeat;
}
.arrow.prev {
  background-position: left top;
}
.arrow.next {
  background-position: right top;
}
@media (max-width: 767px) {
  .site-header {
    padding-top: 0 !important;
  }
  .site-header .container {
    width: 100%;
    padding: 0 !important;
  }
  .site-header .header-subtitle {
    margin: 8% 0;
    padding: 0 2em;
  }
  .site-header #et_mobile_nav_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .site-header #et_mobile_nav_menu .select_page {
    display: none;
  }
  .site-header #et_mobile_nav_menu .mobile_nav {
    background-color: transparent;
  }
  .site-header #et-top-navigation {
    position: absolute;
    top: 8%;
    left: 0;
  }
  .site-header #et-top-navigation .et_mobile_menu {
    top: 60px;
    width: 100%;
    border-top: none;
  }
  .site-header #et-top-navigation .et_mobile_menu li a {
    width: 100%;
    padding: 5% 0;
    border-bottom: none;
    font-size: 1.4em;
    text-align: center;
  }
  .site-header #et-top-navigation .et_mobile_menu li + li {
    border-top: 1px solid #ccc;
  }
  .site-header #et-top-navigation .mobile_menu_bar:before {
    color: #fff !important;
  }
  .site-header .social-icons {
    display: none;
  }
  #start .start-content {
    width: 100%;
  }
  #start .start-label {
    padding: 1em;
    top: 47% !important;
    width: 111%;
    line-height: 1.3em !important;
  }
  #start .start-desc {
    display: none;
  }
  .basic-page .content {
    padding: 0 6%;
    border: none;
  }
  .basic-page .content h3 {
    font-size: 1.4em;
    color: inherit;
    text-decoration: underline;
  }
  .basic-page #info .info-links {
    display: none;
  }
  .header-pic {
    display: none;
  }
  .header-title {
    margin-top: 0;
    font-size: 1em;
  }
  .header-title h1 {
    margin: 1.3em 0 2em;
    font-weight: normal;
    color: #3d406d;
  }
  .header-title .colored-border {
    position: relative !important;
  }
  #latest .product-list-item {
    height: 180px;
  }
  #latest .product-list-item-desc {
    bottom: 10px !important;
  }
  #latest .product-list-item-desc .title {
    font-size: 0.9em;
    line-height: 1.4em;
  }
  #warranties {
    padding: 3% 0;
    text-align: center;
  }
  #warranties .col-sm-2 {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    width: 30%;
    height: auto;
    padding: 2% 0;
    text-align: center;
    line-height: normal;
  }
  #warranties .col-sm-2 span {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
  }
  #bottom-cta {
    position: relative;
  }
  #bottom-cta .section-strip {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #bottom-cta .section-strip .left-strip,
  #bottom-cta .section-strip .right-strip {
    height: 100%;
  }
  #bottom-cta .et_pb_column_1_3 {
    position: relative;
    width: 100%;
    padding-bottom: 0;
    z-index: 3;
  }
  #bottom-cta .et_pb_column_1_3 a {
    display: block;
  }
  #bottom-cta .et_pb_column_1_3 + .et_pb_column_1_3 {
    margin-top: 8px;
  }
  .et_right_sidebar #left-area {
    width: 100%;
  }
  .et_right_sidebar #sidebar {
    display: none;
  }
  .et_right_sidebar .container {
    padding: 0;
  }
  .sidebar {
    padding: 0 6%;
  }
  .colored-border {
    height: 8px;
  }
  .search-n-testimonial {
    margin-bottom: 2em;
  }
  .order-panel {
    display: none;
  }
  .product-list.rings-list {
    padding: 0;
  }
  .product-list .items-block {
    border-bottom: none;
  }
  .filters {
    padding: 0 6%;
  }
  .filters .col-sm-4 {
    float: left;
    width: 100%;
    margin-bottom: 2em;
  }
  .filters h4 {
    height: auto;
    padding-bottom: 0;
  }
  .filters .icheck-label span {
    margin-top: 4px;
  }
  .section-header {
    text-align: center;
  }
  .product-details .owl-carousel {
    width: 120%;
    margin-left: -10%;
  }
  .product-details .short-desc p {
    margin-bottom: 1em;
    padding: 0;
  }
  .product-details .form-control {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
  }
  .product-details .ring-full-details {
    margin-bottom: 14%;
    border: none;
  }
  .product-details .right-col {
    text-align: center;
  }
  .product-details .right-col .col-sm-6 {
    *zoom: 1;
    width: 100%;
    padding: 0;
  }
  .product-details .right-col .col-sm-6:before,
  .product-details .right-col .col-sm-6:after {
    content: " ";
    display: table;
  }
  .product-details .right-col .col-sm-6:after {
    clear: both;
  }
  .product-details .right-col .col-sm-6 h4 {
    padding-bottom: 0;
  }
  .product-details .right-col .col-sm-6 strong {
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 5px;
  }
  .product-details .right-col .col-sm-6 div {
    float: right;
    width: 50%;
    text-align: left;
    padding-left: 5px;
  }
  .product-details .socials a {
    margin: 0 3% !important;
  }
  .product-details .info-links a {
    margin: 0 5% !important;
    color: #0e92b3;
  }
  .product-details .row:first-child {
    border: none;
  }
  .mobile-stone-table .results-count {
    padding-left: 6%;
  }
  .mobile-stone-table .results-content {
    margin-bottom: 14%;
  }
  .mobile-stone-table .table-bottom {
    padding-top: 10%;
    text-align: center;
  }
  .mobile-stone-table .table-item {
    padding: 6% 0;
    font-size: 0.9em;
    border-bottom: 1px solid #d4d4d4;
  }
  .mobile-stone-table .table-item:first-child {
    border-top: 1px solid #d4d4d4;
  }
  .mobile-stone-table .table-item .col-xs-3 {
    padding-left: 6.4%;
    text-align: center;
  }
  .mobile-stone-table .table-item .col-xs-3 img {
    width: 80%;
  }
  .mobile-stone-table .table-item .col-xs-4 {
    padding: 0;
  }
  .mobile-stone-table .table-item .td {
    padding-right: 0;
  }
  .mobile-stone-table .table-item .price {
    height: 2.3em;
    font-size: 1.2em;
    font-weight: bold;
    color: #0e92b3;
  }
  .mobile-stone-table .table-item .view-btn a {
    color: #0e92b3;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  #et_mobile_nav_menu {
    display: none;
  }
  #et-top-navigation {
    right: 5%;
  }
  #main-header .mobile_nav {
    background-color: #fff !important;
  }
  #mobile_menu {
    width: auto !important;
  }
  .top-menu,
  .et_header_style_centered nav#top-menu-nav {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
  }
  #start .start-label {
    width: 60% !important;
    font-size: 1em !important;
  }
  #latest .product-list-item {
    height: 270px;
    font-size: 0.8em;
  }
  .et_pb_column {
    padding-bottom: 0;
  }
  .et_right_sidebar #left-area {
    float: left;
  }
  .et_right_sidebar #sidebar {
    float: right;
  }
  .et_right_sidebar .container {
    padding: 0;
  }
  #footer-widgets .fwidget {
    margin-left: 0 !important;
  }
}
@media (min-width: 981px) and (max-width: 1280px) {
  #start .start-label {
    width: 55%;
    font-size: 1.2em;
  }
  #latest .product-list-item {
    height: 270px;
    font-size: 0.8em;
  }
}
@media (max-width: 991px) {
  
}
@media (min-width: 1281px) {
  #latest .product-list-item {
    height: 350px;
    font-size: 0.8em;
  }
}
.share-big a {
  font-size: 2em;
  margin: 8px;
}
