
@import "_common";
@import "_header";
@import "_footer";

@import "_product_page";
@import "_products_list";
@import "_shop_bag";

@import "_wp"; 


.order-panel {
  position: absolute;
  right: 50px;
  z-index: 2;
}

.home {
  #main-content {

    h2 { color: @blue; font-weight: normal !important; font-size: 1.7em; }
    a { color: inherit; line-height: 1.5em; border: none; }
  }

}

.et_right_sidebar {
  #left-area {
    float: left;
    width: 68%;
    margin: 0;
  }
  #sidebar {
    float: right; 
    width: 28% !important;
    margin-left: 3%;
    .et_pb_widget {
      margin: 0 0 30px 30px;
    }
  }
}

.nav>li>a:focus { background-color: transparent; }

#start {
  margin: 75px 0 0 0;
  .left-block {
    padding-right: 0;
    text-transform: uppercase;
    .start-content { float: right; }
    .start-pic { img { right: 0; } }
    .start-label { right: 0; background: @dark-purple; }
    .start-desc {
      float: right;
      z-index: 2;
      width: 80%;
      text-align: center;
      color: @dark-purple;
      padding: 0 10%;
      h2 { color: @dark-purple; font-size: 1.7em; font-weight: normal; }
    }
  }
  a:hover { color: #fff !important; }
  .right-block {
    padding-left: 0;
    text-transform: uppercase;
    .start-content { float: left; padding-left: 5%; padding-right: 0 !important; }
    .start-label {
      left: 0;
      background: @blue;
    }
    .start-pic { img { left: 0;  } }
    .start-desc { float: left; z-index: 2; width: 80%; text-align: center; color: @blue; padding: 0 10%; }
  }
  .start-label {
    position: absolute;
    margin-top: -18%;
    padding: 20px 0;
    top: 50%;
    width: 52%;
    color: #fff;
    z-index: 2;
    font-size: 1.3em;
    opacity: 0.9;
    &:hover { opacity: 1; }

    @media (max-width: 767px) { font-size: 0.9em; }
  }
  .start-pic {
    position: relative;
    height: auto;
    padding-top: 80%;
    z-index: 0;
    img { position: absolute; top: 0; z-index: 0; opacity: 0;
      max-width: none;
      // -webkit-transform: scale(0.95);
      // -ms-transform: scale(0.95);
      // -o-transform: scale(0.95);
      // transform: scale(0.95);

      -webkit-transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
         -moz-transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
           -o-transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
              transition: opacity 500ms ease-in-out, transform 500ms ease-in-out; /* custom */


      &.active {
        opacity: 1;
        // -webkit-transform: scale(1);
        // -ms-transform: scale(1);
        // -o-transform: scale(1);
        // transform: scale(1);
      }

      @media (max-width: 767px) { height: 100%; width: auto; }
    }

    @media (max-width: 767px) { padding-top: 100%; }

  }


  .start-content {
    position: relative;
    padding-right: 5%;
    padding-bottom: 15%;
    color: #fff;
    width: 80%;
    text-align: center;
  }

}



#warranties {
  margin: 40px 0 60px;
  font-weight: bold;
  font-size: 0.8em;
  color: @dark-purple;
  text-transform: uppercase;

  .col-sm-2 {
    height: 140px;
    line-height: 140px;
    text-align: center;
    display: table;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -3px;
      top: 46%;
      width: 6px;
      height: 6px;
      background: rgba(61, 64, 109, 0.2);
      border-radius: 100px;
    }
    &:first-child:before { display: none; }
  }
  a { .inline-block; &:hover { color: @blue; } }
  span { display: table-cell; line-height: 140%; vertical-align: middle; }
}


.shapes {
  li {
    font-size: 50px;

    a {
      position: relative;
      &:after {

      }
      &:hover {
        color: @blue;

        &:after {
          color: @blue;
        }
      }

      .shape-title { display: none; margin-bottom: 10px; position: absolute; top: 0; left: 0; width: 100%; font-size: 14px; text-transform: uppercase; color: @blue; }
    }

  }
}


  .stones-results {
    .clearfix;
    font-size: 13px;
    .prop-titles {
      display: none;
      float: left;
      width: 30%;
      text-align: left;
      color: @dark-purple;
      >div { padding: 6px 0 0;  border-bottom: 1px solid #d4d4d4; }
    }
    .prop-values {
      float: left;
      width: 100%;
      text-align: left;
      >div { padding-left: 30%; padding-top: 6px; border-bottom: 1px solid #d4d4d4; }
      .price { font-size: 20px; color: @blue; }
    }
    .col1 {
      float: left;
      width: 30%;
      text-align: center;
      .stone-pic { float: right; width: 75%; text-align: right; a { width: 61%; margin-right: 14%; } }
      .prop-values { width: 70%; }
      .prop-titles { display: block; }
    }
    .col2 { float: left; width: 23%; text-align: center; }
    .col3 { float: left; width: 23%; text-align: center; }
    .col4 { float: left; width: 23%; text-align: center; }
    .stone-pic { margin-bottom: 20px;  a { .inline-block; width: 60%; img { width: 100%; } } }

    .stone-item {
      &.selected {
        color: @blue;
        .stone-pic {
          margin-bottom: 21px;
          a {
            padding: 10px;
            background: @blue;
            -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }

  }
  .stones-results-info {
      margin-top: 8%;
      a { margin-left: 1em; color: @blue; }
  }
  a { color: @dark-purple; }

  #stone-details {

    .pic { margin-bottom: 8%; text-align: center; img { width: auto; max-width: 100%; }}

    .stone-details-btn {
      float: left;
      width: 61px;
      height: 60px;
      padding-top: 70px;
      font-size: 10px;
      background: url('../img/icon-stone-details.png') no-repeat;
    }


  }


#stones-collection {
  &.basic {
    #stone-search-basic-params { display: block; }
    #stones-best-deal { display: block; }
    #stone-search-advanced-params { display: none; }
    #stones-results-table { display: none; }
  }
  &.advanced {
    #stone-search-advanced-params { display: block; }
    #stone-search-basic-params { display: none; }
    #stones-best-deal { display: none; }
    #stones-results-table { display: block; }
  }
}
#stone-search-advanced-params {
  .section-content >.row { margin-bottom: 10px;}
  .slider { margin-bottom: 0; }
  .labels { margin-bottom: 8%; }
  .params-item {
    margin: 0 5px;
    background-color: #F9F9F9;
    padding: 10px 15px 20px 15px;
    border-radius: 6px;
    border: 1px solid #EFEFEF;
  }
  .param-title {
    margin-bottom: 20px;
    padding: 0;
    color: #83808B;
    font-weight: bold;
  }
  .param-control {
    padding: 0;
  }
  .min-box, .max-box {
    margin-top: 1%;
    padding: 3px 14px;
    color: @dark-purple;
    font-size: 14px;
    text-align: center;
    border: 1px solid #d4d4d4;
    width: 120px;
    background-color: #fff;
    .rounded(5px);
  }
  .mark {
    float: left;
    padding: 0;
    text-align: center;
    color: #868484;
    font-size: 14px;
    background-color: inherit;
    &.selected { color: @blue; font-weight: bold; }
  }
  .cut-slider {
    .mark { width: 20%; }
  }
  .clarity-slider {
    .mark { width: 12.5%; }
  }
  .color-slider {
    .mark { width: 14.2%; }
  }

  .shapes-title { text-align: center; line-height: 4em; }
  .shapes {
    margin: -22px 0 25px;
    li {
      .inline-block;
      text-align: center;
      font-size: 70px;
      &.selected {
        .shape-title { .inline-block; }
        a { background-position: bottom; }
      }
    }
    a {
      display: block;
      height: 71px;
      background-position: top center;
      background-repeat: no-repeat;
      position: relative;
      padding: 0 10px;
      margin: 0 -6px;

      &.icon-marquise {
        margin-right: -17px;
        margin-left: -10px;
      }

      &.selected {
        color: @blue;
      }

      &:hover {
        .shape-title { .inline-block; }
      }
    }

    .shape-title {
      display: none;
      position: absolute;
      top: -45px;
      left: 0;
      width: 100%;
      text-align: center;
      font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

  }

  .lab-result {
    padding-bottom: 3px;
    .results-count { padding-right: 0; text-align: right; }
  }


}

#stones-results-table {
  position: relative;
  th {
    padding-top: 12px !important;
    a { color: #333 !important; }
  }
}
.results-content { position: relative; }
.stone-popup {
  position: absolute;
  z-index: 8;
  top: 0;
  right: -280px;
  width: 280px;
  background: #fff;
  border: 2px solid @blue;
  .head { padding: 20px 0 15px; background: #efefef; text-align: center; font-weight: bold; color: @dark-purple; }
  .main-info, .shipping-info { padding: 20px; }
  .shipping-info { padding-top: 0; }
  .title { .inline-block; line-height: 1.2em; color: #898989; }
  .value { .inline-block; margin: 0 0 8px; line-height: 1.2em; font-weight: bold; color: @dark-purple; }
}


.actions-top-block {
  a { text-decoration: none !important; }
  .sort-price {
    position: absolute;
    padding: 5px 10px;
    top: -1px;
    left: 0;
    border: 1px solid #d4d4d4;
    .down, .up {
      display: none;
      height: 12px;
      margin: 4px 0 0 10px;
      padding-right: 30px;
      line-height: 1em;
      color: @blue;
      background-image: url('../img/icon-order-arr.png');
      background-position: top right;
      background-repeat: no-repeat;
    }

    &.down { .down { .inline-block; background-position: top right; } }
    &.up { .up { .inline-block; background-position: bottom right; } }
  }
  .close-tabs {
    position: absolute;
    padding: 5px 30px;
    top: -1px;
    right: 0;
    background: #959595;
    color: #fff !important;
  }
}
.filters {
  .col-sm-4 { padding-left: 0; }
}

.rings-list, .recently-list {
  font-size: 12px;
}
.recently-list {
  padding: 0;
  .row { border-bottom: none; }
}


.order-panel {
  width: 262px;
  padding-top: 110px;
  background: url('../img/bg-order.png') no-repeat;
  text-transform: uppercase;
  color: @dark-purple;

  img { width: 100%; }

  #order-block {
    padding: 40px 23px 80px;
    border-right: 2px solid @blue;
    border-bottom: 2px solid @blue;
    border-left: 2px solid @blue;
    background: #fff;
  }

  .item {
    .clearfix;
    margin-bottom: 30px;
    h4 { margin-bottom: 0.5em; }
    .pic { float: left; width: 22%; }
    .desc {
      float: right;
      width: 78%;
      padding-left: 10px;
      text-align: right;
    }
    .price { color: @blue; }
    .button { margin: 15px 0 0 10px; padding-left: 10px; padding-right: 10px; font-size: 11px; }
  }

  .step1, .step2 {
    margin-bottom: 26px;
    text-align: center;
    >span { display: block; margin-bottom: 6px; font-size: 10px; font-weight: bold; }
  }

  .sum {
    .before, .subtotal, .tax, .total { .clearfix; margin: 0.8em 0; }
    margin-top: -10px;
    .left { float: left; width: 65%; line-height: 1em; }
    .right { float: right; width: 35%; text-align: right; line-height: 1em; }
    .before { color: #7e7e7e; }
    .total { margin-top: 10px; font-size: 17px; font-weight: bold; color: @blue; }
  }

  .place-order-btn {
    position: absolute;
    bottom: 23px;
    left: 23px;
    width: 218px;
    text-transform: uppercase;
  }

}



#signin {
  color: @dark-purple;
  .subtitle { margin: 2em 0 1em; text-transform: uppercase; font-weight: bold; }
  .right-col { .subtitle { margin-bottom: 4em; } }
  h1 { color: @dark-purple; }
  form { margin: 2em 0 6em; }
  .forgot { text-transform: none; text-align: right; }
}


#addresses {
  h1 { color: @dark-purple; }
  .col-sm-11 { padding: 0; }
  .subtitle { margin: 1em 0 2em; }
  .contact-form {
    background-color: #F9F9F9;
    padding: 23px 20px;
    border-radius: 6px;
    border: 1px solid #EFEFEF;
  }
  .subscribe-checkbox {
    margin-bottom: 1em;
    line-height: 1.6em;
  }
  .form-note {
    font-size: 11px;
  }
  .info {
    font-size: 16px;
  }
  .risk-free {
    padding-left: 20px;
    background: url(../img/icon-guarantee.png) no-repeat left center;
    background-size: 16px;    
  }
  .no-card {
    margin-bottom: 3em;
    .fa { opacity: 0.6; }
  }
  .show-placed {
    text-align: center;
    font-size: 22px;
  }
}

.actions {
  margin-bottom: 4em;
  p {
    margin-top: 1em;
    a { display: block; text-decoration: underline; color: @blue; }
    }
  }




/* Sliders */

slider {
  width: 100%;
  span.bar {
    height: 3px;
    top: 27%;
    &.selection { background-color: @blue; opacity: 1; }
    &.unselected { background-color: #808384; opacity: 1; }

  }
  span.bubble { display: none !important; }
  span.pointer {
    width: 20px;
    height: 20px;
    background-color: #fff;

    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.4);
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 5px solid @blue;
    cursor: pointer;
  }
}

.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100% !important;
  margin-bottom: 30px;
}
.slider.slider-horizontal {
  width: 100% !important;
  height: 20px;
}
.slider.slider-horizontal .slider-track {
  height: 3px;
  width: 100% !important;
  margin-top: -5px;
  top: 50%;
  left: 0;
}
.slider.slider-horizontal .slider-selection {
  height: 100%;
  top: 0;
  bottom: 0;
}
.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -8px;
}

.slider input {
  display: none;
}
.slider .tooltip-inner {
  white-space: nowrap;
}
.slider-track {
  position: absolute;
  cursor: pointer;
  background-color: #808384;

  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

}
.slider-selection {
  position: absolute;
  background-color: @blue;

  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;

  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.4);
  box-shadow: 0 0 4px rgba(0,0,0,.4);
  border: 5px solid @blue;
}
.slider-handle.round {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}


.basic-page {
  .content {
    margin-bottom: 8%;
    padding-right: 8%;
    border-right: 1px solid @blue;
    h3 { margin: 0; color: @dark-purple; }
    p { margin: 2em 0; }
  }
}
.sidebar {
  padding-left: 2%;
  h2 { color: inherit; font-size: 1.4em; }
  a { text-decoration: underline; color: @blue; }
  ul { margin-bottom: 3em; li { margin-bottom: 3px; } }
}


.three-centered-col {
  padding-top: 0;
  .col-md-10 { float: none; .inline-block; }
  .product-list-item { position: relative; margin-top: 0; font-size: 0.8em; a { .clearfix; } }
  .product-list-item-desc {
    position: absolute;
    bottom: 40%;
    left: 0;
    width: 100%;
    >div { span { background: #fff; } }
  }
}




.pagination-block {
  .status { .inline-block; color: grey; }
  .control { .inline-block; margin-left: 10%; }
  .pages { .inline-block; }
}

.arrow {
  .inline-block;
  width: 16px;
  height: 19px;
  margin: 0 5px;
  background-image: url('../img/arrows.png');
  background-repeat: no-repeat;
  &.prev { background-position: left top; }
  &.next { background-position: right top; }
}


@media (max-width: 767px) {
  .site-header {
    padding-top: 0 !important;

    .container { width: 100%; padding: 0 !important; }

    .header-subtitle { margin: 8% 0; padding: 0 2em; }

    #et_mobile_nav_menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      .select_page { display: none; }
      .mobile_nav { background-color: transparent; }
    }
    #et-top-navigation {
      position: absolute;
      top: 8%;
      left: 0;
      .et_mobile_menu {
        top: 60px;
        width: 100%;
        border-top: none;
        li a {
          width: 100%;
          padding: 5% 0;
          border-bottom: none;
          font-size: 1.4em;
          text-align: center;
        }
        li + li { border-top: 1px solid #ccc; }
      }
      .mobile_menu_bar:before { color: #fff !important; }
    }
    .social-icons { display: none; }
  }
  #start {
    .start-content { width: 100%; }
    .start-label { padding: 1em; top: 47% !important; width: 111%; line-height: 1.3em !important; }
    .start-desc { display: none; }
  }


  .basic-page {
    .content {
      padding: 0 6%;
      border: none;
      h3 { font-size: 1.4em; color: inherit; text-decoration: underline; }
    }

    #info { .info-links { display: none; } }
  }


  .header-pic { display: none; }
  .header-title {
    margin-top: 0;
    font-size: 1em;
    h1 {
      margin: 1.3em 0 2em;
      font-weight: normal;
      color: @dark-purple;
    }
    .colored-border {
      position: relative !important;
    }
  }

  #latest {
    .product-list-item {
      height: 180px;
    }
    .product-list-item-desc {
      bottom: 10px !important;
      .title { font-size: 0.9em; line-height: 1.4em; }
    }
  }


  #warranties {
    padding: 3% 0;
    text-align: center;
    .col-sm-2 {
      .inline-block;
      width: 30%;
      height: auto;
      padding: 2% 0;
      text-align: center;
      line-height: normal;
      span { .inline-block; }
    }
  }

  #bottom-cta {
    position: relative;
    .section-strip {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      .left-strip, .right-strip { height: 100%; }
    }
    .et_pb_column_1_3 {
      position: relative;
      width: 100%;
      padding-bottom: 0;
      z-index: 3;
      a { display: block; }
    }
    .et_pb_column_1_3 + .et_pb_column_1_3 { margin-top: 8px; }
  }

  .et_right_sidebar {
    #left-area {
      width: 100%;
    }
    #sidebar {
      display: none;
    }
    .container { padding: 0; }
  }

  .sidebar { padding: 0 6%; }

  .colored-border { height: 8px; }

  .search-n-testimonial { margin-bottom: 2em; }

  #main-footer {

  }


  //Store styles

  .order-panel {
    display: none;
  }


  .product-list {
    &.rings-list { padding: 0; }
    .items-block { border-bottom: none; }
  }

  .filters {
    padding: 0 6%;
    .col-sm-4 {
      float: left;
      width: 100%;
      margin-bottom: 2em;
    }
    h4 { height: auto; padding-bottom: 0; }
    .icheck-label span { margin-top: 4px; }
  }

  .section-header { text-align: center; }

  .product-details {
    .owl-carousel {
      width: 120%;
      margin-left: -10%;
    }
    .short-desc { p { margin-bottom: 1em; padding: 0; } }
    .form-control { .inline-block; }
    .ring-full-details { margin-bottom: 14%; border: none; }
    .right-col {
      text-align: center;
      .col-sm-6 {
        .clearfix;
        width: 100%;
        padding: 0;
        h4 { padding-bottom: 0; }
        strong { float: left; width: 50%; text-align: right; padding-right: 5px; }
        div { float: right; width: 50%; text-align: left; padding-left: 5px; }
      }
    }
    .socials { a { margin: 0 3% !important; } }
    .info-links { a { margin: 0 5% !important; color: @blue; } }
    .row:first-child { border: none; }
  }



  .mobile-stone-table {
    .results-count { padding-left: 6%; }
    .results-content { margin-bottom: 14%; }
    .table-bottom { padding-top: 10%; text-align: center; }
    .table-item {
      padding: 6% 0;
      font-size: 0.9em;
      border-bottom: 1px solid #d4d4d4;
      &:first-child { border-top: 1px solid #d4d4d4; }
      .col-xs-3 { padding-left: 6.4%; text-align: center; img { width: 80%; } }
      .col-xs-4 { padding: 0; }
      .td { padding-right: 0; }
      .price { height: 2.3em; font-size: 1.2em; font-weight: bold; color: @blue; }
      .view-btn { a { color: @blue; } }
    }
  }

}

@media (min-width: 768px) and (max-width: 980px) {
  #et_mobile_nav_menu {
    display: none;
  }
  #et-top-navigation { right: 5%; }
  #main-header .mobile_nav { background-color: #fff !important;  }
  #mobile_menu { width: auto !important; }
  .top-menu, .et_header_style_centered nav#top-menu-nav { .inline-block; }
  #start { .start-label { width: 60% !important; font-size: 1em !important; } }
  #latest { .product-list-item { height: 270px; font-size: 0.8em; } }
  .et_pb_column { padding-bottom: 0; }
  .et_right_sidebar {
    #left-area {
      float: left;
    }
    #sidebar {
      float: right;
    }
    .container { padding: 0; }
  }
  #footer-widgets {
    .fwidget { margin-left: 0 !important; }
  }
}

@media (min-width: 981px) and (max-width: 1280px) {
  .footer-bottom {  }
  #start { .start-label { width: 55%; font-size: 1.2em; } }
  #latest { .product-list-item { height: 270px; font-size: 0.8em; } }
}
@media (max-width: 991px) {
  .et_right_sidebar {
    //.container { padding: 0 5%; width: 100%; }
  }
}
@media (min-width: 1281px) {
  #latest { .product-list-item { height: 350px; font-size: 0.8em; } }
}


.share-big {
  a {
    font-size: 2em;
    margin: 8px;
  }

}
