  <!-- Template for login modal window -->
  <div class="modal-header">
    <h3 class="modal-title text-center">Please login using your email address</h3>
  </div>
  <div class="modal-body">

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model='userCredentials.username'>
        </div>
      </div>

      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model='userCredentials.password'>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" ng-click="login(userCredentials)">Login</button>
        </div>
      </div>
    </form>
  </div>
  <!-- End of the template -->