body {
  padding-bottom: 5em;
}

#logo {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  margin: 20px 15px;
  width: 245px;
  height: 41px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.wp-admin {
  position: relative;
  top: 1.6em;
  left: 40px;
    
}

.textBlock{
        		text-align: center;
        		width: auto;
        		background-color: lightyellow;
        		background-size: 50px;
        		border: 1px solid rgba(0,0,0,0.3);
        		border-radius: 5px;
			margin-left:auto;
			margin-right:auto;
        		padding: 3px;
        	}
.fontSize8{
		font-size:8pt;
	}
.fontSize9{
		font-size:9pt;
	}
.fontSize12{
		font-size:12pt;
	}
.fontSize16{
		font-size:16pt;
	}
.fontSize18{
		font-size:18pt;
	}

.fontSize22{
		font-size:22pt;
	}

.hoursBlock{
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 3px;
	padding: 3px;
}

.text-center {
    text-align: center;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.live-padding {
    padding-top: 25px;
    padding-bottom: 25px;
   	border: 1px solid #ccc;
	border-radius: 5px;

}

.nopadding { padding: 0; }
.noborder { border: none !important; }

.form-group {
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
}

.insta-box { padding-right: 10px; }
.menu-title {
  display: block;
  margin: 20px 0 10px 15px;
  font-weight: bold;
}

input[type="file"] { 
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 119px;
  margin: 0 0 20px 0 !important; 
}
input[type="file"]:before {
    display: block;
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
input[type="file"]:after {
    display: block;
    padding: 7px 12px;
    content: "Upload Images";
    position: absolute;
    top: 0;
    border-radius: 3px;    
    background: #ccc;
    cursor: pointer;
}
input[type="file"]:hover:after {
  background-color: #bdbdbd;
}
input[type="file"].files-upload {
  width: 103px;
}
input[type="file"].files-upload:after {
  content: "Upload Files";
}

#description .btn, #details .btn {
  margin-right: 0;
  padding: 3px 9px;
  font-size: 12px;
  font-weight: 600;
}

.ring-image {

}

td {
  font-size: 12px;
}
td .buttons {
  padding: 0;
  right: -15px;
}
.products-list tr {
  cursor: pointer;
}
td .buttons .btn { float: right; margin-bottom: 5px !important; width: 24px !important; }

.dataTables_wrapper { padding: 2em 0 !important; }

#inventory-upload-box {
  margin: 20px 0; 
}
